
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}

<link href="../assets/css/aboutusstylesheet.css" rel="stylesheet" />

<main id="main" class="main">
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">
        <div class="container">
            <!--Row 1-->
            <div class="row gy-4 d-flex justify-content-center first-row" style="background-color:#d38b4e">
                <div class="col-lg-6 order-3 order-lg-1 d-flex flex-column justify-content-center" style="justify-content:center;">
                    <h2 data-aos="fade-up">
                        The Gateway To AI Solutions
                    </h2>
                    <div class="gy-2 mt-2" data-aos="fade-up" data-aos-delay="400" style="text-align:center;">
                        <p>
                            Committed to provide top-tier, affordable AI services in order to transform your business.
                        </p>
                    </div>
                </div>

                <div class="col-lg-1 order-2 order-lg-2">
                </div>

                <div class="col-lg-5 order-1 order-lg-3 hero-img" data-aos="zoom-out">
                    <img src="../assets/img/about/about-us-banner.png" class="img-fluid mb-3 mb-lg-0" alt="">
                </div>
            </div>
        </div>
    </section><!-- End Hero Section -->
</main>
