
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}

<link href="../assets/css/aboutusstylesheet.css" rel="stylesheet" />

<main id="main" class="main">
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">
        <div class="container">
            <!--Row 1-->
            <div class="row d-flex justify-content-center first-row">
                <div class="col-lg-6 order-3 order-lg-1 d-flex flex-column justify-content-center" style="justify-content:center;">
                    <h2 data-aos="fade-up">
                        About Us
                    </h2>
                    <div class="gy-2 mt-2" data-aos="fade-up" data-aos-delay="400" style="text-align:center;">
                        <p>
                            Committed to transforming your business with top-tier, affordable AI services.
                        </p>
                    </div>
                </div>

                <div class="col-lg-1 order-2 order-lg-2">
                </div>

                <div class="col-lg-5 order-1 order-lg-3 hero-img" data-aos="zoom-out">
                    <img src="~/assets/img/about/about us/about_us_v2.svg" class="img-fluid mb-3 mb-lg-0" alt="About Us" />

                </div>
            </div>
        </div>
    </section><!-- End Hero Section -->

    <section id="JoinUs" class="JoinUs pt-0">
        <div class="container" data-aos="fade-up">
            @*<div class="section-header">
            <hr />
            <h3 class="justify-content-start align-items-center"><label style="background-color:#fff; padding:0 1.3em 0 1.3em;">How</label></h3>
            </div>*@

            <!--Row 2 Join Us-->
            <div class="row justify-content-center" style="padding:40px 0;">
                <div class="col-lg-12 px-lg-5">
                    <div class="title">
                        <label>
                            Aephy is on a mission to empower businesses with cutting-edge AI services that deliver real-world results
                        </label>
                    </div>
                    <div class="description">
                        <p>
                            Founded in 2023 by Dimitrios Vamvakas, MSc in economics, Aephy is a dedicated platform that offers cutting-edge AI solutions to businesses, provided by exceptional freelancers. We are passionate about enabling businesses of all sizes to leverage the power of AI and achieve their goals.
                            <br /><br />
                            Through our extensive network of AI experts, we provide a diverse range of AI projects tailored to meet the unique needs of different industries. Our freelancers specialize in key areas such as AI strategy and consulting, AI engineering, data science and analytics, and AI operations. This ensures that we have the expertise to deliver highquality solutions that drive business success.
                            <br /><br />
                            At Aephy, we believe in the power of collaboration. We promote close client collaboration within our network to gain a comprehensive understanding of your specific requirements and objectives. This collaborative approach allows our freelancers to create customized AI projects that align perfectly with your vision, ensuring maximum impact and value for your business.
                            <br /><br />
                            We take immense pride in the transformative impact our AI projects have had on businesses. Our network of specialists has consistently helped streamline operations, optimize processes, and enhance customer experiences, empowering businesses to stay ahead in today's competitive landscape.
                            <br /><br />
                            Join our platform today and unlock the full potential of AI projects provided by our talented freelancers. Experience the innovation, expertise, and exceptional results that AI can bring to your business, propelling you to new heights of success.
                            <br /><br />
                            We look forward to partnering with you on your AI journey.
                        </p>
                    </div>
                    <div class="content">
                        <div class="image"><img src="~/assets/img/about/founder-image.png" /></div>
                        <div class="info">
                            <div class="name">Dimitris Vamvakas</div>
                            <div class="role">
                                <label>Founder & CEO</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row gy-4" style="padding:50px 0;">
                <div class="col-lg-5 position-relative align-self-center order-lg-first order-first">
                    <div style="text-align:center;">
                        <img src="~/assets/img/join-us.svg" class="img-fluid" alt="" />

                    </div>
                </div>
                <div class="col-lg-7 content order-last order-lg-last d-block" style="position:relative; justify-content:center; align-items:center;">
                    <div style="text-align:center; padding-top:14%;" class="title">
                        <label>
                            Join us
                        </label>
                    </div>
                    <div style="text-align:center;">
                        <a class="btn btn-brand ms-lg-3 m-4" href="~/Home/Login">Login</a>
                        <a class="btn btn-brand ms-lg-3 m-4" href="~/Home/Register">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
