@{
    ViewData["Title"] = "BrowseSolution";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}
<link href="../assets/css/browsesolutionstylesheet.css" rel="stylesheet" />

<main class="main" id="main">
    <!-- Browse Section -->
    <section id="browseSolutions" class="browseSolutions">
        <div class="container">
            <div class="section-header">
                <hr />
                <h3 class="justify-content-start align-items-center"><label class="mx-lg-5 mx-2" style="background-color:#fff; padding:0 1em 0 1em;">Browse Solutions</label></h3>
            </div>
            <div class="row gy-4 mt-4 d-flex" style="background-color:#f5f5f5; border-radius:10px;">
                <div class="col-12 d-block my-2">
                    <select class="dropdown btn-dropdown" name="service" id="select-services">
                        <option value="5000">All Services</option>
                        <option value="5">AI Strategy and Consulting</option>
                        <option value="10">AI Engineering</option>
                        <option value="15">AI Data Science and Analytics</option>
                        <option value="20">AI Operations</option>
                    </select>

                    <select class="dropdown btn-dropdown" name="solution" id="select-solutions">
                        <option value="5000">All Solutions</option>
                        <option value="5">AI Roadmap Development</option>
                        <option value="10">AI Readiness Assessment</option>
                        <option value="15">AI Vendor Selection and Management</option>
                        <option value="20">AI Governance and Ethics</option>
                        <option value="50">AI Business Case Development</option>
                    </select>

                    <select class="dropdown btn-dropdown" name="service" id="select-services">
                        <option value="5000">All Industies</option>
                        <option value="5">Retail</option>
                        <option value="10">Finance</option>
                        <option value="15">Healthcare</option>
                        <option value="20">Manufacturing </option>
                        <option value="50">Marketing</option>
                        <option value="70">Real Estate</option>
                        <option value="100">Energy</option>
                        <option value="100">Education</option>
                        <option value="100">Other Industries</option>
                    </select>

                    <select class="dropdown btn-dropdown" name="level" id="select-levels">
                        <option value="5000">Budget</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="70">70</option>
                        <option value="100">100</option>
                    </select>
                </div>
            </div>

<!-- Solutions Card Row -->
            <div class="row gy-4 py-4">
                <div class="col-md-6 col-xl-4">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="card-img justify-content-lg-center">
                                <img src="../assets/img/whyaephy/ai-roadmap.png" alt="" class="img-fluid" data-aos="zoom-out">
                            </div>
                            <h3>
                                <a href="#" class="stretched-link">
                                    AI Roadmap Development
                                </a>
                            </h3>
                            <p>
                                Develop a comprehensive AI strategy and roadmap tailored to your organization's specific needs and goals.
                            </p>
                            <div class="icon-image">
                                <i class="bi bi-shop-window"></i>
                                <label>Retail</label>
                                <i class="bi bi-credit-card"></i>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="price">
                                <label>From $100</label>
                            </div>
                            <div class="like">
                                <i class="bi bi-heart"></i>
                            </div>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->

                <div class="col-md-6 col-xl-4">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="card-img justify-content-lg-center">
                                <img src="../assets/img/whyaephy/ai-readiness.png" alt="" class="img-fluid" data-aos="zoom-out">
                            </div>
                            <h3>
                                <a href="#" class="stretched-link">
                                    AI Readiness Assessment
                                </a>
                            </h3>
                            <p>
                                Assess your organization's readiness for AI implementation and identify any gaps or areas of improvement.
                            </p>
                            <div class="icon-image">
                                <i class="bi bi-shop-window"></i>
                                <label>Retail</label>
                                <i class="bi bi-credit-card"></i>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="price">
                                <label>From $100</label>
                            </div>
                            <div class="like">
                                <i class="bi bi-heart"></i>
                            </div>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->

                <div class="col-md-6 col-xl-4">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="card-img justify-content-lg-center">
                                <img src="../assets/img/whyaephy/ai-readiness.png" alt="" class="img-fluid" data-aos="zoom-out">
                            </div>
                            <h3>
                                <a href="#" class="stretched-link">
                                    AI Readiness Assessment
                                </a>
                            </h3>
                            <p>
                                Assess your organization's readiness for AI implementation and identify any gaps or areas of improvement.
                            </p>
                            <div class="icon-image">
                                <i class="bi bi-shop-window"></i>
                                <label>Retail</label>
                                <i class="bi bi-credit-card"></i>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="price">
                                <label>From $100</label>
                            </div>
                            <div class="like">
                                <i class="bi bi-heart"></i>
                            </div>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
            </div>
        </div>
    </section>

    <!-- ======= How Section ======= -->
    <section id="How" class="How pt-0">
        <div class="container" data-aos="fade-up">
            
        </div>
    </section><!-- End Services Section -->
</main>