@{
    ViewData["Title"] = "Browse solution";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}
<link href="../assets/css/browsesolutionstylesheet.css" rel="stylesheet" />

<main class="main" id="main">
    <!-- Browse Section -->
    <section id="browseSolutions" class="browseSolutions cls-fixed-common">
        <div class="container">
            <div class="section-header">
                <hr />
                <h3 class="justify-content-start align-items-center service-title-size">
                    <label class="mx-lg-5 mx-2" style="background-color:#fff; padding:0 1em 0 1em;color: #001973;">Browse Solutions</label>
                </h3>
            </div>
            <div class="row gy-4 mt-4 d-flex" style="background-color:#f5f5f5; border-radius:10px;">
                <div class="col-12 d-block my-2 columnDdl">
                    <select class="dropdown btn-dropdown cls-Services" name="service" id="select-services">
                        <option value="All">All Services</option>
                    </select>

                    <select class="dropdown btn-dropdown cls-solution" name="solution" id="select-solutions">
                        <option value="All">All Solutions</option>
                    </select>

                    <select class="dropdown btn-dropdown cls-Industries" name="service" id="select-industries">
                        <option value="All">All Industies</option>
                    </select>

                    @* FINAL RELEASE*@
                    <select class="dropdown btn-dropdown cls-temp-common" name="level" id="select-budget">
                        <option value="All">Budget</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                        <option value="300">300</option>
                        <option value="400">400</option>
                        <option value="500">500</option>
                        <option value="600">600</option>
                        <option value="700">700</option>
                    </select>
                    @* FINAL RELEASE*@
                </div>
            </div>

            <!-- Solutions Card Row -->
            <div class="row gy-4 py-4">
                <div class="col-md-6 col-xl-4">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="card-img justify-content-lg-center">
                                <img src="../assets/img/whyaephy/ai_roadmap_development.jpg" alt="" class="img-fluid" data-aos="zoom-out">
                            </div>
                            <h3>
                                <a href="#" class="stretched-link section-title-size" data-bs-toggle="modal" data-bs-target="#confirmationModal" onclick="checkData();">
                                    AI Roadmap Development
                                </a>
                            </h3>
                            <p class="section-detail-size">
                                Develop a comprehensive AI strategy and roadmap tailored to your organization's specific needs and goals.
                            </p>
                            <div class="icon-image">
                                <i class="bi bi-shop-window"></i>
                                <label>Retail</label>
                                <i class="bi bi-credit-card"></i>
                                <label>Finance</label>
                                <label class="pl-5">+ 7 more</label>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="price">
                                <label>From $100</label>
                            </div>
                            <div class="like">
                                <i class="bi bi-heart"></i>
                            </div>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->

                <div class="col-md-6 col-xl-4">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="card-img justify-content-lg-center">
                                <img src="../assets/img/whyaephy/ai_readiness_assesment.jpg" alt="" class="img-fluid" data-aos="zoom-out">
                            </div>
                            <h3>
                                <a href="#" class="stretched-link section-title-size" data-bs-toggle="modal" data-bs-target="#confirmationModal" onclick="checkData();">
                                    AI Readiness Assessment
                                </a>
                            </h3>
                            <p class="section-detail-size">
                                Assess your organization's readiness for AI implementation and identify any gaps or areas of improvement.
                            </p>
                            <div class="icon-image">
                                <i class="bi bi-shop-window"></i>
                                <label>Retail</label>
                                <i class="bi bi-credit-card"></i>
                                <label>Finance</label>
                                <label class="pl-5">+ 7 more</label>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="price">
                                <label>From $100</label>
                            </div>
                            <div class="like">
                                <i class="bi bi-heart"></i>
                            </div>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->

                <div class="col-md-6 col-xl-4">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="card-img justify-content-lg-center">
                                <img src="../assets/img/whyaephy/ai_readiness_assesment.jpg" alt="" class="img-fluid" data-aos="zoom-out">
                            </div>
                            <h3>
                                <a href="#" class="stretched-link section-title-size" data-bs-toggle="modal" data-bs-target="#confirmationModal" onclick="checkData();">
                                    AI Readiness Assessment
                                </a>
                            </h3>
                            <p class="section-detail-size">
                                Assess your organization's readiness for AI implementation and identify any gaps or areas of improvement.
                            </p>
                            <div class="icon-image">
                                <i class="bi bi-shop-window"></i>
                                <label>Retail</label>
                                <i class="bi bi-credit-card"></i>
                                <label>Finance</label>
                                <label class="pl-5">+ 7 more</label>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="price">
                                <label>From $100</label>
                            </div>
                            <div class="like">
                                <i class="bi bi-heart"></i>
                            </div>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="confirmationModal" aria-labelledby="confirmationModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Select Project</h4>
                    <a class="close" data-dismiss="#confirmationModal"><i class="bi bi-x-circle"></i></a>
                </div>
                <div class="modal-body p-0">
                    <div class="container-fluid containerModel">
                        <!-- First Row -->
                        <div class="row gy-4 mt-4 mx-lg-4">
                            <div class="col-lg-6 order-1 order-lg-1 my-4 first-col">
                                <h3 data-aos="fade-up">
                                    Let’s start
                                </h3>
                                <p data-aos="fade-up" data-aos-delay="100">
                                    Select the appropriate
                                    options; Get a step closer to
                                    transform your business.
                                </p>
                            </div>

                            <div class="col-lg-6 align-items-center order-3 order-lg-3 justify-content-center my-4" style="position:relative; display:grid;">
                                @*  @using (Html.BeginForm("BrowseSolution", "LandingPage", FormMethod.Post, new { enctype = "multipart/form-data", id = "BrowseSolution" }))
                                {
                                <div class="col d-flex flex-column">
                                <label data-aos="fade-up">Select Service</label>
                                <select class="dropdown btn-dropdown form-select cls-Services" name="service" id="confirm-services" title="Select Services" required>
                                </select>
                                </div>

                                <div class="col d-flex flex-column">
                                <label data-aos="fade-up">Select Solution</label>
                                <select class="dropdown btn-dropdown form-select cls-solution" name="solution" id="confirm-solutions" title="Select Solutions" required>
                                </select>
                                </div>

                                <div class="col d-flex flex-column">
                                <label data-aos="fade-up">Select Industry</label>
                                <select class="dropdown btn-dropdown form-select cls-Industries" name="industry" id="confirm-industries" title="Select Industry" required>
                                Select Industry
                                </select>
                                </div>

                                <div class="col d-flex justify-content-end">
                                <input type="submit" name="confirm" value="Confirm" class="btn btn-brand my-3 mx-0" />
                                </div>
                                }*@
                                <div class="col d-flex flex-column">
                                    <label data-aos="fade-up">Select Service</label>
                                    <select class="dropdown btn-dropdown form-select cls-Services" name="service" id="confirm-services" title="Select Services" required>
                                    </select>
                                </div>

                                <div class="col d-flex flex-column">
                                    <label data-aos="fade-up">Select Solution</label>
                                    <select class="dropdown btn-dropdown form-select cls-solution" name="solution" id="confirm-solutions" title="Select Solutions" required>
                                    </select>
                                </div>

                                <div class="col d-flex flex-column">
                                    <label data-aos="fade-up">Select Industry</label>
                                    <select class="dropdown btn-dropdown form-select cls-Industries" name="industry" id="confirm-industries" title="Select Industry" required>
                                        Select Industry
                                    </select>
                                </div>

                                <div class="col d-flex justify-content-end">
                                    @*<button type="button" name="confirm" value="Confirm" class="btn btn-brand my-3 mx-0" />*@
                                    <button type="button" class="btn btn-brand" onclick="GetSelectedValues()">Confirm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</main>

<script>
    $(document).ready(function () {

        $('.close').on('click', function () {
            $('#confirmationModal').modal('hide');
        });
        BindIndustries()
        BindServices()
        BindSolution()

    });

    function checkData() {

        const selectService = '#select-services';
        const selectSolution = '#select-solutions';
        const selectIndustrie = '#select-industries';

        var selectedService = $(selectService).val();
        var selectedSolution = $(selectSolution).val();
        var selectedIndustries = $(selectIndustrie).val();
        var defaultSelect = 'default';

        if (selectedService != 'All') {
            $('#confirm-services').val(selectedService);
            $('#confirm-services').find(':not(:selected)').prop('disabled', true);
            $('#confirm-services').css('cursor', 'not-allowed');
        } else {
            $('#confirm-services').val(defaultSelect);
            $('#confirm-services').find(':not(:selected)').removeAttr('disabled', true);
            $('#confirm-services').css('cursor', 'default');
        }

        if (selectedSolution != 'All') {
            $('#confirm-solutions').val(selectedSolution);
            $('#confirm-solutions').find(':not(:selected)').prop('disabled', true);
            $('#confirm-solutions').css('cursor', 'not-allowed');
        } else {
            $('#confirm-solutions').val(defaultSelect);
            $('#confirm-solutions').find(':not(:selected)').removeAttr('disabled');
            $('#confirm-solutions').css('cursor', 'default');
        }

        if (selectedIndustries != 'All') {
            $('#confirm-industries').val(selectedIndustries);
            $('#confirm-industries').find(':not(:selected)').prop('disabled', true);
            $('#confirm-industries').css('cursor', 'not-allowed');
        } else {
            $('#confirm-industries').val(defaultSelect);
            $('#confirm-industries').find(':not(:selected)').removeAttr('disabled');
            $('#confirm-industries').css('cursor', 'default');
        }
    }


    function BindIndustries() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetIndustryList", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                $.each(result.Result, function (data, value) {
                    $(".cls-Industries").append($("<option     />").val(value.Id).text(value.IndustryName));
                })

            },
            error: function (result) {
                alert("failure");
            }
        });
    }

    function BindServices() {
        $.ajax({
            type: "Get",
            url: "@Url.Action("GetServicesList", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                $.each(result.Result, function (data, value) {
                    $(".cls-Services").append($("<option     />").val(value.Id).text(value.ServicesName));
                })

            },
            error: function (result) {
                alert("failure");
            }
        });
    }

    function BindSolution() {
        $.ajax({
            type: "Get",
            url: "@Url.Action("GetSolutionList", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                $.each(result.Result, function (data, value) {
                    $(".cls-solution").append($("<option     />").val(value.Id).text(value.Title));
                })

            },
            error: function (result) {
                alert("failure");
            }
        });
    }

    function GetSelectedValues() {
        var Industries = $("#confirm-industries option:selected").text();
        var Services = $("#confirm-services option:selected").text();
        var Solution = $("#confirm-solutions option:selected").text();
        $.ajax({
            type: "POST",
            url: "@Url.Action("BrowseSolution", "LandingPage")",
            data: { 'Industry': Industries, 'Services': Services, 'Solution': Solution },
            success: function (result) {
                if (result == "Success"){
                    window.location.href = '/LandingPage/Project'
                }
                else{
                    alert(result)
                }
                
            },
            error: function (result) {
                alert("Something Went Wrong");
            }
        });
    }
</script>