@{
    ViewData["Title"] = "Careers";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}

<link href="../assets/css/careersstylesheet.css" rel="stylesheet" />

<main id="main" class="main">
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center first-row" style="background-color:#d38b4e;overflow:hidden;">
                <div class="col-lg-7 order-2 order-lg-1 d-flex flex-column justify-content-center" style="justify-content:center;">
                    <h2 data-aos="fade-up" style="text-align: left;">
                        Join our Team and Help Drive the Future of AI Consulting
                    </h2>
                    <p data-aos="fade-up" data-aos-delay="100" style="color:#fff;text-align:left;font-size:18px;padding-top: 3%;">
                        Discover Exciting Employment Opportunities at Aephy and Contribute to the Future of AI Consulting
                    </p>
                    <div class="gy-2" data-aos="fade-up" data-aos-delay="400">
                        <a href="~/LandingPage/CareerOpenRoles" class="btn btn-white">Employment Opportunities</a>
                    </div>
                </div>

                @*<div class="col-lg-1 order-2 order-lg-2">
                </div>*@

                <div class="col-lg-5 order-1" data-aos="zoom-out" style="padding: 0;">
                    <img src="../assets/img/about/careers/Careers.svg" class="img-fluid whyaephyhomeImage" alt="" 
                    style="margin-left: 5%;">
                </div>
            </div>
        </div>
    </section><!-- End Hero Section -->

    <section id="JoinUs" class="JoinUs pt-0">
        <div class="container" data-aos="fade-up">
            @*<div class="section-header">
            <hr />
            <h3 class="justify-content-start align-items-center"><label style="background-color:#fff; padding:0 1.3em 0 1.3em;">How</label></h3>
            </div>*@

            <!--Row 2 Join Us-->
            <div class="row justify-content-center" style="padding:40px 0;">
                <div class="col-lg-12 px-lg-5">
                    <div class="title">
                        <label>
                            Our mission is to generate economic opportunities that enhance people's quality of life
                        </label>
                    </div>
                    <div class="description">
                        <p>
                            We're always looking for talented and passionate individuals to join our team and help us achieve our mission of providing top-tier AI services to businesses worldwide. As an employee of our platform, you'll have the opportunity to work on cutting-edge projects and be part of a dynamic and diverse team.
                            <br /><br />
                            Our platform is dedicated to providing the best AI consulting services to our clients. As a member of our team, you'll have the chance to contribute to this mission by helping us develop, promote, and improve our platform. From marketing and business development to software engineering and data science, we have a wide range of career opportunities available.
                            <br /><br />
                            We're committed to providing our employees with a supportive and inclusive work environment that fosters growth and creativity. As a member of our team,you'll have access to ongoing training and development opportunities, as well as a competitive compensation and benefits package.
                            <br /><br />
                            If you're passionate about AI and eager to join a team that is at the forefront of the industry, we highly encourage you to apply.
                        </p>
                    </div>
                    <div class="content">
                        <div class="image"><div>HR</div>@*<img src="~/assets/img/about/founder-image.png" />*@</div>
                        <div class="info">
                            <div class="name">
                                Talent &<br />
                                Acquisition
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div style="text-align:center;">
                        <img src="../assets/img/about/careers/career.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

            <!--Row 3 Our hiring responsibilities-->
            <div class="row justify-content-center" style="padding:50px 0;">
                <div class="col-lg-6 content order-lg-first order-first">
                    <img src="../assets/img/about/careers/our hiring responsibility.jpg" class=" img-fluid" alt="">
                </div>
                <div class="col-lg-6 px-lg-5 order-lg-last order-last">
                    @*<img src="~/assets/img/opengigsimage.png" class="img-fluid" alt="">*@
                    <h3>
                        Our Hiring Responsibility
                    </h3>
                    <ul>
                        <li data-aos="fade-up" data-aos-delay="100">
                            <i class="bi bi-caret-right-fill"></i>
                            <div>
                                <h5>Diversity and inclusion</h5>
                                <p>
                                    We are committed to building a diverse and inclusive team, and we actively seek out candidates from all backgrounds and walks of life.
                                </p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="200">
                            <i class="bi bi-caret-right-fill"></i>
                            <div>
                                <h5>
                                    Ongoing training and development
                                </h5>
                                <p>
                                    We believe in investing in our employees and providing ongoing training and development opportunities to help them grow and advance in their careers.
                                </p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="300">
                            <i class="bi bi-caret-right-fill"></i>
                            <div>
                                <h5>
                                    Competitive compensation and benefits
                                </h5>
                                <p>
                                    We offer competitive compensation packages and a range of benefits to attract and retain top talent.
                                </p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="400">
                            <i class="bi bi-caret-right-fill"></i>
                            <div>
                                <h5>
                                    Open communication and collaboration
                                </h5>
                                <p>
                                    We foster a culture of open communication and collaboration, where everyone's ideas and contributions are valued and respected.
                                </p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="400">
                            <i class="bi bi-caret-right-fill"></i>
                            <div>
                                <h5>
                                    Flexibility and work-life balance
                                </h5>
                                <p>
                                    We understand the importance of work-life balance and offer flexible working arrangements to help our employees achieve their personal and professional goals.
                                </p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="400">
                            <i class="bi bi-caret-right-fill"></i>
                            <div>
                                <h5>
                                    Rigorous screening
                                </h5>
                                <p>
                                    We take our hiring process seriously and make sure that all candidates go through a thorough screening process to ensure that we only hire the best talent.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!--Row 4 Our culture-->
            <div class="row justify-content-center" style="padding:50px 0;">
                <div class="col-lg-6 content order-lg-last order-first">
                    <img src="../assets/img/about/careers/our_culture.jpg" class=" img-fluid" alt="">
                </div>
                <div class="col-lg-6 px-lg-5 order-lg-first order-last">
                    <h3>
                        Our Culture
                    </h3>
                    <ul>
                        <li data-aos="fade-up" data-aos-delay="100">
                            <i class="bi bi-caret-right-fill"></i>
                            <div>
                                <h5>Mission-driven</h5>
                                <p>
                                    We are a mission-driven company, and our employees are passionate about creating economic opportunities for people to have better lives.
                                </p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="200">
                            <i class="bi bi-caret-right-fill"></i>
                            <div>
                                <h5>
                                    Innovative
                                </h5>
                                <p>
                                    We are always looking for new and better ways to deliver value to our customers, and we encourage our employees to think creatively and push the boundaries of what's possible.
                                </p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="300">
                            <i class="bi bi-caret-right-fill"></i>
                            <div>
                                <h5>
                                    Collaborative
                                </h5>
                                <p>
                                    We believe that the best results are achieved through collaboration and teamwork, and we foster a culture of open communication and mutual respect.
                                </p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="400">
                            <i class="bi bi-caret-right-fill"></i>
                            <div>
                                <h5>
                                    Inclusive
                                </h5>
                                <p>
                                    We value diversity and inclusivity and strive to create a workplace where everyone feels welcome, respected, and valued.
                                </p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="400">
                            <i class="bi bi-caret-right-fill"></i>
                            <div>
                                <h5>
                                    Fun and supportive
                                </h5>
                                <p>
                                    We believe that work should be enjoyable and fulfilling, and we work hard to create a fun and supportive workplace culture where everyone can thrive.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row gy-4" style="padding:50px 0;">
                <div class="col-lg-5 position-relative align-self-center order-lg-first order-first">
                    <div style="text-align:center;">
                        <img src="~/assets/img/join-us.svg" class="img-fluid" alt="" />
                    </div>
                </div>
                <div class="col-lg-7 content order-last order-lg-last d-block" style="position:relative; justify-content:center; align-items:center;">
                    <div style="text-align:center; padding-top:15%;" class="title">
                        <label>
                            Contact us for more information <br /><a href="#" style="color: blue;text-decoration: underline;cursor: pointer;">contact@ephylink.com</a>
                        </label>
                    </div>
                   @* <div style="text-align:center;">
                        <a class="btn btn-brand ms-lg-3 m-4" href="~/Home/Login">Login</a>
                        <a class="btn btn-brand ms-lg-3 m-4" href="~/Home/Register">Sign Up</a>
                    </div>*@
                </div>
            </div>
        </div>
    </section>
</main>

