@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}
<link href="../assets/css/contactstylesheet.css" rel="stylesheet" />
<main class="main" id="main cls-fixed-common">
    <!-- ======= Contact Us Section ======= -->
    <section id="AlwaysEvolving" class="AlwaysEvolving">
        <div class="container px-lg-5 px-2">
            <div class="section-header">
            @*<span>Why us</span>*@
            <h2>Contact Us</h2>
            </div>
            <div class="row justify-content-center first-row" style="background-color: #f5f5f5;">
                <div class="col-lg-5 content order-lg-last order-first" style="position: relative;display: grid;justify-content:center;align-items:center;">
                    <img src="~/assets/img/about/careers/contact_us_blue.svg" class=" img-fluid" alt="">
                </div>
                <div class="col-lg-7" style="position: relative;padding-top: 10%;">
                    <h3 data-aos="fade-up">
                        Inquiries
                    </h3>
                        <a href="mailto:contact@Aephy.com">contact@Aephy.com</a>
                </div>
            </div>

            <div class="row justify-content-center first-row mt-5">
                <div class="col-lg-6 content order-lg-first order-last">
                    <div class="map">
                        <div class="map-responsive">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50310.605369180805!2d23.69713963922665!3d37.990830014198835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a1bd1f067043f1%3A0x2736354576668ddd!2sAthens%2C%20Greece!5e0!3m2!1sen!2sin!4v1687934701128!5m2!1sen!2sin" width="400" height="400" style="border:0;width:100%;" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-last order-first" style="position: relative;display: block;">
                    <h3 data-aos="fade-up" class="d-flex" style=" margin-left: 30%;">
                        Global HQ
                    </h3>
                    <div class="my-5 d-flex" style="margin-left: 30%;">
                        <a href="https://goo.gl/maps/H2PAhRqicusVUSHW8">
                            Athens, Greece
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

