@{
    ViewData["Title"] = "FAQ";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}
<main id="main" class="main cls-fixed-common">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title faq-title">Account Settings and Personal Details</h5>
            <div class="accordion accordion-flush" id="faq-group-accountsettings">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed section-title-size" data-bs-target="#faqsTwo-1" type="button" data-bs-toggle="collapse">
                            How does the signup and login process work?
                        </button>
                    </h2>
                    <div id="faqsTwo-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-accountsettings">
                        <div class="accordion-body">
                            Upon signing up, users have the option to register either as a client or a freelancer. Freelancers can apply for jobs, and if accepted, they gain full platform functionality. Clients can request project proposals or purchase a project.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed section-title-size" data-bs-target="#faqsTwo-2" type="button" data-bs-toggle="collapse">
                            How can I change my account settings or personal details?
                        </button>
                    </h2>
                    <div id="faqsTwo-2" class="accordion-collapse collapse" data-bs-parent="#faq-group-accountsettings">
                        <div class="accordion-body">
                            You can change your account settings, including your personal information, by navigating to your profile and selecting the relevant Edit Profile options.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed section-title-size" data-bs-target="#faqsTwo-3" type="button" data-bs-toggle="collapse">
                            I forgot my password. How can I reset it?
                        </button>
                    </h2>
                    <div id="faqsTwo-3" class="accordion-collapse collapse" data-bs-parent="#faq-group-accountsettings">
                        <div class="accordion-body">
                            If you forgot your password, click on the "Forgot Password" link on the login page. You will receive an email with instructions on how to reset your password.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed section-title-size" data-bs-target="#faqsTwo-4" type="button" data-bs-toggle="collapse">
                            Is my personal information safe on the platform?
                        </button>
                    </h2>
                    <div id="faqsTwo-4" class="accordion-collapse collapse" data-bs-parent="#faq-group-accountsettings">
                        <div class="accordion-body">
                            Yes, your personal information is safe with us. We adhere to stringent data protection laws and employ advanced security measures to protect your data.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed section-title-size" data-bs-target="#faqsTwo-5" type="button" data-bs-toggle="collapse">
                            Can I deactivate or delete my account?
                        </button>
                    </h2>
                    <div id="faqsTwo-5" class="accordion-collapse collapse" data-bs-parent="#faq-group-accountsettings">
                        <div class="accordion-body">
                            Yes, you can deactivate or delete your account at any time. Please note that this action is irreversible, and all your data will be permanently deleted from our system.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed section-title-size" data-bs-target="#faqsTwo-6" type="button" data-bs-toggle="collapse">
                            Can I have multiple accounts on the platform?
                        </button>
                    </h2>
                    <div id="faqsTwo-6" class="accordion-collapse collapse" data-bs-parent="#faq-group-accountsettings">
                        <div class="accordion-body">
                            No, each user is allowed to have only one account on the platform. This is to ensure fairness and maintain the quality of our user community.
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title faq-title">Freelancer Selection</h5>
            <div class="accordion accordion-flush" id="faq-group-freelancer">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed section-title-size" data-bs-target="#faqsfreelancer-1" type="button" data-bs-toggle="collapse">
                            How are freelancers chosen for a project?
                        </button>
                    </h2>
                    <div id="faqsfreelancer-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-freelancer">
                        <div class="accordion-body">
                            Freelancer selection for projects of different sizes is a multi-step process. First, we consider the availability of freelancers. Next, we prioritize based on a ranking score, which includes factors such as their past performance, relevant skills and experience, and their ability to meet the project's timeline and deliverables. The goal is to find the best match for the specific requirements of each project, irrespective of its size.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed section-title-size" data-bs-target="#faqsfreelancer-2" type="button" data-bs-toggle="collapse">
                            What happens if a freelancer cannot complete a project?
                        </button>
                    </h2>
                    <div id="faqsfreelancer-2" class="accordion-collapse collapse" data-bs-parent="#faq-group-freelancer">
                        <div class="accordion-body">
                            Our platform prioritizes project completion and client satisfaction. If a freelancer cannot complete a project, we work to find a replacement as soon as possible and take necessary actions to ensure that project deadlines are met.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed section-title-size" data-bs-target="#faqsfreelancer-3" type="button" data-bs-toggle="collapse">
                            How does the platform ensure the quality of freelancers' work?
                        </button>
                    </h2>
                    <div id="faqsfreelancer-3" class="accordion-collapse collapse" data-bs-parent="#faq-group-freelancer">
                        <div class="accordion-body">
                            Our platform has a stringent process for freelancer selection, including skills testing and reviewing past performance and experience. Post-selection, we have a robust review and feedback system that allows clients to rate freelancers' work, which helps us continually monitor and maintain quality standards.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed section-title-size" data-bs-target="#faqsfreelancer-4" type="button" data-bs-toggle="collapse">
                            Can clients request a specific freelancer?
                        </button>
                    </h2>
                    <div id="faqsfreelancer-4" class="accordion-collapse collapse" data-bs-parent="#faq-group-freelancer">
                        <div class="accordion-body">
                            While we understand that clients may develop preferences, our platform ensures high-quality work by selecting the most suitable freelancer for each project based on their skills, experience, and availability. Clients do not have the ability to invite specific freelancers, as our selection process is carefully designed to meet project needs and uphold the quality of work.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed section-title-size" data-bs-target="#faqsfreelancer-5" type="button" data-bs-toggle="collapse">
                            How does the platform know if freelancers are available?
                        </button>
                    </h2>
                    <div id="faqsfreelancer-5" class="accordion-collapse collapse" data-bs-parent="#faq-group-freelancer">
                        <div class="accordion-body">
                            Freelancers are required to maintain an updated calendar on our platform that indicates their availability for the next six months. This calendar can be updated as often as necessary, allowing freelancers to adjust their availability in case it changes.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed section-title-size" data-bs-target="#faqsfreelancer-6" type="button" data-bs-toggle="collapse">
                            Can freelancers get promoted?
                        </button>
                    </h2>
                    <div id="faqsfreelancer-6" class="accordion-collapse collapse" data-bs-parent="#faq-group-freelancer">
                        <div class="accordion-body">
                            Yes, freelancers can apply for new roles at higher levels, provided they meet certain performance and experienc.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed section-title-size" data-bs-target="#faqsfreelancer-7" type="button" data-bs-toggle="collapse">
                            What are the responsibilities of a project architect?
                        </button>
                    </h2>
                    <div id="faqsfreelancer-7" class="accordion-collapse collapse" data-bs-parent="#faq-group-freelancer">
                        <div class="accordion-body">
                            A project architect is responsible for creating predefined projects of different sizes (small, medium, large) and defining the project requirements. They break down the project into actionable tasks and create a plan for ensuring the quality and timely delivery of the project.
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title faq-title">Client Services and Waitlist Management</h5>
            <div class="accordion accordion-flush" id="faq-group-clientservice">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed section-title-size" data-bs-target="#faqsclientservice-1" type="button" data-bs-toggle="collapse">
                            What happens if a client chooses the wrong industry or service?
                        </button>
                    </h2>
                    <div id="faqsclientservice-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-clientservice">
                        <div class="accordion-body">
                            If a client inadvertently chooses the wrong industry or service, the assigned project manager will identify this discrepancy. The platform will then be informed, and the client will be notified. Steps will be taken to reassign the project to a more suitable freelancer or team, ensuring that the client's needs are appropriately met.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed section-title-size" data-bs-target="#faqsclientservice-2" type="button" data-bs-toggle="collapse">
                            How can a client join the waitlist?
                        </button>
                    </h2>
                    <div id="faqsclientservice-2" class="accordion-collapse collapse" data-bs-parent="#faq-group-clientservice">
                        <div class="accordion-body">
                            If a client is unable to find a match with a freelancer or if there are no freelancers available to start a new project immediately, the client is given the option to join a waitlist.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed section-title-size" data-bs-target="#faqsclientservice-3" type="button" data-bs-toggle="collapse">
                            How can a client exit the waitlist?
                        </button>
                    </h2>
                    <div id="faqsclientservice-3" class="accordion-collapse collapse" data-bs-parent="#faq-group-clientservice">
                        <div class="accordion-body">
                            A client is seamlessly transitioned off the waitlist once an appropriate freelancer match is identified. Should a client wish to withdraw from the waitlist before such a match is established, they can request to do so. If any advance payments have been made through the platform, clients retain the right to request a refund prior to the initiation of any project.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed section-title-size" data-bs-target="#faqsclientservice-4" type="button" data-bs-toggle="collapse">
                            How can clients reserve a freelancer?
                        </button>
                    </h2>
                    <div id="faqsclientservice-4" class="accordion-collapse collapse" data-bs-parent="#faq-group-clientservice">
                        <div class="accordion-body">
                            Clients can reserve a freelancer by paying an upfront amount calculated based on the freelancer's hourly rate. The payment is held in an escrow account until the freelancer becomes available for the project and the end of the reservation period. In cases where the freelancer's proposal is significantly substandard or there are unhelpful message exchanges, the platform reserves the right to remove the freelancer and match the client with another freelancer. The reservation and payment for the replacement freelancer may be covered by the platform, subject to its discretion.
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title faq-title">Payment and Dispute Resolution</h5>
            <div class="accordion accordion-flush" id="faq-group-payment">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed section-title-size" data-bs-target="#faqspayment-1" type="button" data-bs-toggle="collapse">
                            How does the payment process work?
                        </button>
                    </h2>
                    <div id="faqspayment-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-payment">
                        <div class="accordion-body">
                            Clients are required to make a deposit that goes into an escrow account when the project begins. The funds are released to the freelancer only when the project is completed or at specific milestones.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed section-title-size" data-bs-target="#faqspayment-2" type="button" data-bs-toggle="collapse">
                            How are freelancers compensated for their work?
                        </button>
                    </h2>
                    <div id="faqspayment-2" class="accordion-collapse collapse" data-bs-parent="#faq-group-payment">
                        <div class="accordion-body">
                            Freelancers set their own hourly rates when they join our platform. Clients are billed based on the freelancer's hourly rate and the number of hours worked on the project. Once the project is completed, the freelancer will receive payment for the work they have completed, based on the agreed-upon terms and payment schedule.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed section-title-size" data-bs-target="#faqspayment-3" type="button" data-bs-toggle="collapse">
                            How does the platform handle disputes between clients and freelancers?
                        </button>
                    </h2>
                    <div id="faqspayment-3" class="accordion-collapse collapse" data-bs-parent="#faq-group-payment">
                        <div class="accordion-body">
                            The platform has a dispute resolution system in place. If a dispute arises, the case is reviewed by our team who make a decision based on the evidence provided by both parties. We encourage clients and freelancers to communicate and resolve their issues amicably before escalating to dispute resolution. It is advised to notify the platform of any potential disputes as soon as they arise.
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title faq-title">Project Management and Communication</h5>
            <div class="accordion accordion-flush" id="faq-group-projectmanagemenet">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed section-title-size" data-bs-target="#faqsprojectmanagemenet-1" type="button" data-bs-toggle="collapse">
                            Can I save my project and continue later?
                        </button>
                    </h2>
                    <div id="faqsprojectmanagemenet-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-projectmanagemenet">
                        <div class="accordion-body">
                            Yes, you can save your project details and continue at any time convenient for you.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed section-title-size" data-bs-target="#faqsprojectmanagemenet-2" type="button" data-bs-toggle="collapse">
                            How can I track the progress of a project?
                        </button>
                    </h2>
                    <div id="faqsprojectmanagemenet-2" class="accordion-collapse collapse" data-bs-parent="#faq-group-projectmanagemenet">
                        <div class="accordion-body">
                            Clients can track the progress of their projects through our platform, where project milestones, and status updates are displayed. This allows for real-time tracking and visibility over the work being done.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed section-title-size" data-bs-target="#faqsprojectmanagemenet-3" type="button" data-bs-toggle="collapse">
                            Can clients share files with the freelancer?
                        </button>
                    </h2>
                    <div id="faqsprojectmanagemenet-3" class="accordion-collapse collapse" data-bs-parent="#faq-group-projectmanagemenet">
                        <div class="accordion-body">
                            Yes, clients can share files directly with freelancers through the platform's system. All file types are supported.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed section-title-size" data-bs-target="#faqsprojectmanagemenet-4" type="button" data-bs-toggle="collapse">
                            Can clients communicate with my freelancer directly?
                        </button>
                    </h2>
                    <div id="faqsprojectmanagemenet-4" class="accordion-collapse collapse" data-bs-parent="#faq-group-projectmanagemenet">
                        <div class="accordion-body">
                            Yes, our platform includes a built-in messaging system that allows for real-time communication between clients and freelancers.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed section-title-size" data-bs-target="#faqsprojectmanagemenet-5" type="button" data-bs-toggle="collapse">
                            Can clients have a video call with freelancers?
                        </button>
                    </h2>
                    <div id="faqsprojectmanagemenet-5" class="accordion-collapse collapse" data-bs-parent="#faq-group-projectmanagemenet">
                        <div class="accordion-body">
                            Yes, our platform supports video calling which can be used for meetings, discussions, or clarifications.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed section-title-size" data-bs-target="#faqsprojectmanagemenet-6" type="button" data-bs-toggle="collapse">
                            Can clients leave feedback for the freelancers?
                        </button>
                    </h2>
                    <div id="faqsprojectmanagemenet-6" class="accordion-collapse collapse" data-bs-parent="#faq-group-projectmanagemenet">
                        <div class="accordion-body">
                            Yes, upon the completion of a project, clients are encouraged to rate and review their freelancer's work. This feedback is crucial for maintaining the quality of work on our platform.
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title faq-title">Freelancer Performance Evaluation and Improvement</h5>
            <div class="accordion accordion-flush" id="faq-group-freelancerperformance">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed section-title-size" data-bs-target="#faqsfreelancerperformance-1" type="button" data-bs-toggle="collapse">
                            How is the performance of freelancers evaluated?
                        </button>
                    </h2>
                    <div id="faqsfreelancerperformance-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-freelancerperformance">
                        <div class="accordion-body">
                            Freelancer performance is evaluated based on various factors, including quality of work, adherence to deadlines, communication skills, and client feedback. After the completion of a project, clients are encouraged to rate and review the freelancer, which greatly influences their overall performance rating.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed section-title-size" data-bs-target="#faqsfreelancerperformance-2" type="button" data-bs-toggle="collapse">
                            What actions are taken if a freelancer consistently receives poor ratings?
                        </button>
                    </h2>
                    <div id="faqsfreelancerperformance-2" class="accordion-collapse collapse" data-bs-parent="#faq-group-freelancerperformance">
                        <div class="accordion-body">
                            Freelancers who consistently receive poor ratings are subject to a review by our platform. Depending on the results of this review, they may face various consequences, including account suspension or deactivation. We prioritize the quality of services provided to our clients and take necessary steps to ensure this.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed section-title-size" data-bs-target="#faqsfreelancerperformance-3" type="button" data-bs-toggle="collapse">
                            Can a freelancer improve their rating?
                        </button>
                    </h2>
                    <div id="faqsfreelancerperformance-3" class="accordion-collapse collapse" data-bs-parent="#faq-group-freelancerperformance">
                        <div class="accordion-body">
                            Yes, freelancers can improve their rating by delivering high-quality work, adhering to project deadlines, communicating effectively, and meeting the client's needs and expectations.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Online & Technical Support</h5>
            <div class="accordion accordion-flush" id="faq-group-onlinetechnical">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed section-title-size" data-bs-target="#faqsonlinetechnical-1" type="button" data-bs-toggle="collapse">
                            Is online / technical support available?
                        </button>
                    </h2>
                    <div id="faqsonlinetechnical-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-onlinetechnical">
                        <div class="accordion-body">
                            Yes, we provide email support for our users to help with project requirements and answer any questions or concerns. In addition, we offer technical support to assist users with any issues or difficulties they may encounter while using the platform.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed section-title-size" data-bs-target="#faqsonlinetechnical-2" type="button" data-bs-toggle="collapse">
                            How can I contact the support team?
                        </button>
                    </h2>
                    <div id="faqsonlinetechnical-2" class="accordion-collapse collapse" data-bs-parent="#faq-group-onlinetechnical">
                        <div class="accordion-body">
                            You can reach our support team by sending an email to contact@ephylink.com. We strive to respond to all inquiries promptly to provide the necessary assistance.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

