@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}
<link href="~/assets/css/homestylesheet.css" rel="stylesheet" />
<style>
        .hero h2{
            color:white;
            padding-top:8px;
            padding-bottom:8px;
        } 
</style>
<main id="main" class="main">

@*    <div class="pagetitle">
        <h1>Form Elements</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                <li class="breadcrumb-item">Forms</li>
                <li class="breadcrumb-item active">Elements</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->*@

    <!--Section Search-->
    @*<section id="Search">
        <div class="container searchContainer">
            <div class="row justify-content-center">
                <div class="col-lg-6 py-5" style="vertical-align:middle">
                    <div class="row">

                        <div class="col-12">
                            <div class="info-box">
                                <div class="ms-4">
                                    <h4>
                                        The Gateway to AI solutions
                                    </h4>
                                    <p>
                                        Get ahead of the competition and transform your business with affordable, high-quality AI solutions, tailored to your needs by industry experts

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                                        <form class="form-inline my-2 my-lg-0" method="POST" action="#">
                                        <div class="d-flex flex-row">
                                            <input class="form-control mr-sm-2 mx-1" type="search" placeholder="Search" aria-label="Search">
                                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                                        </div>
                                        </form>
                                            @*<input type="text" name="query" placeholder="Search" title="Enter search keyword">
                                            <button type="submit" title="Search"><i class="bi bi-search"></i></button>*@
                        @*</div>
                        <div class="col-12 mt-4">
                            <div class="d-flex flex-row">
                                <h5 style="color:white;">Popular : </h5>
                                <div class="box">Deep Learning</div>
                                <div class="box">Chatboats and virtual assistants</div>
                            </div>
                        </div>

                </div>
                </div>
                <div class="col-lg-6 search-image">
                    <img src="~/assets/img/icon-data-search-computer.png" />
                </div>
        </div>
        </div>
    </section>*@

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">
        <div class="container">
            <div class="row gy-4 d-flex justify-content-center">
                <div class="col-lg-6 order-3 order-lg-1 d-flex flex-column justify-content-center" style="justify-content:center;">
                    <h2 data-aos="fade-up">The Gateway to AI solutions</h2>
                    <p data-aos="fade-up" data-aos-delay="100">
                        Get ahead of the competition and transform your business with affordable, high-quality AI solutions, tailored to your needs by industry experts
                    </p>

                    <form action="#" class="form-search d-flex align-items-stretch mb-3 mt-4" data-aos="fade-up" data-aos-delay="200">
                        <input type="text" class="form-control" placeholder='Try "building mobile app"'>
                        <button type="submit" class="btn btn-success">Search</button>
                    </form>

                    <div class="row gy-2 mt-2" data-aos="fade-up" data-aos-delay="400">
                        <div class="col-lg-2 col-4">
                            <div class="d-flex flex-row">
                                <h5>Popular :</h5>
                            </div>   
                        </div><!-- End Stats Item -->

                        <div class="col-lg-10 col-8">
                            <div class="d-flex flex-row">
                                <div class="pop-box">Deep Learning</div>
                                <div class="pop-box">Chatboats and virtual assistants</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-1 order-2 order-lg-2">
                </div>

                <div class="col-lg-5 order-1 order-lg-3 hero-img" data-aos="zoom-out">
                    <img src="~/assets/img/undraw_web_search.svg" class="img-fluid mb-3 mb-lg-0" alt="">
                </div>

            </div>
        </div>
    </section><!-- End Hero Section -->
    <!-- ======= why Us Section ======= -->

    <section id="why" class="why pt-0">
        <div class="container pt-5" data-aos="fade-up">

            <div class="row gy-4">
                <div class="col-lg-6 position-relative align-self-center order-lg-first order-first">
                    <img src="~/assets/img/howuserimage.png" class="img-fluid" alt="">
                    @*<a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>*@
                    <a class="btn btn-brand ms-lg-3 m-4" href="#">Learn more</a>
                </div>
                <div class="col-lg-6 content order-last order-lg-last">
                    <h3>Find your AI solution</h3>
                    <ul>
                        <li data-aos="fade-up" data-aos-delay="100">
                            <i class="bi bi-search"></i>
                            <div>
                                <h5>Browse</h5>
                                <p>
                                    Find the type of project you need, clearly defined and ready to start.
                                </p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="200">
                            <i class="bi bi-sliders"></i>
                            <div>
                                <h5>Personalise</h5>
                                <p>
                                    Talk to our executives in case further project personalization needed, set the requirements and team size.
                                </p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="300">
                            <i class="bi bi-credit-card-2-back"></i>
                            <div>
                                <h5>Purchase</h5>
                                <p>
                                    Work begins as soon as you buy the project and project fees are securely frozen until the end of the project.
                                </p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="400">
                            <i class="bi bi-shield-check"></i>
                            <div>
                                <h5>Approve</h5>
                                <p>
                                    Review your project. Your fees will be released once you’ve approved it and requirements have been met.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </section><!-- End why Us Section -->

    <!-- ======= AI Section ======= -->

    <section id="Ai" class="Ai pt-0">
        <div class="container">
            <div class="row gy-4 d-flex justify-content-center mt-4">
                <div class="col-lg-6 order-3 order-lg-1 d-flex flex-column justify-content-center" style="justify-content:center;">
                    <h2 data-aos="fade-up">
                        Unlock Your Business Potential with Our Affordable AI Solutions and Experts
                    </h2>
                    <p data-aos="fade-up" data-aos-delay="100">
                        Looking to stay ahead of the competition in the digital age? Our AI service platform provides affordable, customized solutions that cater to the specific needs of each project, ensuring our clients receive the highest quality results that optimize their operations and drive growth. Our team of expert freelancers, consisting of associates, experts, and executives, are equipped with a diverse skillset and experience in AI services.<br /><br />

                        By leveraging our AI services, businesses can automate processes, streamline operations, and make data-driven decisions that improve their overall efficiency and competitiveness. Our platform is designed to enhance operational efficiency, optimize decision-making, and provide businesses with a competitive edge in their respective industries. With our affordable AI solutions, businesses can tap into the full potential of AI without breaking the bank.
                    </p>
                </div>

                <div class="col-lg-1 order-2 order-lg-2">
                </div>

                <div class="col-lg-5 align-items-center order-1 order-lg-3 justify-content-center"> <!--Add d-flex-->
                    <h2 data-aos="fade-up">Learn more about AI</h2>
                    <a class="btn btn-brand ms-lg-3" href="#">Services</a>
                    <a class="btn btn-brand ms-lg-3" href="#">Industries</a>
                </div>
            </div>
        </div>
    </section><!-- End Ai Section -->

    <!-- ======= Popular AI Solutions ======= -->
    <section id="service" class="services pt-0">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                @*<span>Our Services</span>*@
                <h2 class="border-bottom border-black">Popular AI Solutions</h2>
            </div>

            <div class="row gy-4">
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="card">
                        <div class="card-img justify-content-lg-center">
                            <img src="~/assets/img/popularsolutions/popularservicesnlp.png" alt="" class="img-fluid" data-aos="zoom-out">
                        </div>
                        <h3>
                            <a href="service-details.html" class="stretched-link">
                                Natural Language Processing (NLP)
                            </a>
                        </h3>
                        <p>
                            Enhance communication with customers and improve customer service by enabling machines to understand and interpret human language.
                        </p>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="card">
                        <div class="card-img">
                            <img src="~/assets/img/popularsolutions/popularservicesspeechreco.png" alt="" class="img-fluid" data-aos="zoom-out">
                        </div>
                        <h3>
                            <a href="service-details.html" class="stretched-link">
                                Speech Recognition
                            </a>
                        </h3>
                        <p>
                            Enhance communication with customers and improve customer service by enabling machines to interpret and respond to human speech.
                        </p>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="card">
                        <div class="card-img">
                            <img src="~/assets/img/popularsolutions/popularservicescomputervision.png" alt="" class="img-fluid" data-aos="zoom-out">
                        </div>
                        <h3>
                            <a href="service-details.html" class="stretched-link">
                                Computer Vision
                            </a>
                        </h3>
                        <p>
                            Improve accuracy and speed of visual data analysis, unlocking new insights and opportunities for your organization.
                        </p>
                    </div>
                </div><!-- End Card Item -->
            </div>

        </div>
    </section><!-- End Services Section -->


    <!-- ======= Client Reviews Section ======= -->
    <section id="reviews" class="reviews pt-0">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                @*<span>Top professionals in our platform</span>*@
                <h2 class="border-bottom border-black">Top professionals in our platform</h2>

            </div>

            <div class="row gy-4 pt-5">

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="box">
                        <div class="title">
                            Michael – Project leader Anomaly Detection
                        </div>
                        <div>
                            Michael is a highly skilled professional with expertise in anomaly detection for manufacturing. He has excellent communication skills and a track record of identifying and resolving critical issues in production processes. Mike's experience and dedication have helped companies reduce waste and increase efficiency.
                        </div>
                        <div class="content">
                            <div class="image"><img src="~/assets/img/man_profile_1.jpg" /></div>     
                            <div class="info">
                                <div class="name">Michael Rose</div>
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="box">
                        <div class="title">
                            Amir – Expert Data Strategy Development
                        </div>
                        <div>
                            Amir is a highly skilled data strategist with expertise in market forecasting and consumer behavior analysis. He has a proven track record of delivering profitable strategic investments for clients.
                        </div>
                        <div class="content">
                            <div class="image"><img src="~/assets/img/man_profile_1.jpg" /></div>                            
                            <div class="info">
                                <div class="name">
                                    Amir Khan
                                </div>
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="box">
                        <div class="title">
                            Anna – Expert AI Roadmap Development
                        </div>
                        <div>
                            Anna is an expert in AI roadmap development with a proven track record of helping businesses identify and implement AI solutions that align with their strategic goals. She is highly skilled in analyzing data and identifying the most promising use cases to drive business growth.
                        </div>
                        <div class="content">
                            <div class="image"><img src="~/assets/img/man_profile_1.jpg" /></div>                            
                            <div class="info">
                                <div class="name">
                                    Anna Lakhani
                                </div>
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="box">
                        <div class="title">
                            Zahir – Expert Computer Vision
                        </div>
                        <div>
                            Zahir is an expert in computer vision with a strong focus on marketing analytics. He has helped numerous clients achieve better audience segmentation and content personalization, resulting in significant improvements in customer engagement.
                        </div>
                        <div class="content">
                            <div class="image"><img src="~/assets/img/man_profile_1.jpg" /></div>
                            <div class="info">
                                <div class="name">
                                    Zahir Modi
                                </div>
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Card Item -->
            </div>

        </div>
    </section><!-- End Services Section -->

    <!-- ======= Shorted clients reviews Section ======= -->
    <section id="shortreviews" class="shortreviews pt-0">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                @*<span>Top professionals in our platform</span>*@
                <h2 class="border-bottom border-black">
                    Trusted by our clients
                </h2>

            </div>

            <div class="row gy-4 pt-5">

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="box">
                        <div class="icon-msg">
                            <i class="bi-chat-right-quote"></i>
                        </div>
                        <div class="description">
                            “ Aephy has been a game-changer for my business. I was able to find a project that not only met but exceeded my expectations. I am extremely happy with the outcome. I would definitely use this platform again in the future.”
                        </div>
                        <div class="child col-lg-10 col-md-8 mx-2">
                            <div class="title border-bottom">
                                Results
                            </div>
                            <div class="content">
                                <div class="info">
                                    <div class="name">50% <i class="bi-arrow-up"></i></div>
                                    <div class="sub">
                                        <div class="sub-title">Website Traffic</div>
                                    </div>
                                </div>
                                <div class="right-info">
                                    <div class="name">50% <i class="bi-arrow-up"></i></div>
                                    <div class="sub">
                                        <div class="sub-title">Website Traffic</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="box" style="background-color:#a6a6a6;">
                        <div class="icon-msg">
                            <i class="bi-chat-right-quote"></i>
                        </div>
                        <div class="description">
                            "Thanks to Aephy, we were able to complete our project within budget and ahead of schedule. We saved over $10,000 and finished 2 weeks earlier than anticipated. The freelancers we hired ware a perfect fit for our needs and the platform made it easy to find them."
                        </div>
                        <div class="middle-child col-lg-10 col-md-8 mx-2">
                            <div class="title border-bottom">
                                Results
                            </div>
                            <div class="content">
                                <div class="info">
                                    <div class="name">
                                        <i class="bi bi-currency-dollar"></i>10,000
                                    </div>
                                    <div class="sub">
                                        <div class="sub-title">Saved</div>
                                    </div>
                                </div>
                                <div class="right-info">
                                    <div class="name">
                                        <i class="bi bi-currency-dollar"></i>10,000
                                    </div>
                                    <div class="sub">
                                        <div class="sub-title">Saved</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="box">
                        <div class="icon-msg">
                            <i class="bi-chat-right-quote"></i>
                        </div>
                        <div class="description">
                            We had been struggling to find the right AI solution for our company until we stumbled upon this platform. The project provided by the freelancers was exceptional.
                        </div>
                        <div class="child col-lg-10 col-md-8 mx-2">
                            <div class="title border-bottom">
                                Results
                            </div>
                            <div class="content">
                                <div class="info">
                                    <div class="name">30% <i class="bi-arrow-up"></i></div>
                                    <div class="sub">
                                        <div class="sub-title">Efficiency</div>
                                    </div>
                                </div>
                                <div class="right-info">
                                    <div class="name">30% <i class="bi-arrow-up"></i></div>
                                    <div class="sub">
                                        <div class="sub-title">Efficiency</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Card Item -->
            </div>

        </div>
    </section><!-- End Services Section -->

    <!-- ======= Why Aephy Section ======= -->
    <section id="whyAephy" class="whyAephy pt-4">
        <div class="container">
            <div class="section-header">
                @*<span>Why us</span>*@
                <h2 class="border-bottom border-black">Why Us</h2>

            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-last order-last mx-3 right-box d-flex">
                    <div class="align-self-center position-relative d-flex">
                        <p>
                            Our goal is to offer businesses access to top-notch AI expertise and specialized skills while maintaining affordable pricing, with the aim of becoming a go-to platform for businesses seeking AI-related services
                        </p>
                    </div>
                </div>
                <div class="col-lg-8 content order-first order-lg-first left-box mx-3">
                    <h3>
                        Why Businesses select Aephy
                    </h3>
                    <ul>
                        <li data-aos="fade-up" data-aos-delay="100">
                            <i class="bi bi-check-square"></i>
                            <div>
                                <h5>Efficiency</h5>
                                <p>
                                    The platform streamlines the process of outsourcing projects, allowing businesses to save time and resources.
                                </p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="200">
                            <i class="bi bi-check-square"></i>
                            <div>
                                <h5>
                                    Quality assurance
                                </h5>
                                <p>
                                    Projects undertaken by prescreened highly qualified freelancers. Clients pay only if project requirements have met.
                                </p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="300">
                            <i class="bi bi-check-square"></i>
                            <div>
                                <h5>
                                    Cost-effectiveness
                                </h5>
                                <p>
                                    Projects offered on the platform at the most competitive rates, allowing businesses to access high-quality solutions at a lower cost.
                                </p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="400">
                            <i class="bi bi-check-square"></i>
                            <div>
                                <h5>
                                    Safe and secure
                                </h5>
                                <p>
                                    Data and privacy is strictly protected.
                                </p>
                            </div>
                        </li>
                    </ul>
                    <a class="btn btn-brand ms-lg-3 m-4" href="#">Learn more</a>
                </div>
            </div>
        </div>
    </section>


    <!-- ======= For Ai Gigs Section ======= -->
    <section id="ForAiGigs" class="ForAiGigs pt-4">
        <div class="container">
            @*<div class="section-header">
                <span>Why us</span>
                <h2 class="border-bottom border-black">Why Us</h2>

            </div>*@
            <div class="row justify-content-center">
                <div class="col-lg-7 order-lg-last order-last right-box">
                    @*<img src="~/assets/img/opengigsimage.png" class="img-fluid" alt="">*@
                    <h2 data-aos="fade-up" style="color:#19335c;">
                        For AI Gigs
                        </h2>
                    <p class="align-self-center border-bottom border-black" style="text-align:center; color:#444444; padding:80px 120px 80px 120px;">
                        Meet clients you’re excited to work with and take
                        your career to new heights.
                    </p>
                    <div class="row align-self-center position-relative d-flex">
                        <div class="col-4">
                            <label class="btn ms-lg-3" href="#">
                                Find opportunities
                            </label>
                        </div>
                        <div class="col-4">
                            <label class="btn ms-lg-3" href="#">
                                Grow your career
                            </label>
                        </div>
                        <div class="col-4">
                            <label class="btn ms-lg-3" href="#">
                                Level up
                            </label>
                        </div>
                    </div>
                    <div class="pt-4">
                        <a class="btn btn-brand ms-lg-3" href="#">Learn more</a>
                        <a class="btn btn-brand ms-lg-3" href="#">Open gig roles</a>
                    </div>
                </div>
                <div class="col-lg-5 content order-first order-lg-first left-box">
                    <img src="~/assets/img/opengigsimage.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>

    <!-- ======= Always Evolving Section ======= -->
    <section id="AlwaysEvolving" class="AlwaysEvolving pt-4">
        <div class="container">
            @*<div class="section-header">
            <span>Why us</span>
            <h2 class="border-bottom border-black">Why Us</h2>

            </div>*@
            <div class="row justify-content-center">
                <div class="col-lg-5 content">
                    <img src="~/assets/img/contact-laptop.png" class=" img-fluid" alt="">
                </div>
                <div class="col-lg-7 px-lg-5">
                    @*<img src="~/assets/img/opengigsimage.png" class="img-fluid" alt="">*@
                    <h2 data-aos="fade-up">
                        Always Evolving
                    </h2>
                    <p class="align-self-center border-black" style="text-align:left; color:#444444; padding:80px 0px 80px 0px;">
                        Keep up with our constant growth and new features by following us on social media. You'll be the first to know whenever we release something new!
                    </p>
                    <div class="social-links d-flex mt-4">
                        <a href="https://www.linkedin.com/company/aephy/" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>                   
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->