@{
    ViewData["Title"] = "Ephylink";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}
<link href="~/assets/css/homestylesheet.css" rel="stylesheet" />
<style>
    .hero h2 {
        color: white;
        padding-top: 8px;
        padding-bottom: 8px;
    }
</style>

<main id="main" class="main cls-fixed-common">

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center first-row">
                <div class="col-lg-6 order-3 order-lg-1 d-flex flex-column justify-content-center" style="justify-content:center;">
                    <h2 data-aos="fade-up" class="label-title-size">The Gateway to AI Solutions</h2>
                    <p data-aos="fade-up" data-aos-delay="100" class="section-detail-size">
                        Get ahead of the competition and transform your business with affordable, high-quality AI solutions, tailored to your needs by industry experts
                    </p>

                    <form action="#" class="form-search d-flex align-items-stretch mb-3 mt-4" data-aos="fade-up" data-aos-delay="200">
                        <input type="text" class="form-control" placeholder='Try "Chatbots"'>
                        <button type="submit" class="btn btn-success" style="background-color:#0303ce;padding:5px 26px;">Search</button>
                    </form>

                    <div class="row gy-2 mt-2" data-aos="fade-up" data-aos-delay="400">
                        <div class="col-auto cls-popular">
                            <div class="d-flex flex-row pop-title">
                                <h5>Popular :</h5>
                            </div>
                        </div><!-- End Stats Item -->

                        <div class="col-auto d-flex position-relative px-0">
                            <div class="d-flex flex-row">
                                <a class="pop-box">Deep Learning</a>
                                <a class="pop-box">Virtual Assistants</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-1 order-2 order-lg-2">
                </div>

                <div class="col-lg-5 order-1 order-lg-3 hero-img" data-aos="zoom-out">
                    <img src="~/assets/img/landing_page_top_blue.svg" class="img-fluid mb-3 mb-lg-0" alt="Image" />
                </div>

            </div>
        </div>
    </section><!-- End Hero Section -->
    <!-- ======= why Us Section ======= -->

    <section id="why" class="why pt-2">
        <div class="container" data-aos="fade-up">

            <div class="row gt-4">
                <h3 id="whyTitle">Find Your AI Solution</h3>
                <div class="col-lg-6 px-0 position-relative firstcol" style="text-align:center;">
                    <img src="~/assets/img/find your ai solution.jpg" class="img-fluid" alt="" style="width:100%;">
                    @*<a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>*@
                    <a class="btn btn-brand ms-lg-3 m-4" href="~/LandingPage/WhyAephy#How" data-open-accessibility-text-original="16px" style="font-size: 16px;">Learn More</a>
                </div>
                <div class="col-lg-6 content lastcol">
                    <h3 id="whyTitle" class="label-title-size">Find Your AI Solution</h3>
                    <ul>
                        <li data-aos="fade-up" data-aos-delay="100">
                            <i class="bi bi-search"></i>
                            <div>
                                <h5>Browse</h5>
                                <p class="section-detail-size">
                                    Find the type of project you need, clearly defined and ready to start.
                                </p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="200">
                            <i class="bi bi-sliders"></i>
                            <div>
                                <h5>Personalise</h5>
                                <p class="section-detail-size">
                                    Engage with proficient project managers in case further project personalization needed, set project specifications and adjust team composition.
                                </p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="300">
                            <i class="bi bi-credit-card-2-back"></i>
                            <div>
                                <h5>Purchase</h5>
                                <p class="section-detail-size">
                                    Work typically begins 2 to 4 days after you purchase the project, and project fees can be divided into milestones or paid in full. Fees are securely held until the milestone completion.
                                </p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="400">
                            <i class="bi bi-shield-check"></i>
                            <div>
                                <h5>Approve</h5>
                                <p class="section-detail-size">
                                    Review your project. Your fees will be released once you’ve approved it and requirements have been met.
                                </p>
                            </div>
                        </li>
                        <li class="learnmore">
                            <a class="btn btn-brand ms-lg-3 m-4" href="~/LandingPage/WhyAephy#How" data-open-accessibility-text-original="16px" style="font-size: 16px;">Learn More</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </section><!-- End why Us Section -->
    <!-- ======= AI Section ======= -->
    <section id="Ai" class="Ai pt-0">
        <div class="container">
            <div class="row gy-4 d-flex justify-content-center mt-4 mx-lg-4 align-items-center explore-part">
                <div class="col-lg-6 order-1 order-lg-1 d-flex flex-column justify-content-center px-0">
                    <h2 data-aos="fade-up" class="label-title-size">
                        Unlock Your Business Potential with Our Affordable AI Solutions and Experts
                    </h2>
                    <p data-aos="fade-up" data-aos-delay="100" class="section-detail-size">
                        Looking to stay ahead of the competition in the digital age? Our AI service platform provides affordable, customized solutions that cater to the specific needs of each project, ensuring our clients receive the highest quality results that optimize their operations and drive growth. Our team of expert freelancers, consisting of associates, experts, and project managers, is equipped with a diverse skillset and experience in AI services.<br /><br />

                        By leveraging our AI services, businesses can automate processes, streamline operations, and make data-driven decisions that improve their overall efficiency and competitiveness. Our platform is designed to enhance operational efficiency, optimize decision-making, and provide businesses with a competitive edge in their respective industries. With our affordable AI solutions, businesses can tap into the full potential of AI without breaking the bank.
                    </p>
                </div>

                <div class="col-lg-1 order-2 order-lg-2">
                </div>

                <div class="col-lg-5 align-items-center order-3 order-lg-3 justify-content-center px-0">
                    <!--Add d-flex-->
                    <div style="text-align:center;">
                        <h2 data-aos="fade-up" class="label-title-size">Start Exploring</h2>
                    </div>
                    <div style="text-align:center;">
                        <a class="btn btn-brand ms-lg-3" href="~/LandingPage/Services" data-open-accessibility-text-original="16px" style="font-size: 16px;">Services</a>
                        <a class="btn btn-brand ms-lg-3" href="~/LandingPage/Industries" data-open-accessibility-text-original="16px" style="font-size: 16px;">Industries</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Ai Section -->
    <!-- ======= Popular AI Solutions ======= -->
    <section id="service" class="services pt-0">
        <div class="container" data-aos="fade-up">

            <div class="section-header mx-lg-4">
                <h2 class="label-title-size">Popular AI Solutions</h2>
            </div>
            <div class="container text-center my-3">
                <div class="row mx-auto my-auto justify-content-center">
                    <div id="recipeCarousel" class="carousel slide" data-interval="false">
                        <div class="carousel-inner" role="listbox" id="ai-Section">
                        </div>
                        <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </a>
                        <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>


        </div>
    </section><!-- End Services Section -->
    <!-- ======= Client Reviews Section ======= -->
    <section id="reviews" class="reviews pt-0">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h2 class="label-title-size">Top Professionals In Our Platform</h2>
            </div>

            <div class="row" id="review-section">
                <div class="col-12 col-lg-6" id="leftReview">
                </div>
                <div class="col-12 col-lg-6 cls-professional-viewmore" id="RightReview">
                </div>
            </div>
            <a class="cls-professional-btn" onclick="ProfessionalViewMore()" id="ProfessionalViewMore">View More <i class="bi bi-triangle-fill"></i></a>
            <a class="cls-professional-lessbtn" href="#reviews" onclick="ProfessionalViewLess()" id="ProfessionalViewLess">View Less <i class="bi bi-triangle-fill"></i></a>

        </div>
    </section><!-- End Services Section -->
    <!-- ======= Shorted clients reviews Section ======= -->
    @* FINAL RELEASE*@
    <section id="shortreviews" class="shortreviews pt-0">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                @*<span>Top professionals in our platform</span>*@
                <h2 class="label-title-size">
                    Trusted By Our Clients
                </h2>

            </div>

            <div class="row" id="successfull-project-section">
            </div>
            <a class="cls-trusted-btn" onclick="TrustedViewMore()" id="TrustedViewMore">View More <i class="bi bi-triangle-fill"></i></a>
            <a class="cls-trusted-lessbtn" href="#shortreviews" onclick="TrustedViewLess()" id="TrustedViewLess">View Less <i class="bi bi-triangle-fill"></i></a>

        </div>
    </section><!-- End Services Section -->
    @* FINAL RELEASE*@
    <!-- ======= Why Aephy Section ======= -->
    <section id="whyAephy" class="whyAephy pt-4">
        <div class="container">
            <div class="section-header">
                @*<span>Why us</span>*@
                <h2 class="label-title-size">Why Businesses Select Ephylink</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-last order-last right-box d-flex mx-3">
                    <div class="align-self-center position-relative d-flex">
                        <p class="section-detail-size">
                            Our goal is to offer businesses access to top-notch AI expertise and specialized skills while maintaining affordable pricing, with the aim of becoming a go-to platform for businesses seeking AI-related services
                        </p>
                    </div>
                </div>
                <div class="col-lg-8 content order-first order-lg-first left-box mx-3">
                    @*<h3>
                    Why Businesses select Aephy
                    </h3>*@
                    <ul>
                        <li data-aos="fade-up" data-aos-delay="100">
                            <i class="bi bi-check-square"></i>
                            <div>
                                <h5>Efficiency</h5>
                                <p class="section-detail-size">
                                    The platform streamlines the process of outsourcing projects, allowing businesses to save time and resources.
                                </p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="200">
                            <i class="bi bi-check-square"></i>
                            <div>
                                <h5>
                                    Quality Assurance
                                </h5>
                                <p class="section-detail-size">
                                    Projects undertaken by prescreened highly qualified freelancers. Clients pay only if project requirements have been met.
                                </p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="300">
                            <i class="bi bi-check-square"></i>
                            <div>
                                <h5>
                                    Cost-Effectiveness
                                </h5>
                                <p class="section-detail-size">
                                    Projects offered on the platform at the most competitive rates, allowing businesses to access high-quality solutions at a lower cost.
                                </p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="400">
                            <i class="bi bi-check-square"></i>
                            <div>
                                <h5>
                                    Safe and Secure
                                </h5>
                                <p class="section-detail-size">
                                    Data and privacy are strictly protected.
                                </p>
                            </div>
                        </li>
                        <li class="btn-learnmore">
                            <a class="btn btn-brand ms-lg-3 m-4" href="~/LandingPage/WhyAephy#Why" data-open-accessibility-text-original="16px" style="font-size: 16px;">Learn more</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= For Ai Gigs Section ======= -->
    <section id="ForAiGigs" class="ForAiGigs pt-4">
        <div class="container">
            <div class="section-header">
                @*<span>For Ai Gigs</span>*@
                <h2 class="label-title-size">For AI Gigs</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-7 order-lg-last order-last right-box px-0">

                    <div class="description">
                        <p class="align-self-center section-detail-size">
                            Meet clients you’re excited to work with and take
                            your career to new heights.
                        </p>
                    </div>

                    <div class="pt-4 extra-options">
                        <a class="btn btn-brand ms-lg-3" href="~/LandingPage/GigOpenings" data-open-accessibility-text-original="16px" style="font-size: 16px;">Learn More</a>
                        <a class="btn btn-brand ms-lg-3" href="~/LandingPage/OpenGigRoles" data-open-accessibility-text-original="16px" style="font-size: 16px;">Open Gig Roles</a>
                    </div>
                </div>
                <div class="col-lg-5 content order-first order-lg-first left-box">
                    <img src="~/assets/img/for ai gigs.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>

    <!-- ======= Always Evolving Section ======= -->
    <section id="AlwaysEvolving" class="AlwaysEvolving pt-4">
        <div class="container">
            @*<div class="section-header">
            <span>Why us</span>
            <h2 class="border-bottom border-black">Why Us</h2>

            </div>*@
            <div class="row justify-content-center">
                <div class="col-lg-5 content fitImage px-0">
                    <img src="~/assets/img/landing_page_bottom_blue.svg" class=" img-fluid" alt="Bottom Image" />

                </div>
                <div class="col-lg-7 px-lg-5 py-lg-0 py-5" style="position: relative;display: grid;">
                    <h2 data-aos="fade-up" class="label-title-size">
                        Always Evolving
                    </h2>
                    <p class="border-black section-detail-size" style="color:#444444;">
                        Keep up with our constant growth and new features by following us on social media. You'll be the first to know whenever we release something new!
                    </p>
                    <div class="social-links d-flex mt-4">
                        <a href="https://www.linkedin.com/company/aephy/" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        <a href="https://twitter.com/ephylink57412" class="twitter"><img src="~/assets/img/icons-twitterx.png" /></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->

<script>

    $(function () {
         $("#preloader").show();
        GetPopularSolution();
        GetSuccessfullProjects();
        GetTopProfessionalDetails();
         $("#preloader").hide();
    })

    function GetPopularSolution() {
        $.ajax({
            type: "Get",
            url: "@Url.Action("GetSolutionList", "LandingPage")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.Result != 0) {
                    var data = result.Result
                    data = data.slice(0, 6);
                    var popularAiSection = "";
                    $.each(data, function (data, value) {
                        var title = value.Title.length > 50 ? value.Title.substring(0, 50) + "..." : value.Title;
                        var description = value.Description.length > 100 ? value.Description.substring(0, 100) + "..." : value.Description;

                        popularAiSection += '<div class="carousel-item" >' +
                            '<div class="col-md-3">' +
                            '<div class="card">' +
                            '<div class="card-img">' +
                            '<img src=' + value.ImageUrlWithSas + ' alt ="Image" class="img-fluid" data-aos="zoom-out">' +
                            '</div>' +
                            '<h3>' +
                            '<a class="stretched-link">' + title + '</a>' +
                            '</h3>' +
                            '<p class="section-detail-size" >' + description + '</p>' +

                            '</div>' +
                            '</div>' +
                            '</div>';

                    })
                    $('#ai-Section').html(popularAiSection);
                    $('.carousel-item').first().addClass('active');
                    $('.carousel-indicators > li').first().addClass('active');
                    var items2 = document.querySelectorAll('.carousel .carousel-item')

                    items2.forEach((el) => {
                        const minPerSlide = 4
                        let next = el.nextElementSibling
                        for (var i = 1; i < minPerSlide; i++) {
                            if (!next) {
                                next = items2[0]
                            }
                            let cloneChild = next.cloneNode(true)
                            el.appendChild(cloneChild.children[0])
                            next = next.nextElementSibling
                        }
                    })
                }
            },
            error: function (result) {
                alert("failure");
            }
        });

    }
    function TrustedViewMore() {
        $(".cls-trusted-btn").css("display", "none");
        $(".cls-trusted-viewmore").css("display", "block");
        $(".cls-trusted-lessbtn").css("display", "block");
    }
    function ProfessionalViewMore() {
        $(".cls-professional-btn").css("display", "none");
        $(".cls-professional-viewmore").css("display", "block");
        $(".cls-professional-lessbtn").css("display", "block");
    }
    function TrustedViewLess() {
        $(".cls-trusted-btn").css("display", "block");
        $(".cls-trusted-viewmore").css("display", "none");
        $(".cls-trusted-lessbtn").css("display", "none");
    }
    function ProfessionalViewLess() {
        $(".cls-professional-btn").css("display", "block");
        $(".cls-professional-viewmore").css("display", "none");
        $(".cls-professional-lessbtn").css("display", "none");
    }

    function GetSuccessfullProjects() {
        $.ajax({
            type: "Get",
            url: "@Url.Action("GetSuccessfullProjectList", "LandingPage")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {

                var data = result.Result;
                if (data != "") {
                    var successfullProject = "";
                    $.each(data, function (datas, values) {
                        var description = values.Description.length > 343 ? values.Description.substring(0, 343) + "..." : values.Description;

                        successfullProject += '<div class="col-lg-4 col-md-6 px-0 cls-trusted-viewmore cls-main-div" data-aos="fade-up" data-aos-delay="100">' +
                            '<div class="box cls-main-content" >' +
                            '<div class="icon-msg d-flex" >' +
                            '<i class="bi-chat-right-quote" > </i>' +
                            '<h3>' + values.Title + '</h3>' +
                            '</div>' +
                            '<div class="description section-detail-size" title="' + values.Description + '">' + description + '</div>' +
                            '<div class="child col-10 mx-2 cls-result">' +
                            '<div class="title border-bottom">Results</div>' +
                            '<div class="content">';
                        if (values.projectResultList != "") {
                            $.each(values.projectResultList, function (resultData, resultValue) {
                                var resultKeydescription = resultValue.ResultKey.length > 22 ? resultValue.ResultKey.substring(0, 22) + "..." : resultValue.ResultKey;
                                var resultvalueData = resultValue.ResultValue.length > 22 ? resultValue.ResultValue.substring(0, 22) + "..." : resultValue.ResultValue;

                                successfullProject += '<div class="info" style=width:150px;>' +
                                    '<div class="name" title="' + resultValue.ResultValue + '">' + resultvalueData + '</div>' +
                                    '<div class="sub">' +
                                    '<div class="sub-title" title="'+resultValue.ResultKey+'">' + resultKeydescription + '</div>' +
                                    '</div>' +
                                    '</div>';
                            });
                        }
                        successfullProject += '</div></div></div></div></div>';
                    });
                    $('#successfull-project-section').html(successfullProject);
                    $('.cls-result .content .info:nth-child(2)').addClass('right-info');
                    $("#successfull-project-section .cls-main-div:nth-child(even) .cls-main-content").css("background-color", "#808080ad");
                    $("#successfull-project-section .cls-main-div:nth-child(even) .cls-main-content .cls-result").css("background-color", 'rgb(128 128 128 / 0%)');
                    $('.cls-trusted-viewmore').first().removeClass('cls-trusted-viewmore');
                    $('.cls-result .content .info:nth-child(2)').removeAttr('style');
                    $(".cls-temp").remove()
                } else {
                    $(".cls-temp").remove()
                    $("<p class='cls-temp'>No Data Available</p>").insertAfter("#successfull-project-section");
                    $(".cls-temp").css("padding-left", "14px");

                }
            },
            error: function (result) {
                alert("failure");
            }
        });
    }

    function GetTopProfessionalDetails() {
        $.ajax({
            type: "Get",
            url: "@Url.Action("GetTopProfessionalDetails", "LandingPage")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                var data = result.Result;
                if (data != "") {
                    var firstlist = data.slice(0, 2);
                    var secondlist = data.slice(2);

                    if (firstlist != "") {
                        var leftreviewSection = "";
                        $.each(firstlist, function (datas, values) {
                            var description = values.Description.length > 320 ? values.Description.substring(0, 320) + "..." : values.Description;
                             var name = values.FreelancerId.split(" ");
                             var firstname = name[0].charAt(0);
                             var lastname = name[1].charAt(0);

                            leftreviewSection += '<div class="col my-4" data-aos="fade-up" data - aos - delay="100" >' +
                                '<div class="box" style="min-height:200px";>' +
                                '<div class="title section-title-size">' + values.FreelancerId.split(" ")[0] + ' – ' + values.Title + '</div>' +
                                '<div class="section-detail-size" title="' + values.Description + '">' + description + '</div>' +
                                '</div>' +
                                '<div class="content" >';
                                if (values.ImageUrlWithSas != null) {
                                    leftreviewSection += '<div><div><img src=' + values.ImageUrlWithSas + ' alt ="Image" style="height:60px;width:60px;border-radius:50%"></div></div>';
                                 }
                                else {
                                    leftreviewSection += '<div class="image"><div>' + firstname + '' + lastname + '</div></div>';
                                }
                                leftreviewSection += '<div class="info">' +
                                '<div class="name">' + values.FreelancerId + ' </div>' +
                                '<div class="stars" >' +
                                '<i class="bi bi-star-fill"> </i>' +
                                '<i class="bi bi-star-fill"> </i>' +
                                '<i class="bi bi-star-fill"> </i>' +
                                '<label> ' + values.Rate + '/ 5 </label>' +
                                '</div>' +
                                '</div>' +
                                '</div>' +
                                '</div>';
                        });
                        $('#leftReview').html(leftreviewSection);
                    }

                    if (secondlist != "") {
                        var rightreviewSection="";
                        $.each(secondlist, function (datas, values) {
                            var description = values.Description.length > 320 ? values.Description.substring(0, 320) + "..." : values.Description;
                             var name = values.FreelancerId.split(" ");
                             var firstname = name[0].charAt(0);
                             var lastname = name[1].charAt(0);

                            rightreviewSection += '<div class="col my-4" data-aos="fade-up" data-aos-delay="100" >' +
                                '<div class="box" style="min-height:200px";>' +
                                '<div class="title section-title-size">'+values.FreelancerId.split(" ")[0]+' – '+values.Title+'</div>' +
                                '<div class="section-detail-size" title="' + values.Description + '">' + description + '</div>' +
                                '</div>' +
                                '<div class="content" >';
                                if (values.ImageUrlWithSas != null) {
                                    rightreviewSection += '<div><div><img src=' + values.ImageUrlWithSas + ' alt ="Image" style="height:60px;width:60px;border-radius:50%"></div></div>';
                                 }
                                else {
                                    rightreviewSection += '<div class="image"><div>' + firstname + '' + lastname + '</div></div>';
                                }
                                
                                rightreviewSection += '<div class="info">' +
                                '<div class="name">'+values.FreelancerId+'</div>' +
                                '<div class="stars" >' +
                                '<i class="bi bi-star-fill"> </i>' +
                                '<i class="bi bi-star-fill"> </i>' +
                                '<i class="bi bi-star-fill"> </i>' +
                                '<label> ' + values.Rate + ' / 5 </label>' +
                                '</div>' +
                                '</div>' +
                                '</div>' +
                                '</div>';
                        });
                        $('#RightReview').html(rightreviewSection);
                    }
                    $(".cls-review-temp").remove();
                    $(".cls-professional-btn").show();
                }else{
                    $(".cls-review-temp").remove();
                    $("<p class='cls-review-temp'>No Data Available</p>").insertAfter("#review-section");
                    $(".cls-professional-btn").hide();
                }
            },
            error: function (result) {
                alert("failure");
            }
        });
    }
</script>

