@{
    ViewData["Title"] = "Industries";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}
<link href="~/assets/css/industriesstylesheet.css" rel="stylesheet" />

<main id="main" class="main">
    <section class="wrapper image-wrapper bg-image bg-overlay bg-overlay-300 base-section" style="background-color:#d38b4e">
        <!-- style="background-image: url('../assets/img/bg16.png');"-->
        <div class="container-flued pt-17 pb-19 pt-md-18 pb-md-17 text-center">
            
        @*<div class="row">
            <div class="col-lg-8 col-xl-7 col-xxl-6 mx-auto" data-cues="slideInDown" data-group="page-title" data-disabled="true">
                <h1 class="display-1 text-white fs-60 mb-4 px-md-15 px-lg-0" data-cue="slideInDown" data-group="page-title" data-show="true" style="animation-name: slideInDown; animation-duration: 700ms; animation-timing-function: ease; animation-delay: 0ms; animation-direction: normal; animation-fill-mode: both;">We bring solutions to make life <span class="underline-3 style-2 yellow">easier</span></h1>
                <p class="lead fs-24 text-white lh-sm mb-7 mx-md-13 mx-lg-10" data-cue="slideInDown" data-group="page-title" data-show="true" style="animation-name: slideInDown; animation-duration: 700ms; animation-timing-function: ease; animation-delay: 300ms; animation-direction: normal; animation-fill-mode: both;">We are a creative company that focuses on long term relationships with customers.</p>
                <div data-cue="slideInDown" data-group="page-title" data-show="true" style="animation-name: slideInDown; animation-duration: 700ms; animation-timing-function: ease; animation-delay: 600ms; animation-direction: normal; animation-fill-mode: both;">
                    <a class="btn btn-white rounded mb-10 mb-xxl-5">Read More</a>
                </div>
            </div>
            <!-- /column -->
        </div>*@
            <div class="row d-flex">
                <div class="col-lg-2 d-flex flex-column">
                    <hr style="color:#fff"/>
                </div>

                <div class="col-lg-6" style="justify-content:center;">
                    <h4 class="d-flex" style="align-self:start;color:#fff;">Industries</h4>
                    <h2 class="d-flex" data-aos="fade-up" style="align-self:start;color:#fff;">
                        AI Solutions Transforming Industries
                    </h2>
                    <p class="d-flex" data-aos="fade-up" data-aos-delay="100" style="align-self:start;color:#fff;">
                        Aephy’s experts helps businesses grow, increase revenues, reduce costs and optimize business functions.
                    </p>
                    <div class="d-flex" style="align-self:start;">
                        <a class="btn btn-white" href="#">Browse Solutions</a>
                    </div>
                </div>

                <div class="col-lg-4 hero-img" data-aos="zoom-out">
                    <img src="../assets/img/industries/industries-chip.png" class="img-fluid mb-3 mb-lg-0" alt="">
                </div>
            </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    @*<div class="overflow-hidden">
        <div class="divider text-light mx-n2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 60">
                <path fill="currentColor" d="M0,0V60H1440V0A5771,5771,0,0,1,0,0Z"></path>
            </svg>
        </div>
    </div>*@
</section>
<section class="wrapper industries">
        <div class="container pb-15 pb-md-17">
            <div class="row gx-md-5 gy-5 mt-n19 mb-14 mb-md-17">
                <div class="col-md-6 col-xl-4">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="card-img justify-content-lg-center">
                                <img src="../assets/img/industries/industries-retail.png" alt="" class="img-fluid" data-aos="zoom-out">
                            </div>
                            <h3>
                                <a href="service-details.html" class="stretched-link">
                                    Retail
                                </a>
                            </h3>
                            <p>
                                Improve customer engagement, increase revenue, and enhance operational efficiency.
                            </p>
                            <a href="#" class="more">Read on<i class="bi bi-chevron-right"></i></a>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
                <div class="col-md-6 col-xl-4">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="card-img justify-content-lg-center">
                                <img src="~/assets/img/industries/industries-finance.png" alt="" class="img-fluid" data-aos="zoom-out">
                            </div>
                            <h3>
                                <a href="service-details.html" class="stretched-link">
                                    Finance
                                </a>
                            </h3>
                            <p>
                                Drive growth, reduce risk, and improve customer experience.
                            </p>
                            <a href="#" class="more">Read on<i class="bi bi-chevron-right"></i></a>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
                <div class="col-md-6 col-xl-4">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="card-img justify-content-lg-center">
                                <img src="../assets/img/industries/industries-healthcare.png" alt="" class="img-fluid" data-aos="zoom-out">
                            </div>
                            <h3>
                                <a href="service-details.html" class="stretched-link">
                                    Healthcare
                                </a>
                            </h3>
                            <p>
                                Improve patient outcomes, reduce costs, and enhance overall healthcare delivery.
                            </p>
                            <a href="#" class="more">Read on<i class="bi bi-chevron-right"></i></a>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
                <div class="col-md-6 col-xl-4">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="card-img justify-content-lg-center">
                                <img src="../assets/img/industries/industries-manufacturing.png" alt="" class="img-fluid" data-aos="zoom-out">
                            </div>
                            <h3>
                                <a href="service-details.html" class="stretched-link">
                                    Manufacturing
                                </a>
                            </h3>
                            <p>
                                Increase operational efficiency and reduce costs
                            </p>
                            <a href="#" class="more">Read on<i class="bi bi-chevron-right"></i></a>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
                <div class="col-md-6 col-xl-4">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="card-img justify-content-lg-center">
                                <img src="../assets/img/industries/industries-marketing.png" alt="" class="img-fluid" data-aos="zoom-out">
                            </div>
                            <h3>
                                <a href="service-details.html" class="stretched-link">
                                    Marketing
                                </a>
                            </h3>
                            <p>
                                Improve customer engagement and increase revenue
                            </p>
                            <a href="#" class="more">Read on<i class="bi bi-chevron-right"></i></a>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
                 <div class="col-md-6 col-xl-4">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="card-img justify-content-lg-center">
                                <img src="../assets/img/industries/industries-real-estate.png" alt="" class="img-fluid" data-aos="zoom-out">
                            </div>
                            <h3>
                                <a href="service-details.html" class="stretched-link">
                                    Real Estate
                                </a>
                            </h3>
                            <p>
                                Improve customer experience and operational efficiency
                            </p>
                            <a href="#" class="more">Read on<i class="bi bi-chevron-right"></i></a>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
                 <div class="col-md-6 col-xl-4">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="card-img justify-content-lg-center">
                                <img src="../assets/img/industries/industries-energy.png" alt="" class="img-fluid" data-aos="zoom-out">
                            </div>
                            <h3>
                                <a href="service-details.html" class="stretched-link">
                                    Energy
                                </a>
                            </h3>
                            <p>
                                Increase operational efficiency, reduce costs, and improve sustainability
                            </p>
                            <a href="#" class="more">Read on<i class="bi bi-chevron-right"></i></a>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
                 <div class="col-md-6 col-xl-4">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="card-img justify-content-lg-center">
                                <img src="../assets/img/industries/industries-education.png" alt="" class="img-fluid" data-aos="zoom-out">
                            </div>
                            <h3>
                                <a href="service-details.html" class="stretched-link">
                                    Education
                                </a>
                            </h3>
                            <p>
                                Enhance learning outcomes and improve operational efficiency
                            </p>
                            <a href="#" class="more">Read on<i class="bi bi-chevron-right"></i></a>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
                <div class="col-md-6 col-xl-4">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="card-img justify-content-lg-center">
                                <img src="../assets/img/industries/industries-other.png" alt="" class="img-fluid" data-aos="zoom-out">
                            </div>
                            <h3>
                                <a href="service-details.html" class="stretched-link">
                                    Other Industries
                                </a>
                            </h3>
                            <p>
                                Revitalize your business by adapting to AI technology
                            </p>
                            <a href="#" class="more hover link-orange">Read on<i class="bi bi-chevron-right"></i></a>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
            </div>
        </div>
        <!-- /.container -->
    </section>


</main>