@{
    ViewData["Title"] = "Post Your Request";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}

<link href="../assets/css/postyourrequeststylesheet.css" rel="stylesheet" />

<main class="main" id="main">
    <!-- ======= PostRequest Section ======= -->
	<section id="PostRequest" class="PostRequest pt-0">
        <div class="container-flued">
			<!-- First Row -->
			<div class="row gy-4 mt-4 mx-lg-4" style="background-color:#f5f5f5; border-radius:10px;">
				<div class="col-lg-6 order-1 order-lg-1 my-4 first-col">
                    <h3 data-aos="fade-up">
                        Let’s start
                    </h3>
                    <p data-aos="fade-up" data-aos-delay="100">
                        Select the appropriate
                        options; Get a step closer to
                        transform your business.
                    </p>
                </div>

				<div class="col-lg-6 align-items-center order-3 order-lg-3 justify-content-center my-4" style="position:relative; display:grid;">
					<form action="#">
						<div class="col d-flex flex-column">
							<label data-aos="fade-up">Select Service</label>
							<select class="dropdown btn-dropdown form-select" name="service" id="select-services">
								<option value="5000">All Services</option>
								<option value="5">5</option>
								<option value="10">10</option>
								<option value="15">15</option>
								<option value="20">20</option>
								<option value="50">50</option>
								<option value="70">70</option>
								<option value="100">100</option>
							</select>
						</div>

						<div class="col d-flex flex-column">
							<label data-aos="fade-up">Select Industry</label>
							<select class="dropdown btn-dropdown form-select" name="solution" id="select-solutions">
								<option value="5000">All Solutions</option>
								<option value="5">5</option>
								<option value="10">10</option>
								<option value="15">15</option>
								<option value="20">20</option>
								<option value="50">50</option>
								<option value="70">70</option>
								<option value="100">100</option>
							</select>
						</div>

						<div class="col d-flex flex-column">
							<label data-aos="fade-up">Select Solution</label>
							<select class="dropdown btn-dropdown form-select" name="level" id="select-levels">
								<option value="5000">All Levels</option>
								<option value="5">5</option>
								<option value="10">10</option>
								<option value="15">15</option>
								<option value="20">20</option>
								<option value="50">50</option>
								<option value="70">70</option>
								<option value="100">100</option>
							</select>
						</div>
						<div class="col d-flex justify-content-end">
							<a class="btn btn-brand my-3 mx-0">Confirm</a>
						</div>
					</form>
                </div>
            </div>
			
			<!-- Second Row -->
			<div class="row gy-4 mt-5 mx-lg-4" style="background-color:#f5f5f5; border-radius:10px;">
                <div class="col-lg-6 order-1 order-lg-1 my-4 first-col">
                    <h3 data-aos="fade-up">
                        Let’s start
                    </h3>
                    <p data-aos="fade-up" data-aos-delay="100">
                        Select the appropriate
                        options; Get a step closer to
                        transform your business.
                    </p>
                </div>

				<div class="col-lg-6 align-items-center order-3 order-lg-3 justify-content-center my-4" style="position:relative; display:grid;">
					<form action="#">
						<div class="col d-flex flex-column">
							<label data-aos="fade-up">What's the project title</label>
							<input type="text" class="form-control" placeholder='Example: Create AI roadmap'>
						</div>

						<div class="col d-flex flex-column">
							<label data-aos="fade-up">Description</label>
							<input type="text" class="form-control" placeholder='Include all the relevant project details'>
						</div>

						<div class="col d-flex flex-column">
							<label data-aos="fade-up">Attach relevant file</label>
							<input type="file" class="form-control">
						</div>

						<div class="col d-flex flex-column">
							<label data-aos="fade-up">Delivery time</label>
							<input type="date" class="form-control">
						</div>

						<div class="col d-flex justify-content-end">
							<a class="btn btn-brand my-3 mx-0">Confirm</a>
						</div>
					</form>
                </div>
            </div>

        </div>
    </section><!-- End Ai Section -->
</main>

