@{
    ViewData["Title"] = "Project";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}

<link href="../assets/css/projectstylesheet.css" rel="stylesheet" />
<main class="main" id="main">
    <!-- ======= Project Section ======= -->
    <section id="Project" class="Project pt-4">
        <div class="container-flued">
            <div class="section-header mx-lg-4">
                @*<span>For Ai Gigs</span>*@
                <h4>@ViewBag.pagePath</h4>
                @*<h4>@TempData["pagePath"]</h4>*@
            </div>
            <div class="row justify-content-center mx-lg-4">
                <!-- first column -->
                <div class="col-lg-6 order-lg-last order-last right-box justify-content-center align-items-center">
                    <div class="row m-lg-2 m-4 d-flex justify-content-center align-center">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <a href="#" class="btn btn-white radio">Select Project</a>
                        </div>
                        <div class="col-lg-6 d-flex justify-content-center">
                            <a href="#" class="btn btn-white radio">Customize Project</a>
                        </div>
                    </div>
                    <div class="row m-lg-2 m-4 pt-4">
                        <h5>
                            Select project & approximate project prices
                        </h5>
                    </div>
                    <div class="row m-lg-2 m-4 pt-2 pb-2 d-flex justify-content-center align-center border-bottom border-black" style="text-align:center;">
                        <div class="col-4">
                            <label class="radio-inline" style="text-align:center;">
                                <input type="radio" name="projType" value="small" />
                                <h4>Small</h4>
                                <h5 style="opacity:0.5;">$100</h5>
                            </label>
                        </div>
                        <div class="col-4">
                            <label class="radio-inline" style="text-align:center;">
                                <input type="radio" name="projType" value="medium" />
                                <h4>Medium</h4>
                                <h5 style="opacity:0.5;">$200</h5>
                            </label>
                        </div>
                        <div class="col-4">
                            <label class="radio-inline" style="text-align:center;">
                                <input type="radio" name="projType" value="large" />
                                <h4>Large</h4>
                                <h5 style="opacity:0.5;">$300</h5>
                            </label>
                        </div>
                    </div>
                    <div class="row me-lg-2 me-4 detailRow">
                        <div class="col key">Duration</div>
                        <div class="col val">2 Weeks</div>
                    </div>
                    <div class="row me-lg-2 me-4 detailRow">
                        <div class="col key">Team Size</div>
                        <div class="col val">2</div>
                    </div>
                    <div class="row me-lg-2 me-4 detailRow">
                        <div class="col key">
                            Add more (senior project leader can add up to 3 points here)
                        </div>
                        <div class="col val"><input type="checkbox" name="Addmore" value="Addmore"/></div>
                    </div>

                    <div class="row m-lg-2 m-4 d-flex justify-content-center align-center">
                        <div class="col-lg-4 col-md-8 col-sm-12">
                            <a href="#" class="btn btn-brand" style="width:100%;">Buy($100)</a>
                            <a href="#" class="btn btn-brand" style="width:100%;">Message</a>
                        </div>
                    </div>
                </div>

                <!-- Second column -->
                <div class="col-lg-6 content order-first order-lg-first left-box">
                    <img src="../assets/img/whyaephy/ai-roadmap.png" class="img-flued" style="width:100%"/>
                    <h3 class="pt-2">Solution</h3>
                    <p>
                        Develop a comprehensive AI strategy and roadmap that is customized to meet the specific needs and goals of your retail organization. Our solution enables you to make informed decisions about AI investments and implement AI solutions that are aligned with your business objectives. Our expert team will work with you to understand your unique retail challenges and opportunities and develop a roadmap that will help you leverage AI to optimize your operations, enhance customer experiences, and drive business growth. With our tailored approach, you can be confident that you are investing in the right AI solutions that will provide maximum value and impact to your retail business.
                    </p>    
                </div>
            </div>
        </div>
    </section>
</main>