@{
    ViewData["Title"] = "Project";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}

<link href="../assets/css/projectstylesheet.css" rel="stylesheet" />
<main class="main" id="main">
    <!-- ======= Project Section ======= -->
    <section id="Project" class="Project pt-4">
        <div class="container-flued">
            <div class="section-header mx-lg-4">
                @*<span>For Ai Gigs</span>*@
                <h4>@ViewBag.pagePath</h4>
                @*<h4>@TempData["pagePath"]</h4>*@
            </div>
            <div class="row justify-content-center mx-lg-4">
                <!-- first column -->
                <div class="col-lg-5 order-lg-last order-last right-box justify-content-center align-items-center" style="height:fit-content">
                    <div class="row m-lg-2 m-4 d-flex justify-content-center align-center RButtons">
                        <div class="col-lg-6 col-md-6 d-flex justify-content-center">
                            <input type="radio" name="preferOption" label="Select Project" value="select" checked/>
                        </div>
                        <div class="col-lg-6 col-md-6 d-flex justify-content-center">
                            <input type="radio" name="preferOption" label="Customize Project" value="customize" />
                        </div>
                    </div>
                    <div class="row m-lg-2 m-4 pt-4">
                        <h5>
                            Select project & approximate project prices
                        </h5>
                    </div>
                    <div class="row m-lg-2 m-4 pt-2 pb-2 d-flex justify-content-center align-center border-bottom border-black" style="text-align:center;">
                        <div class="col-4">
                            <label class="radio-inline" style="text-align:center;">
                                <input class="form-check-input" type="radio" name="projType" value="small" checked/>
                                <h4>Small</h4>
                                <h5 style="opacity:0.5;">$100</h5>
                            </label>
                        </div>
                        <div class="col-4">
                            <label class="radio-inline" style="text-align:center;">
                                <input class="form-check-input" type="radio" name="projType" value="medium" />
                                <h4>Medium</h4>
                                <h5 style="opacity:0.5;">$200</h5>
                            </label>
                        </div>
                        <div class="col-4">
                            <label class="radio-inline" style="text-align:center;">
                                <input class="form-check-input" type="radio" name="projType" value="large" />
                                <h4>Large</h4>
                                <h5 style="opacity:0.5;">$300</h5>
                            </label>
                        </div>
                    </div>
                    <div class="row me-lg-2 me-4 detailRow">
                        <div class="col key">Duration</div>
                        <div class="col val">2 Weeks</div>
                    </div>
                    <div class="row me-lg-2 me-4 detailRow">
                        <div class="col key">Team Size</div>
                        <div class="col val">2</div>
                    </div>
                    <div class="row me-lg-2 me-4 detailRow">
                        <div class="col key">
                            Add more (senior project leader can add up to 3 points here)
                        </div>
                        <div class="col val"><input class="form-check-input" type="checkbox" name="Addmore" value="Addmore"/></div>
                    </div>

                    <div class="row m-lg-2 m-4 d-flex justify-content-center align-center">
                        <div class="col-lg-4 col-md-8 col-sm-12">
                            <a href="#" class="btn btn-brand" style="width:100%;">Buy($100)</a>
                            <a href="#" class="btn btn-brand" style="width:100%;">Message</a>
                        </div>
                    </div>
                </div>

                <!-- Second column -->
                <div class="col-lg-6 content order-first order-lg-first left-box">
                    <img src="../assets/img/whyaephy/ai-roadmap.png" class="img-flued" style="width:100%"/>
                    <h3 class="pt-2">Solution</h3>
                    <p>
                        Develop a comprehensive AI strategy and roadmap that is customized to meet the specific needs and goals of your retail organization. Our solution enables you to make informed decisions about AI investments and implement AI solutions that are aligned with your business objectives. Our expert team will work with you to understand your unique retail challenges and opportunities and develop a roadmap that will help you leverage AI to optimize your operations, enhance customer experiences, and drive business growth. With our tailored approach, you can be confident that you are investing in the right AI solutions that will provide maximum value and impact to your retail business.
                    </p>  
                    
                    <h3 class="pt-2">Description</h3>
                    <p class="creaetdBy">Created by project architect</p>
                    <p>
                        A general description created by project leader<br />Guidelines:<br />Paragraph 1: This description could focus on the benefits and outcomes that the project is expected to deliver. It could also highlight any unique features or advantages that make the project stand out from others in the same field.<br />Paragraph 2: Include a brief overview of the process that will be followed to complete the project, including any milestones or deliverables that are included.<br />Overall, the goal of summary should be to give potential clients a clear understanding of what they can expect to achieve by working with you and your team.<br />
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= What's Included Section ======= -->
    <section id="Project" class="Project pt-4">
        <div class="container-flued">
            <div class="row-lg-6 row-12 justify-content-center mx-lg-4">
                <div class="col-lg-6 col-12 content mx-lg-4 px-4">
                    <h3 class="pt-2">What is included</h3>
                    <div class="row m-lg-2 m-4 d-flex justify-content-center align-center align-items-center RButtons">
                        <div class="col-lg-4 col-md-4 d-flex justify-content-center">
                            <input type="radio" id="projSize" name="projSize" label="Small" value="small" checked />
                        </div>
                        <div class="col-lg-4 col-md-4 d-flex justify-content-center">
                            <input type="radio" id="projSize" name="projSize" label="Medium" value="medium" />
                        </div>
                        <div class="col-lg-4 col-md-4 d-flex justify-content-center">
                            <input type="radio" id="projSize" name="projSize" label="Large" value="large" />
                        </div>
                    </div>

                    <p>
                        Our goal is to offer the most suitable project to your needs that will transform your business. <br />Paragraph 0: Project is undertaken by our project leader and associate. Duration of the project is x (determined bysenior project leader).
                    </p>
                    <p>
                        Defining the scope and requirements for an AI project involves several steps: <br />Paragraph 1: Identify the problem: First, identify the business problem or opportunity that the AI project will address. This can involve analyzing data, identifying inefficiencies, or uncovering opportunities for automation. <br />Paragraph 2: Determine the goals: Next, determine the goals of the project. These should be specific, measurable, and aligned with the business problem or opportunity identified in step one. For example, a goal might be to reduce customer service response time by 50%. <br />Paragraph 3: Define the scope: Once the goals are established, define the scope of the project. This should include the data sources that will be used, the technology stack that will be employed, and any other key parameters. <br />Paragraph 5: Define the requirements: Based on the goals and scope, define the technical requirements for the project. This may include selecting specific AI algorithms, defining data preprocessing steps, and selecting performance metrics. <br />Paragraph 6: Prioritize requirements: Once the requirements are defined, prioritize them based on their importance to achieving the project goals. This will help ensure that the most critical features are implemented first. <br />Paragraph 7: Develop a plan: Finally, develop a project plan that outlines the timeline, milestones, and resources required to deliver the project. This plan should be reviewed and updated regularly to ensure that the project stays on track.
                    </p>

                    <h4>Notes : </h4>
                    <ul>
                        <li data-aos="fade-up" data-aos-delay="100">
                            <p>
                                Small: project leader + Associate.
                            </p>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="100">
                            <p>Medium: Project leader + expert + Associate.</p>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="100">
                            <p>
                                Large: Project leader + 2 experts + 2 Associates.
                            </p>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="100">
                            <p>
                                Customize team and project scope.
                            </p>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="100">
                            <p>
                                Duration should be about the same for small, medium and large.
                            </p>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="100">
                            <p>
                                Project leader determines duration and requirements and the platform estimates average project price.
                            </p>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="100">
                            <p>How much time project leader works? This is set up by project leader, he can work maximum in 3 projects at the same time. And needs to work for each project at least 2 hours a day.</p>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="100">
                            <p>
                                Milestones are included and when a client buys a project, he should arrange how often to have calls with the team.
                            </p>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="100">
                            <p>
                                For project leaders when created what is included make sure that skillset must be similar for everyone.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row-12 justify-content-center mx-lg-4 my-lg-5 my-3">
                <div class="col-lg-8 col-12 content mx-lg-4 px-4">
                    <!-- first row -->
                    <div class="row m-lg-2 m-4 d-flex justify-content-center align-center RButtons">
                        <div class="col-lg-6 col-md-6 d-flex justify-content-center">
                            <div class="cantent">
                                <div class="image">
                                    <i class="bi bi-flag"></i>
                                </div>
                                <div class="info">
                                    <div class="name">
                                        Milestone 2
                                    </div>
                                    <div class="stars">
                                        <label>Describe</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-8 d-flex justify-content-center">
                            <div class="cantent">
                                <div class="image">
                                    <i class="bi bi-skip-forward"></i>
                                </div>
                                <div class="info">
                                    <div class="name">Milestone 4</div>
                                    <div class="stars">
                                        <label>Describe</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- second row -->
                    <div class="row m-lg-2 m-4 d-flex justify-content-center align-center daysProgress">
                        <hr />
                        <div class="col-lg-2 col-md-2 d-flex justify-content-center mstoneCol">
                            <div class="image-content">
                                <div class="image">
                                    <img src="../assets/img/milestone-background.png" />
                                </div>
                                <div class="day me-1">Day <span>1</span></div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 d-flex justify-content-center mstoneCol">
                            <div class="image-content">
                                <div class="image">
                                    <img src="../assets/img/milestone-background.png" />
                                </div>
                                <div class="day me-1">Day <span>2</span></div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 d-flex justify-content-center align-items-center mstoneCol">
                            <div class="image-content">
                                <div class="image">
                                    <img src="../assets/img/milestone-background.png" />
                                </div>
                                <div class="day me-1">Day <span>3</span></div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 d-flex justify-content-center align-items-center mstoneCol">
                            <div class="image-content">
                                <div class="image">
                                    <img src="../assets/img/milestone-background.png" />
                                </div>
                                <div class="day me-1">Day <span>4</span></div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 d-flex justify-content-center align-items-center mstoneCol">
                            <div class="image-content">
                                <div class="image">
                                    <img src="../assets/img/milestone-background.png" />
                                </div>
                                <div class="day me-1">Day <span>5</span></div>
                            </div>
                        </div>
                    </div>

                    <!-- third row -->
                    <div class="row m-lg-2 m-4 d-flex justify-content-center align-center RButtons">
                        <div class="col-lg-4 col-md-4 d-flex justify-content-center">
                            <div class="cantent">
                                <div class="image">
                                    <i class="bi bi-caret-right-fill"></i>
                                </div>
                                <div class="info">
                                    <div class="name">
                                        Milestone 1
                                    </div>
                                    <div class="stars">
                                        <label>Describe</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 d-flex justify-content-center">
                            <div class="cantent">
                                <div class="image">
                                    <i class="bi bi-bookmark-fill"></i>
                                </div>
                                <div class="info">
                                    <div class="name">Milestone 3</div>
                                    <div class="stars">
                                        <label>Describe</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 d-flex justify-content-center">
                            <div class="cantent">
                                <div class="image">
                                    <i class="bi bi-check-square"></i>
                                </div>
                                <div class="info">
                                    <div class="name">Milestone 5</div>
                                    <div class="stars">
                                        <label>Describe</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row-12 justify-content-center mx-lg-4">
                <div class="col-lg-8 col-12 content mx-lg-4 px-4">
                    <div class="row m-lg-2 m-4 d-flex justify-content-center align-center RButtons">
                        <div class="col-lg-6 col-md-6 d-flex justify-content-center">
                            <div class="box">
                                <div class="icon-msg">
                                    <h3>
                                        Customer experience
                                    </h3>
                                </div>
                                <div class="description">
                                    Our team developed an AI strategy and roadmap for a retail bank that included implementing chatbots and voice assistants to automate customer service processes, improve response times, and reduce costs. Additionally, we identified opportunities to use machine learning algorithms to personalize marketing campaigns and product recommendations.
                                </div>
                                <div class="child col-10 mx-2">
                                    <div class="title border-bottom">
                                        Results
                                    </div>
                                    <div class="content">
                                        <div class="info">
                                            <div class="name">Improved</div>
                                            <div class="sub">
                                                <div class="sub-title">Customer Satisfaction</div>
                                            </div>
                                        </div>
                                        <div class="right-info">
                                            <div class="name">10% <i class="bi-arrow-up"></i></div>
                                            <div class="sub">
                                                <div class="sub-title">Revenue</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 d-flex justify-content-center">
                            <div class="box">
                                <div class="icon-msg">
                                    <h3>
                                        Portfolio Management
                                    </h3>
                                </div>
                                <div class="description">
                                    “ Aephy has been a game-changer for my business. I was able to find a project that not only met but exceeded my expectations. I am extremely happy with the outcome. I would definitely use this platform again in the future.”
                                </div>
                                <div class="child col-10 mx-2">
                                    <div class="title border-bottom">
                                        Results
                                    </div>
                                    <div class="content">
                                        <div class="info">
                                            <div class="name">15%</div>
                                            <div class="sub">
                                                <div class="sub-title">Investment Return</div>
                                            </div>
                                        </div>
                                        <div class="right-info">
                                            <div class="name">20% <i class="bi-arrow-down"></i></div>
                                            <div class="sub">
                                                <div class="sub-title">Risk Exposure</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>