@{
    ViewData["Title"] = "Project";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}

<link href="../assets/css/projectstylesheet.css" rel="stylesheet" />
<main class="main cls-fixed-common" id="main">

    <div class="container">
        <div class="row">
            <!--First Main Column-->
            <div class="col-lg-7 col-12">
                <!-- ======= Project Section ======= -->
                <section id="Project" class="Project pt-4 mainProject">
                    <div class="container-flued projectBanner">
                        <div class="section-header">
                            @*<span>For Ai Gigs</span>*@
                            @*<h4 class="Project-title-size title-path">@ViewBag.pagePath</h4>*@
                            <h4 class="Project-title-size title-path">@TempData["pagePath"]</h4>
                        </div>
                        <!-- First Row -->
                        <div class="row justify-content-center">
                            <div class="box px-0">
                                <!-- first column -->
                                <div class="col-0 col-sm-auto order-lg-last order-last right-box justify-content-center align-items-center" style="height:fit-content">
                                    <div class="row m-lg-2 d-flex justify-content-center align-center RButtons">
                                        <div class="col-6 d-flex justify-content-center">
                                            <input type="radio" name="preferOptionmobile" label="Select Project" value="select" checked />
                                        </div>
                                        <div class="col-6 d-flex justify-content-center">
                                            <input type="radio" name="preferOptionmobile" label="Customize Project" value="customize" onclick="OpenCustomisePopUp()"/>
                                        </div>
                                    </div>
                                    <div class="row m-lg-2 pt-4">
                                        <h5 class="section-detail-size">
                                            Select size and approximate price
                                        </h5>
                                    </div>
                                    <div class="row m-lg-2 pt-2 pb-2 d-flex justify-content-center align-center border-bottom border-black" style="text-align:center;">
                                        <div class="col-4">
                                            <label class="radio-inline" style="text-align:center;">
                                                <input class="form-check-input" type="radio" name="projType" value="small" checked />
                                                <h4>Small</h4>
                                                <h5 style="opacity:0.5;">$100</h5>
                                            </label>
                                        </div>
                                        <div class="col-4">
                                            <label class="radio-inline" style="text-align:center;">
                                                <input class="form-check-input" type="radio" name="projType" value="medium" />
                                                <h4>Medium</h4>
                                                <h5 style="opacity:0.5;">$200</h5>
                                            </label>
                                        </div>
                                        <div class="col-4">
                                            <label class="radio-inline" style="text-align:center;">
                                                <input class="form-check-input" type="radio" name="projType" value="large" />
                                                <h4>Large</h4>
                                                <h5 style="opacity:0.5;">$300</h5>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row me-lg-2 me-4 detailRow">
                                        <div class="col key section-detail-size">Duration</div>
                                        <div class="col val section-detail-size">2 Weeks</div>
                                    </div>
                                    <div class="row me-lg-2 me-4 detailRow">
                                        <div class="col key section-detail-size">Team Size</div>
                                        <div class="col val section-detail-size">2</div>
                                    </div>
                                    @*<div class="row me-lg-2 me-4 py-2 detailRow">
                                    <a href="" style="color:#d38b4e">Add more</a>
                                    </div>
                                    <div class="row me-lg-2 me-4 detailRow">
                                    <div class="col key section-detail-size">
                                    Point 1
                                    </div>
                                    <div class="col val text-end"><input class="form-check-input" type="checkbox" name="Addmore" value="Addmore" /></div>
                                    </div>
                                    <div class="row me-lg-2 me-4 detailRow">
                                    <div class="col key section-detail-size">
                                    Point 2
                                    </div>
                                    <div class="col val text-end"><input class="form-check-input" type="checkbox" name="Addmore" value="Addmore" /></div>
                                    </div>
                                    <div class="row me-lg-2 me-4 detailRow">
                                    <div class="col key section-detail-size">
                                    Point 3
                                    </div>
                                    <div class="col val text-end"><input class="form-check-input" type="checkbox" name="Addmore" value="Addmore" /></div>
                                    </div>*@

                                    @*<div class="row m-lg-2 m-4 d-flex justify-content-center align-center">
                                    <div class="col-lg-4 col-md-8 col-sm-12">
                                    <input  type="submit" name="btnBuy" value="Buy($100)" class="btn btn-brand" style="width: 100%; font-size: 16px;">
                                    <a href="#" class="btn btn-brand" style="width:100%;">Message</a>
                                    </div>
                                    </div>*@
                                    <div class="row d-flex justify-content-center align-center" style="font-size: 16px;">
                                        <div style="text-align: center;font-size: 16px;display: flex;width: 100%;">
                                            <input type="submit" name="btnBuy" value="Buy ($100)" class="btn btn-brand" style="font-size: 16px;width: 50%;">
                                            <a class="btn btn-brand ms-lg-3" href="#" style="font-size: 16px;width: 50%;">Message</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Second column -->
                            <div class="col-12 content order-first order-lg-first left-box">
                                <img src="../assets/img/whyaephy/ai_roadmap_development.jpg" class="img-flued" style="width:100%" />
                                <h3 class="pt-2 label-title-size title-path">Solution</h3>
                                <p class="section-detail-size">
                                    Develop a comprehensive AI strategy and roadmap that is customized to meet the specific needs and goals of your retail organization. Our solution enables you to make informed decisions about AI investments and implement AI solutions that are aligned with your business objectives. Our expert team will work with you to understand your unique retail challenges and opportunities and develop a roadmap that will help you leverage AI to optimize your operations, enhance customer experiences, and drive business growth. With our tailored approach, you can be confident that you are investing in the right AI solutions that will provide maximum value and impact to your retail business.
                                </p>
                            </div>
                        </div>

                        <!-- Second Row for description -->
                        <div class="row justify-content-center second-row">
                            <div class="col-12 content d-flex flex-column">
                                <h3 class="pt-2 label-title-size title-path">Solution</h3>
                                <p class="section-detail-size">
                                    Develop a comprehensive AI strategy and roadmap that is customized to meet the specific needs and goals of your retail organization. Our solution enables you to make informed decisions about AI investments and implement AI solutions that are aligned with your business objectives. Our expert team will work with you to understand your unique retail challenges and opportunities and develop a roadmap that will help you leverage AI to optimize your operations, enhance customer experiences, and drive business growth. With our tailored approach, you can be confident that you are investing in the right AI solutions that will provide maximum value and impact to your retail business.
                                </p>

                                <!--Description column-->
                                @*<h4 class="pt-2 label-title-size title-path">Project Architect Guidelines</h4>
                                <h5 class="creaetdBy"></h5>
                                <p style="display:block;">
                                    As we aim to consistently deliver projects of exemplary quality, it is crucial for our Project Architects to align their approaches with specific guidelines. These guidelines are designed to provide a framework that ensures comprehensive project planning, regardless of the project's scale or complexity.<br />
                                    It's important to remember that the revenue you generate is directly linked to your attention to detail. When clients purchase the projects you architect, accuracy and realistic timelines play a significant role in your income. By adhering to these guidelines, you contribute to our collective success and help us thrive in a competitive landscape. You can access the guidelines by clicking the following link.
                                </p>
                                <div class="d-flex align-self-start">
                                    <a href="" class="cls-milestone-popup" id="clsGuidelineModal" data-bs-toggle="modal" data-bs-target="#guidelineModal">View Guidelines</a>
                                </div>*@

                                <div class="row m-lg-2 m-4 d-flex justify-content-center align-center align-items-center RButtons">
                                    <div class="col-lg-4 col-md-4 d-flex justify-content-center">
                                        <input type="radio" id="projSize" name="projSize" label="Small" value="small" checked />
                                    </div>
                                    <div class="col-lg-4 col-md-4 d-flex justify-content-center">
                                        <input type="radio" id="projSize" name="projSize" label="Medium" value="medium" />
                                    </div>
                                    <div class="col-lg-4 col-md-4 d-flex justify-content-center">
                                        <input type="radio" id="projSize" name="projSize" label="Large" value="large" />
                                    </div>
                                </div>

                                <!--Description column-->

                                <h4 class="pt-2 label-title-size title-path">Project Outline</h4>
                                <p style="display:block;">
                                    Describe Project Outline
                                </p>
                                @*<div class="d-flex align-self-start">
                                <a href=""  class="cls-milestone-popup" id="clsGuidelineModal" data-bs-toggle="modal" data-bs-target="#guidelineModal">View Guidelines</a>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </section>

                <!-- ======= What's Included Section ======= -->
                <section id="Project" class="Project pt-4">
                    <div class="container-flued">
                        <div class="row justify-content-center">
                            <div class="col-12 content d-flex flex-column">
                                <h3 class="pt-2 label-title-size title-path">Project Details</h3>
                                <p class="section-detail-size">
                                    Our goal is to offer the most suitable project to your needs that will transform your business. <br />Paragraph 0: Project is undertaken by our project leader and associate. Duration of the project is x (determined bysenior project leader).
                                </p>
                                
                                @*<div class="d-flex align-self-start">
                                <a href="" class="cls-milestone-popup" id="clsGuidelineModal" data-bs-toggle="modal" data-bs-target="#guidelineModal">View Guidelines</a>
                                </div>*@
                            </div>
                        </div>

                        <div class="row justify-content-center" style="display: flex;
  align-items: center;
  justify-content: center;
  background:#2E1F47;
  letter-spacing: 0.6px;">
                            <!-- first row -->
                            <div class="progressContainer d-flex flex-column px-0">
                                <h3 class="pt-2 label-title-size title-path" style="padding:0 0 0 0.5em;">Milestone</h3>
                                <ul class="progress">
                                    <li class="progress__item progress__item--completed">
                                        <p class="progress__title Project-title-size">Milestone 1</p>
                                        @*                                        <p class="progress__info">Milestone Homepage / About/Careers 27th June Milestone 2 Homepage / About / About us 28th June Milestone 2 Homepage / About / About 28th June Milestone 2 Homepage / About / Contact 3rd July Milestone 2 Homepage / About/Careers / Open roles 5th July Milestone 2 Homepage / Gig openings / Open gig roles 5th July Milestone 2 Homepage / Gig openings 6th July</p>
                                        *@                                        <p class="progress__info__date"><i class="bi bi-calendar-week"></i>Due Jul 7</p>
                                    </li>
                                    <li class="progress__item progress__item--active">
                                        <p class="progress__title Project-title-size">Milestone 2</p>
                                        @*<p class="progress__info">Milestone 2 Homepage / About / Careers 27th June Milestone 2 Homepage / About / About us 28th June Milestone 2 Homepage/ About / About 28th June Milestone 2 Homepage / About / Contact 3rd July Milestone 2 Homepage / About/Careers / Open roles 5th July Milestone 2 Homepage / Gig openings / Open gig roles 5th July Milestone 2 Homepage / Gig openings 6th July</p>*@
                                        <p class="progress__info__date"><i class="bi bi-calendar-week"></i>Due Jul 7</p>
                                    </li>
                                    <li class="progress__item">
                                        <p class="progress__title Project-title-size">Milestone 3</p>
                                        @*<p class="progress__info">Next Step</p>*@
                                        <p class="progress__info__date"><i class="bi bi-calendar-week"></i>Due Jul 7</p>
                                    </li>
                                    <li class="progress__item">
                                        <p class="progress__title Project-title-size">Milestone 4</p>
                                        @*<p class="progress__info">Describe</p>*@
                                        <p class="progress__info__date"><i class="bi bi-calendar-week"></i>Due Jul 7</p>
                                    </li>
                                    <li class="progress__item">
                                        <p class="progress__title Project-title-size">Milestone 5</p>
                                        @*<p class="progress__info">Describe</p>*@
                                        <p class="progress__info__date"><i class="bi bi-calendar-week"></i>Due Jul 7</p>
                                    </li>
                                </ul>
                                <div class="d-flex align-self-start" style="padding:1rem 0 0 1em;">
                                    <a href="" class="cls-milestone-popup" id="clsMilestonePopup" data-bs-toggle="modal" data-bs-target="#milestonesModal">View Details</a>
                                </div>
                            </div>
                        </div>

                         @*FINAL RELEASE*@
                        <!-- Successfull Projects row-->
                        <div class="row justify-content-center cls-temp-common" id="successfullProjects">
                            <div class="col-12">
                                <div class="row">
                                    <h3 class="pt-2 justify-content-center label-title-size title-path" style="padding:0 0 0 1em;">
                                        Successful Projects
                                    </h3>
                                    <div id="SuccessfulProjectsCarousel" class="carousel slide" data-interval="false">
                                        <div class="carousel-inner" role="listbox">
                                            <div class="carousel-item active">
                                                <div class="col-lg-6 col-md-6 d-flex justify-content-center">
                                                    <div class="box cls-Successful-Projects">
                                                        <div class="icon-msg">
                                                            <h3 class="Project-title-size">
                                                                Customer experience
                                                            </h3>
                                                        </div>
                                                        <div class="description">
                                                            Our team developed an AI strategy and roadmap for a retail bank that included implementing chatbots and voice assistants to automate customer service processes, improve response times, and reduce costs. Additionally, we identified opportunities to use machine learning algorithms to personalize marketing campaigns and product recommendations.
                                                        </div>
                                                        <div class="child col-10 mx-lg-2">
                                                            <div class="title border-bottom">
                                                                Results
                                                            </div>
                                                            <div class="content">
                                                                <div class="info">
                                                                    <div class="name">Improved</div>
                                                                    <div class="sub">
                                                                        <div class="sub-title">Customer Satisfaction</div>
                                                                    </div>
                                                                </div>
                                                                <div class="right-info">
                                                                    <div class="name">10% <i class="bi-arrow-up"></i></div>
                                                                    <div class="sub">
                                                                        <div class="sub-title">Revenue</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="col-md-6">
                                                    <div class="box cls-Successful-Projects" style="background-color:#a6a6a6">
                                                        <div class="icon-msg">
                                                            <h3 class="Project-title-size">
                                                                Portfolio Management
                                                            </h3>
                                                        </div>
                                                        <div class="description">
                                                            An AI roadmap that included implementing natural language processing (NLP) and deep learning algorithms to analyze market data, identify trends and patterns, and provide investment recommendations. We also implemented a risk management system that used machine learning to monitor portfolio risk in real-time and provide alerts when necessary.
                                                        </div>
                                                        <div class="child col-10 mx-lg-2" style="background-color:#a6a6a6">
                                                            <div class="title border-bottom">
                                                                Results
                                                            </div>
                                                            <div class="content">
                                                                <div class="info">
                                                                    <div class="name">15%</div>
                                                                    <div class="sub">
                                                                        <div class="sub-title">Investment Return</div>
                                                                    </div>
                                                                </div>
                                                                <div class="right-info">
                                                                    <div class="name">20% <i class="bi-arrow-down"></i></div>
                                                                    <div class="sub">
                                                                        <div class="sub-title">Risk Exposure</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="carousel-control-prev bg-transparent w-aut" href="#SuccessfulProjectsCarousel" role="button" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            </a>
                                            <a class="carousel-control-next bg-transparent w-aut" href="#SuccessfulProjectsCarousel" role="button" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                         @* FINAL RELEASE*@
                        <!--Ratings Scorecard row-->
                        <div class="row ratingProgress">
                            <div class="section-header">
                                <h3 class="justify-content-start align-items-center label-title-size title-path"><label style="background-color:#fff; padding:0 0 0 0.5em;">Solution Reviews</label></h3>
                            </div>
                            <div class="col-12 d-flex px-0">
                                <div class="row" style="width:100%;">
                                    <!--col 1-->
                                    <div class="col-6 left-content">
                                        <div class="row px-3">
                                            <div class="col approxRating d-flex flex-row align-items-center"><i class="bi bi-star-fill"></i><label class="lblTotalRatings">4.9</label><label class="lblTotalReviews">109</label><label>reviews</label></div>
                                        </div>
                                        <div class="row my-2">
                                            <div class="col ProgressTable">
                                                <table style="width:100%;">
                                                    <thead></thead>
                                                    <tbody style="color:#d49255">
                                                        <tr>
                                                            <td>5 stars</td>
                                                            <td><progress id="progress" value="101" max="109"></progress></td>
                                                            <td><label>101</label></td>
                                                        </tr>
                                                        <tr>
                                                            <td>4 stars</td>
                                                            <td><progress id="progress" value="7" max="109"></progress></td>
                                                            <td><label>7</label></td>
                                                        </tr>
                                                        <tr>
                                                            <td>3 stars</td>
                                                            <td><progress id="progress" value="1" max="109"></progress></td>
                                                            <td><label>1</label></td>
                                                        </tr>
                                                        <tr>
                                                            <td>2 stars</td>
                                                            <td><progress id="progress" value="0" max="109"></progress></td>
                                                            <td><label>0</label></td>
                                                        </tr>
                                                        <tr>
                                                            <td>1 stars</td>
                                                            <td><progress id="progress" value="0" max="109"></progress></td>
                                                            <td><label>0</label></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!--col 2-->
                                    <div class="col-6 right-content ratingBreakdown px-lg-0 px-4">
                                        <div class="row mx-lg-0 mx-2 label-title-size title-path"><h4>Rating breakdown</h4></div>
                                        <div class="row">
                                            <div class="col-lg-6 col-12">
                                                <table id="tableRatingBreakdown">
                                                    <tbody>
                                                        <tr>
                                                            <td>Well-Defined Project Scope</td>
                                                            <td class="rating"><i class="bi bi-star-fill"></i><label>4.9</label></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Adherence to Project Scope</td>
                                                            <td class="rating"><i class="bi bi-star-fill"></i><label>4.9</label></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Quality of Deliverables</td>
                                                            <td class="rating"><i class="bi bi-star-fill"></i><label>4.8</label></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="col-lg-6 col-12">
                                                <table id="tableRatingBreakdown">
                                                    <tbody>
                                                        <tr>
                                                            <td>Meeting Timeliness</td>
                                                            <td class="rating"><i class="bi bi-star-fill"></i><label>5.0</label></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Client Satisfaction</td>
                                                            <td class="rating"><i class="bi bi-star-fill"></i><label>5.0</label></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Adherence to Budget</td>
                                                            <td class="rating"><i class="bi bi-star-fill"></i><label>4.9</label></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="row ratingProgress">
                                <!--col 3-->
                                <div class="col-12 content clientReviews d-flex flex-column">
                                    <div class="row pt-5">
                                        <div class="col-12">
                                            <div class="content">
                                                <div class="image">
                                                    <div>SK</div>
                                                </div>
                                                <div class="info">
                                                    <div class="name">Sean K.</div>
                                                    <div class="stars">
                                                        <i class="bi bi-star-fill"></i>
                                                        <label>5.00</label>
                                                        <label class="date">Mar 24,2023</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="box">
                                                <div class="title">
                                                    Add excel document into Powerpoint
                                                </div>
                                                <div class="detailReview">
                                                    Did a good job putting an excel into a Powerpoint deck for me
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 cls-clientReview-hide">
                                            <div class="content">
                                                <div class="image">
                                                    <div>EC</div>
                                                </div>
                                                <div class="info">
                                                    <div class="name">Eleonora C.</div>
                                                    <div class="stars">
                                                        <i class="bi bi-star-fill"></i>
                                                        <label>5.00</label>
                                                        <lable class="date">Mar 23,2023</lable>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="box">
                                                <div class="title">
                                                    //extra PPT as agreed
                                                </div>
                                                <div class="detailReview">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex align-self-start">
                                        <a class="cls-ClientReviews-popup btn-show-more" id="btnClientReviewsPopup" data-bs-toggle="modal" data-bs-target="#clsClientReviewsPopup">View More</i></a>
                                    </div>
                                </div>
                            </div>*@
                        </div>
                        <!--Row 3 Personalize Project-->
                        <!-- Reviews row -->
                        <div class="row justify-content-center reviews px-0 gx-0" id="reviews">
                            <h3 class="pt-2 justify-content-center label-title-size title-path">
                                Top Professionals
                            </h3>
                            <div id="projectReviewCarousel" class="carousel slide" data-interval="false">
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                        <div class="col-md-6 cls-gigopening-m-carousel" style="padding-top:7px !important;" data-aos="fade-up" data-aos-delay="100">
                                            <div class="box">
                                                <div class="title">
                                                    Michael – Project Manager Anomaly Detection
                                                </div>
                                                <div class="detailReview">
                                                    Michael is an expert in AI roadmap development with a proven track record of helping businesses identify and implement AI solutions that align with their strategic goals. She is highly skilled in analyzing data and identifying the most promising use cases to drive business growth.
                                                </div>
                                            </div>
                                            <div class="content">
                                                <div class="image">
                                                    <div>MR</div>
                                                </div>
                                                <div class="info">
                                                    <div class="name">Michael Rose</div>
                                                    <div class="stars">
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <label> 4.9 / 5 </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="col-md-6 cls-gigopening-m-carousel" style="padding-top:7px !important;" data-aos="fade-up" data-aos-delay="200">
                                            <div class="box">
                                                <div class="title">
                                                    Anna – Expert AI Roadmap Development
                                                </div>
                                                <div class="detailReview">
                                                    Anna is an expert in AI roadmap development with a proven track record of helping businesses identify and implement AI solutions that align with their strategic goals. She is highly skilled in analyzing data and identifying the most promising use cases to drive business growth.
                                                </div>
                                            </div>
                                            <div class="content">
                                                <div class="image">
                                                    <div>AL</div>
                                                </div>
                                                <div class="info">
                                                    <div class="name">   Anna Lakhani</div>
                                                    <div class="stars">
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <label>4.8/5</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="col-md-6 cls-gigopening-m-carousel" style="padding-top:7px !important;" data-aos="fade-up" data-aos-delay="200">
                                            <div class="box">
                                                <div class="title">
                                                    Anna1 – Expert AI Roadmap Development
                                                </div>
                                                <div class="detailReview">
                                                    Anna is an expert in AI roadmap development with a proven track record of helping businesses identify and implement AI solutions that align with their strategic goals. She is highly skilled in analyzing data and identifying the most promising use cases to drive business growth.
                                                </div>
                                            </div>
                                            <div class="content">
                                                <div class="image">
                                                    <div>AL</div>
                                                </div>
                                                <div class="info">
                                                    <div class="name">   Anna Lakhani</div>
                                                    <div class="stars">
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <label>4.8/5</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="col-md-6 cls-gigopening-m-carousel" style="padding-top:7px !important;" data-aos="fade-up" data-aos-delay="200">
                                            <div class="box">
                                                <div class="title">
                                                    Anna2 – Expert AI Roadmap Development
                                                </div>
                                                <div class="detailReview">
                                                    Anna is an expert in AI roadmap development with a proven track record of helping businesses identify and implement AI solutions that align with their strategic goals. She is highly skilled in analyzing data and identifying the most promising use cases to drive business growth.
                                                </div>
                                            </div>
                                            <div class="content">
                                                <div class="image">
                                                    <div>AL</div>
                                                </div>
                                                <div class="info">
                                                    <div class="name">   Anna Lakhani</div>
                                                    <div class="stars">
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <label>4.8/5</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <a class="carousel-control-prev bg-transparent w-aut" href="#projectReviewCarousel" role="button" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                </a>
                                <a class="carousel-control-next bg-transparent w-aut" href="#projectReviewCarousel" role="button" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                        <div class="row JoinUs" style="padding:50px 0;">
                            <div class="col-12 column-client-guide">
                                @*<img src="~/assets/img/opengigsimage.png" class="img-fluid" alt="">*@
                                <h3 class="label-title-size title-path">
                                    Client Guide
                                </h3>
                                <ul>
                                    <li data-aos="fade-up" data-aos-delay="100">
                                        <i class="bi bi-send"></i>
                                        <div>
                                            <h5 class="Project-title-size">
                                                Project Initiation After Purchase
                                            </h5>
                                            <p>
                                                Upon securing a project, it typically commences within 2-4 days or on a client-preferred date. Our platform assures at least two hours of overlapping communication between clients and their respective freelance teams.
                                            </p>
                                            <details>
                                                <summary class="collapsible expand-client-guide">Expand</summary>
                                                <div class="content">
                                                    Our system is built for flexibility, allowing clients to define their communication schedules. We ensure a minimum of two hours of overlapping work time for real-time interaction and project discussions. This arrangement, adjustable upon client-freelancer communication, accommodates varying project complexities and client preferences.
                                                </div>
                                            </details>
                                        </div>
                                    </li>
                                    <li data-aos="fade-up" data-aos-delay="200">
                                        <i class="bi bi-send"></i>
                                        <div>
                                            <h5 class="Project-title-size">
                                                Provision of Project Information
                                            </h5>
                                            <p>
                                                To deliver precise and comprehensive projects, our freelancers require specific details from the client.
                                            </p>
                                            <details>
                                                <summary class="collapsible expand-client-guide">Expand</summary>
                                                <div class="content">
                                                    Submitting detailed and accurate project information enables a more accurate execution of project requirements. Necessary details may include project objectives, required datasets, key performance metrics, deadlines, and other project-specific elements. Such information equips freelancers to produce a project outcome that perfectly aligns with client expectations.
                                                </div>
                                            </details>
                                        </div>
                                    </li>
                                    <li data-aos="fade-up" data-aos-delay="300">
                                        <i class="bi bi-send"></i>
                                        <div>
                                            <h5 class="Project-title-size">
                                                Project Completion, Payment Processing, and Feedback
                                            </h5>
                                            <p>
                                                Payment procedure commences once the project requirements are met and the client approves the final deliverable.
                                            </p>
                                            <details>
                                                <summary class="collapsible expand-client-guide">Expand</summary>
                                                <div class="content">
                                                    Our platform incorporates an escrow service, enhancing financial security by securely holding funds until the successful completion of the project or its milestones, as chosen by the client. Funds are then released to the freelancer only upon client satisfaction and approval of either the completed project or its individual milestones. Post-project feedback from clients is strongly encouraged, aiding us in continuous service enhancement and upholding a high-quality freelance network.
                                                </div>
                                            </details>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!--Second Main Column-->
            <div class="col-lg-5 col-12 rightStickyRow">
                <!-- First Row -->
                <div class="row mx-lg-4">
                    <!-- first column -->
                    <div class="col-lg-12 rightSticky-box justify-content-center align-items-center">
                        <div class="row m-lg-2 m-4 d-flex justify-content-center align-center RButtons">
                            <div class="col-lg-6 col-md-6 d-flex justify-content-center">
                                <input type="radio" name="preferOption" label="Select Project" value="select" checked />
                            </div>
                            <div class="col-lg-6 col-md-6 d-flex justify-content-center">
                                <input type="radio" name="preferOption" label="Customize Project" value="customize" onclick="OpenCustomisePopUp()"/>
                            </div>
                        </div>
                        <div class="row m-lg-2 pt-4">
                            <h5 class="section-detail-size">
                                Select size and approximate price
                            </h5>
                        </div>
                        <div class="row m-lg-2 pt-2 pb-2 d-flex justify-content-center align-center border-bottom border-black" style="text-align:center;">
                            <div class="col-4">
                                <label class="radio-inline" style="text-align:center;">
                                    <input class="form-check-input" type="radio" name="projType" value="small" checked />
                                    <h4>Small</h4>
                                    <h5 style="opacity:0.5;">$100</h5>
                                </label>
                            </div>
                            <div class="col-4">
                                <label class="radio-inline" style="text-align:center;">
                                    <input class="form-check-input" type="radio" name="projType" value="medium" />
                                    <h4>Medium</h4>
                                    <h5 style="opacity:0.5;">$200</h5>
                                </label>
                            </div>
                            <div class="col-4">
                                <label class="radio-inline" style="text-align:center;">
                                    <input class="form-check-input" type="radio" name="projType" value="large" />
                                    <h4>Large</h4>
                                    <h5 style="opacity:0.5;">$300</h5>
                                </label>
                            </div>
                        </div>
                        <div class="row me-lg-2 me-4 detailRow">
                            <div class="col key section-detail-size">Duration</div>
                            <div class="col val text-end section-detail-size">2 Weeks</div>
                        </div>
                        <div class="row me-lg-2 me-4 detailRow">
                            <div class="col key section-detail-size">Team Size</div>
                            <div class="col val text-end section-detail-size">2</div>
                        </div>
                        <div class="row d-flex justify-content-center align-center">
                            <div style="text-align: center;font-size: 16px;display: flex;width: 100%;">
                                <input type="submit" name="btnBuy" value="Buy ($100)" class="btn btn-brand" style="width: 50%;">
                                <a class="btn btn-brand ms-lg-3" href="#" style="font-size: 16px;width: 50%;">Message</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<!-- Milestones Modal -->
    <div class="modal fade" id="milestonesModal" tabindex="-1" aria-labelledby="milestonesModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Milestones</h4>
                    <a class="close" data-dismiss="#milestonesModal"><i class="bi bi-x-circle"></i></a>
                </div>
                <div class="modal-body p-0">
                    <div class="progressContainer d-flex flex-column">
                        <ul class="progress">
                            <li class="progress__item progress__item--completed">
                                <p class="progress__title">Milestone 1</p>
                                <p class="progress__info">Milestone Homepage / About/Careers 27th June Milestone 2 Homepage / About / About us 28th June Milestone 2 Homepage / About / About 28th June Milestone 2 Homepage / About / Contact 3rd July Milestone 2 Homepage / About/Careers / Open roles 5th July Milestone 2 Homepage / Gig openings / Open gig roles 5th July Milestone 2 Homepage / Gig openings 6th July</p>
                                <p class="progress__info__date"><i class="bi bi-calendar-week"></i>Due Jul 7</p>
                            </li>
                            <li class="progress__item progress__item--active">
                                <p class="progress__title">Milestone 2</p>
                                <p class="progress__info">Milestone 2 Homepage / About / Careers 27th June Milestone 2 Homepage / About / About us 28th June Milestone 2 Homepage/ About / About 28th June Milestone 2 Homepage / About / Contact 3rd July Milestone 2 Homepage / About/Careers / Open roles 5th July Milestone 2 Homepage / Gig openings / Open gig roles 5th July Milestone 2 Homepage / Gig openings 6th July</p>
                                <p class="progress__info__date"><i class="bi bi-calendar-week"></i>Due Jul 7</p>
                            </li>
                            <li class="progress__item cls-milestone-hide">
                                <p class="progress__title">Milestone 3</p>
                                <p class="progress__info">Next Step</p>
                                <p class="progress__info__date"><i class="bi bi-calendar-week"></i>Due Jul 7</p>
                            </li>
                            <li class="progress__item cls-milestone-hide">
                                <p class="progress__title">Milestone 4</p>
                                <p class="progress__info">Describe</p>
                                <p class="progress__info__date"><i class="bi bi-calendar-week"></i>Due Jul 7</p>
                            </li>
                            <li class="progress__item cls-milestone-hide">
                                <p class="progress__title">Milestone 5</p>
                                <p class="progress__info">Describe</p>
                                <p class="progress__info__date"><i class="bi bi-calendar-week"></i>Due Jul 7</p>
                            </li>
                        </ul>
                        <div class="d-flex align-self-start btn-more-less" style="padding:1rem 0 0 1em;">
                            <a class="cls-milestone-showmore cls-milestone" onclick="MilestoneViewMore();" id="clsMilestoneShowmore">View Details<i class="bi bi-caret-down-fill"></i></a>
                        </div>
                        <div class="d-flex align-self-start btn-more-less" style="padding:1rem 0 0 1em;">
                            <a class="cls-milestone-showless cls-milestone" onclick="MilestoneViewLess();" id="clsMilestoneShowless">Hide Details<i class="bi bi-caret-up-fill"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Client Reviews Modal -->
    <div class="modal fade" id="clsClientReviewsPopup" tabindex="-1" aria-labelledby="clsClientReviewsPopup" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Milestones</h4>
                    <a class="close" data-dismiss="#milestonesModal"><i class="bi bi-x-circle"></i></a>
                </div>
                <div class="modal-body p-0">
                    <div class="row ratingProgress" style="padding:2rem;">
                        <!--col 3-->
                        <div class="col-12 content clientReviews d-flex flex-column">
                            <div class="row">
                                <div class="col-12">
                                    <div class="content">
                                        <div class="image">
                                            <div>SK</div>
                                        </div>
                                        <div class="info">
                                            <div class="name">Sean K.</div>
                                            <div class="stars">
                                                <i class="bi bi-star-fill"></i>
                                                <label>5.00</label>
                                                <label class="date">Mar 24,2023</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box">
                                        <div class="title">
                                            Add excel document into Powerpoint
                                        </div>
                                        <div class="detailReview">
                                            Did a good job putting an excel into a Powerpoint deck for me
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="content">
                                        <div class="image">
                                            <div>EC</div>
                                        </div>
                                        <div class="info">
                                            <div class="name">Eleonora C.</div>
                                            <div class="stars">
                                                <i class="bi bi-star-fill"></i>
                                                <label>5.00</label>
                                                <lable class="date">Mar 23,2023</lable>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box">
                                        <div class="title">
                                            @*extra PPT as agreed*@
                                        </div>
                                        <div class="detailReview">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- GuidelineModal Modal -->
    <div class="modal fade" id="guidelineModal" tabindex="-1" aria-labelledby="guidelineModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Guidelines</h4>
                    <a class="close" data-dismiss="#guidelineModal"><i class="bi bi-x-circle"></i></a>
                </div>
                <div class="modal-body p-0">
                    <div class="progressContainer d-flex flex-column">
                        <ol>
                            <li data-aos="fade-up" data-aos-delay="100" class="list-title-size">
                                <h3 class="list-title-size">Before You Dive In</h3>
                                <p class="section-detail-size">This document has been designed as a reference for project architects. It offers guidelines for creating the “Project Outline” and "Project Details" and “Milestones” sections for predefined solutions. Team size will be determined based on the project scale: Small: 1 Project Manager + 1 Associate, Medium: 1 Project Manager + 1 Expert + 1 Associate, Large: 1 Project Leader + 2 Experts + 2 Associates. For Custom projects, team size and timelines will be selected based on client preferences. Although we typically suggest maintaining a uniform duration for predefined projects, regardless of whether they are small, medium, or large, it's important to consider that larger projects, given their increased complexity, might not only require a larger team of freelancers, but also an extended timeline for completion. While there is a limit to the number of words displayed on the platform, the Project Architect can create a more detailed version of the solution which can be made available to viewers as an attachment, accessible via a pop-up window. All relevant information should be adjusted based on the size of each project and populated once for each project scale: small, medium, and large.</p>
                            </li>
                            <li data-aos="fade-up" data-aos-delay="100" class="list-title-size">
                                <h3 class="list-title-size">Project Outline</h3>
                                <ul>
                                    <li class="section-detail-size">
                                        Paragraph 1:<p>Focus on the expected benefits and outcomes of the project. Highlight any unique features or advantages that differentiate this project from others in the field.</p>
                                    </li>
                                    <li class="section-detail-size">
                                        Paragraph 2:<p>Provide an overview of the project process, mentioning any key milestones or deliverables. Ensure the summary is client-focused, communicating effectively what potential clients can expect to gain from their collaboration with freelancers on the website.</p>
                                    </li class="section-detail-size">
                                </ul>
                            </li>
                            <li data-aos="fade-up" data-aos-delay="100" class="list-title-size">
                                <h3 class="list-title-size">Project Details</h3>
                                <h4 class="section-title-size">
                                    Defining the scope and requirements for an AI project involves several steps
                                </h4>
                                <ul>
                                    <li class="section-detail-size">
                                        Paragraph 1:<p>Identify the problem: First, identify the business problem or opportunity that the AI project will address. This can involve analysing data, identifying inefficiencies, or uncovering opportunities for automation.</p>
                                    </li>
                                    <li class="section-detail-size">
                                        Paragraph 2:<p>Determine the goals: Next, determine the goals of the project. These should be specific, measurable, and aligned with the business problem or opportunity identified in step one. For example, a goal might be to reduce customer service response time by 50%.</p>
                                    </li>
                                    <li class="section-detail-size">
                                        Paragraph 3:<p>Define the scope: Once the goals are established, define the scope of the project. This should include the data sources that will be used, the technology stack that will be employed, and any other key parameters.</p>
                                    </li>
                                    <li class="section-detail-size">
                                        Paragraph 4:<p>Define the requirements: Based on the goals and scope, define the technical requirements for the project. This may include selecting specific AI algorithms, defining data pre-processing steps, and selecting performance metrics.</p>
                                    </li>
                                    <li class="section-detail-size">
                                        Paragraph 5:<p>Prioritize requirements: Once the requirements are defined, prioritize them based on their importance to achieving the project goals. This will help ensure that the most critical features are implemented first.</p>
                                    </li>
                                    <li class="section-detail-size">
                                        Paragraph 6:<p>Develop a plan: Finally, develop a project plan that outlines the timeline, milestones, and resources required to deliver the project. This plan should be reviewed and updated regularly to ensure that the project plan stays on track.</p>
                                    </li>
                                </ul>
                            </li>
                            <li data-aos="fade-up" data-aos-delay="100" class="list-title-size">
                                <h3 class="list-title-size">Milestones</h3>
                                <h4 class="section-title-size">
                                    Milestones should be created by following the guidelines as described below:
                                </h4>
                                <ul class="section-title-size">
                                    <li data-aos="fade-up" data-aos-delay="100">
                                        <p class="section-detail-size">
                                            Identification - Identify the key deliverables and deadlines that signify progress in the project.
                                        </p>
                                    </li>
                                    <li data-aos="fade-up" data-aos-delay="100">
                                        <p class="section-detail-size">Relevance - Ensure each milestone is related directly to the project's goals and objectives.</p>
                                    </li>
                                    <li data-aos="fade-up" data-aos-delay="100">
                                        <p class="section-detail-size">
                                            Measurable - Milestones should be tangible and quantifiable so that it's clear when they have been achieved.
                                        </p>
                                    </li>
                                    <li data-aos="fade-up" data-aos-delay="100">
                                        <p class="section-detail-size">
                                            Timely - Set realistic yet ambitious timelines for each milestone to keep the project on track.
                                        </p>
                                    </li>
                                    <li data-aos="fade-up" data-aos-delay="100">
                                        <p class="section-detail-size">
                                            Review - Regularly review and update the milestones after client and freelancers’ feedback.
                                        </p>
                                    </li>
                                </ul>
                            </li>
                            <li data-aos="fade-up" data-aos-delay="100" class="list-title-size">
                                <h3 class="list-title-size">Project Highlights</h3>
                                <p class="section-detail-size">On the main box, before the "Buy" and "Message" options, the project designer can add up to 3 summary points that are significant and beneficial for the client. These points should capture the essence of the project, its key deliverables, and client benefits.</p>
                            </li>
                        </ol>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Customize Modal*@

    <div class="modal" id="CustomiseProjectPopUp" tabindex="-1" aria-labelledby="CustomiseProjectPopUp" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Find Project</h4>
                    <a class="close" data-dismiss="#CustomiseProjectPopUp" onclick="CloseCustomisePopUp()">
                        <i class="bi bi-x-circle"></i>
                    </a>
                </div>
                <div class="modal-body p-0" style="background-color: #f5f5f5;">
                    <div class="container-fluid">
                        <div style="border-radius:10px;">
                            <div class="row gy-4 mt-4 mx-lg-4" style="padding:2%">
                                <div class="col-lg-6 order-1 order-lg-1 ClientIntro">
                                    <h3 data-aos="fade-up">
                                        Let’s start
                                    </h3>
                                    <p data-aos="fade-up" data-aos-delay="100">
                                        Select the appropriate
                                        options; Get a step closer to
                                        transform your business.
                                    </p>
                                </div>

                                <div class="col-lg-6 order-3 order-lg-3" id="Projectdescription">
                                    <form action="#">
                                        <div class="col d-flex flex-column">
                                            <label data-aos="fade-up">What's the project title</label>
                                            <input type="text" class="form-control" placeholder='Example: Create AI roadmap'>
                                        </div>

                                        <div class="col d-flex flex-column pt-2">
                                            <label data-aos="fade-up">Description</label>
                                            <input type="text" class="form-control" placeholder='Include all the relevant project details'>
                                        </div>

                                        <div class="col d-flex flex-column pt-2">
                                            <label data-aos="fade-up">Attach relevant file</label>
                                            <input type="file" class="form-control">
                                        </div>

                                        <div class="col d-flex flex-column pt-2">
                                            <label data-aos="fade-up">Delivery time</label>
                                            <input type="date" class="form-control" id="delivery-time">
                                        </div>

                                        <div class="col d-flex flex-column pt-2">
                                            <label data-aos="fade-up">Budget</label>
                                            <input type="text" class="form-control" placeholder='1,50,000'>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        

                        <div class="col d-flex justify-content-end">
                            <a class="btn btn-brand my-3 mx-0" id="PostButton" onclick="CloseCustomisePopUp()">Confirm</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

<script>
    $(document).ready(function () {

        $('.close').on('click', function () {
            $('#milestonesModal').modal('hide');

            $('#clsClientReviewsPopup').modal('hide');

            $('#guidelineModal').modal('hide');
        });
    });
    function MilestoneViewMore(){
        $(".cls-milestone-showmore").css("display", "none");
        $(".cls-milestone-hide").css("display", "block");
        $(".cls-milestone-showless").css("display", "block");
    }

    function MilestoneViewLess(){
        $(".cls-milestone-showmore").css("display", "block");
        $(".cls-milestone-hide").css("display", "none");
        $(".cls-milestone-showless").css("display", "none");
    }

    function OpenCustomisePopUp(){
       $('#CustomiseProjectPopUp').modal('show');
    }

    function CloseCustomisePopUp(){
        $('#CustomiseProjectPopUp').modal('hide');
    }
</script>