@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}
<link href="~/assets/css/ServicesStyleSheet.css" rel="stylesheet" />

<main id="main" class="main cls-fixed-common">
    <section class="wrapper base-section hero" style="background-color:#d38b4e">
        <div class="container-flued text-center">
            <div class="row d-flex">
                <div class="col-lg-2 barCol order-lg-1 order-2">
                    <hr style="color:#fff" />
                </div>

                <div class="col-lg-6 px-4 px-lg-0 d-flex flex-column infoCol order-lg-2 order-3">
                    <h4 class="d-flex service-title-size">Services</h4>
                    <div style="width:fit-content;" class="d-flex flex-column">
                        <h2 class="d-flex pt-lg-0 pt-3 service-title-size" data-aos="fade-up" style="align-self:start;color:#fff;text-align:left;">
                            Your AI Service Portal
                        </h2>
                        <p class="d-flex section-detail-size" data-aos="fade-up" data-aos-delay="100" style="align-self:start;color:#fff;text-align:left;">
                            A complete solution to revolutionize your business potential.
                        </p>
                        <div class="d-flex infoBtn">
                            <a class="btn btn-white" href="~/LandingPage/BrowseSolution">Browse Solutions</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 hero-img py-lg-5 pt-lg-0 order-lg-3 order-1" data-aos="zoom-out">
                    <img src="~/assets/img/services/services_blue.svg" class="img-fluid mb-5 mb-lg-0 p-3 service-img" alt="ServiceImage" />

                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <section class="wrapper services">
        <div class="container pb-15 pb-md-17">
            <div class="row gx-md-5 gy-5 mt-n19 mb-14 mb-md-17">
                <div class="col-md-6 col-xl-4">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="card-img justify-content-lg-center">
                                <img src="../assets/img/services/ai_strategy_consulting.jpg" alt="" class="img-fluid" data-aos="zoom-out">
                            </div>
                            <h3>
                                <a href="#Ai-strategy-consulting" class="stretched-link section-title-size">
                                    Strategy & Consulting
                                </a>
                            </h3>
                            <p class="section-detail-size">
                                Gain strategic insights and expert guidance to address your unique business challenges and unlock the transformative power of AI.
                            </p>
                            <a href="#Ai-strategy-consulting" class="more">Read on<i class="bi bi-chevron-right"></i></a>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
                <div class="col-md-6 col-xl-4">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="card-img justify-content-lg-center">
                                <img src="~/assets/img/services/services-ai-engineering.jpg" alt="" class="img-fluid" data-aos="zoom-out">
                            </div>
                            <h3>
                                <a href="#Ai-engineering" class="stretched-link section-title-size">
                                    AI Engineering
                                </a>
                            </h3>
                            <p class="section-detail-size">
                                Developing, designing, and implementing custom AI solutions tailored to the specific needs of the business.
                            </p>
                            <a href="#Ai-engineering" class="more">Read on<i class="bi bi-chevron-right"></i></a>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
                <div class="col-md-6 col-xl-4">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="card-img justify-content-lg-center">
                                <img src="../assets/img/services/data_science_analytics.jpg" alt="" class="img-fluid" data-aos="zoom-out">
                            </div>
                            <h3>
                                <a href="#DataScience-analytics" class="stretched-link section-title-size">
                                    Data Science & Analytics
                                </a>
                            </h3>
                            <p class="section-detail-size">
                                Identifying operationally valuable data sets and developing algorithms and models to extract insights.
                            </p>
                            <a href="#DataScience-analytics" class="more">Read on<i class="bi bi-chevron-right"></i></a>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
                <div class="col-md-6 col-xl-4">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="card-img justify-content-lg-center">
                                <img src="../assets/img/services/services-ai-operations.jpg" alt="" class="img-fluid" data-aos="zoom-out">
                            </div>
                            <h3>
                                <a href="#Ai-operations" class="stretched-link section-title-size">
                                    AI Operations
                                </a>
                            </h3>
                            <p class="section-detail-size">
                                Managing and optimizing AI infrastructure, including automation, monitoring, and scaling.
                            </p>
                            <a href="#Ai-operations" class="more">Read on<i class="bi bi-chevron-right"></i></a>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
            </div>
        </div>
        <!-- /.container -->
    </section>

    <!-- Section AI Intro-->
    <section id="AiIntro" class="AiIntro pt-0">
        <div class="container pt-5" data-aos="fade-up">

            <div class="row gy-4">
                <div class="col-lg-6 position-relative align-self-center order-lg-last order-first">
                    <div style="text-align:center;">
                        <img src="~/assets/img/join-us_2_blue.svg" class="img-fluid services-joinusimg" alt="Join Us" style="width:70%" />

                    </div>
                    <div style="text-align:center;">
                        @{
                            if (Context.Session.GetString("LoggedUser") != null)
                            {
                                <a class="btn btn-brand ms-lg-3 m-4" href="~/Home/Dashboard">Dashboard</a>
                            }
                            else
                            {
                                <a class="btn btn-brand ms-lg-3 m-4" href="~/Home/Login">Login</a>
                                <a class="btn btn-brand ms-lg-3 m-4" href="~/Home/Register">Sign Up</a>
                            }
                        }
                    </div>
                </div>
                <div class="col-lg-6 content order-last order-lg-first">
                    <h3 class="service-title-size">
                        Transform Your Business with Our Comprehensive Range of AI Services
                    </h3>
                    <p class="section-detail-size">
                        Artificial Intelligence (AI) is transforming the way industries operate, providing unparalleled advantages for businesses. Our AI services are tailored to meet the unique needs of our clients, and we offer a range of services, including Strategy and Consulting, AI Engineering, Data Science and Analytics, and AI Operations.
                        <br /><br />
                        Our AI services encompass predictive analytics, natural language processing, machine learning, and computer vision, among others. These services help businesses to streamline processes, make data-driven decisions, and enhance customer experience, among others. With our services, clients can rest assured that they are working with top-tier talent and receiving high-quality, tailored solutions that drive success.
                        <br /><br />
                        Partner with us to experience the future of business today and unlock the full potential of your business with our customized AI services.
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End why Us Section -->
    <!-- Industries more info-->
    <section id="ServicesInfo" class="ServicesInfo pt-0">
        <div class="container pt-5" data-aos="fade-up">
            <div class="section-header">
                <hr />
                <h3 class="justify-content-start align-items-center"><label style="background-color:#fff; padding:0 1.3em 0 1.3em;">Services</label></h3>
            </div>
            <!--AI Strategy & Consulting slide-->
            <div class="row py-2" id="Ai-strategy-consulting">
                <h3 class="titleOutside">
                    AI Strategy & Consulting
                </h3>
                <h4 class="sub-titleOutside">
                    Unlocking the Power of AI for Business Success
                </h4>
                <div class="col-lg-6 position-relative align-self-center fitImage order-lg-last">
                    <img src="../assets/img/services/ai_strategy_consulting.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 content order-lg-first">
                    <h3 class="titleInside">
                        AI Strategy & Consulting
                    </h3>
                    <h4 class="sub-titleInside">
                        Unlocking the Power of AI for Business Success
                    </h4>
                    <p class="section-detail-size">
                        We provide a curated selection of AI projects offered by talented freelancers, ensuring that clients have access to high-quality solutions. Our platform connects businesses with expert freelancers who specialize in AI, enabling clients to leverage the full potential of artificial intelligence. From identifying specific business challenges to developing a roadmap for implementing AI solutions, our freelancers offer customized strategies and guidance for seamless integration. We prioritize ethical and legal considerations, ensuring that AI implementations align with clients' values and comply with regulations. By utilizing our platform, clients can confidently explore and acquire AI projects, driving growth, increasing efficiency, and fostering innovation in their business ventures.
                    </p>
                </div>
            </div>
            <!--AI Engineering slide-->
            <div class="row py-2" id="Ai-engineering">
                <h3 class="titleOutside">
                    AI Engineering
                </h3>
                <h4 class="sub-titleOutside">
                    Igniting Innovation with Cutting-Edge Technology and Expertise
                </h4>
                <div class="col-lg-6 position-relative align-self-center fitImage order-lg-first">
                    <img src="../assets/img/services/services-ai-engineering.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 content order-lg-last">
                    <h3 class ="titleInside">
                        AI Engineering
                    </h3>
                    <h4 class="sub-titleInside">
                        Igniting Innovation with Cutting-Edge Technology and Expertise
                    </h4>
                    <p class="section-detail-size">
                        We provide a curated selection of AI engineering projects offered by skilled freelancers, guaranteeing top-notch quality and expertise. Our platform connects businesses with talented freelancers who excel in AI engineering, enabling clients to harness the power of artificial intelligence. Whether it's developing advanced algorithms, building robust machine learning models, or implementing AI solutions, our freelancers offer comprehensive AI engineering services tailored to clients' specific requirements. We prioritize seamless integration and optimal performance of AI technologies, ensuring that businesses can leverage AI to drive innovation and achieve their engineering goals. By utilizing our platform, clients can confidently explore and acquire AI engineering projects, propelling their businesses forward with cutting-edge technology and expertise.
                    </p>
                </div>
            </div>
            <!--AI Data Science & Analytics slide-->
            <div class="row py-2" id="DataScience-analytics">
                <h3 class="titleOutside">
                    AI Data Science & Analytics
                </h3>
                <h4 class="sub-titleOutside">
                    Empowering Businesses with AI-Driven Insights
                </h4>
                <div class="col-lg-6 position-relative align-self-center fitImage order-lg-last">
                    <img src="../assets/img/services/data_science_analytics.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 content order-lg-first">
                    <h3 class="titleInside">
                        AI Data Science & Analytics
                    </h3>
                    <h4 class="sub-titleInside">
                        Empowering Businesses with AI-Driven Insights
                    </h4>
                    <p class="section-detail-size">
                        We provide a carefully curated selection of AI data science and analytics projects offered by highly skilled specialists, ensuring exceptional quality and expertise. Our platform connects businesses with talented freelancers who excel in AI data science and analytics, empowering clients to leverage the power of data-driven insights. Whether it's developing sophisticated machine learning algorithms, conducting advanced statistical analysis, or creating predictive models, our freelancers offer comprehensive AI data science and analytics services tailored to clients' specific needs. We prioritize seamless integration of AI technologies and the extraction of actionable insights from data, enabling businesses to make informed decisions and drive innovation. By utilizing our platform, clients can confidently explore and acquire AI data science and analytics projects, unlocking the full potential of their data and propelling their business forward with cutting-edge technology and expert guidance.
                    </p>
                </div>
            </div>
            <!--AI Operations slide-->
            <div class="row py-2" id="Ai-operations">
                <h3 class="titleOutside">
                    AI Operations
                </h3>
                <h4 class="sub-titleOutside">
                    AI-Powered Operational Excellence
                </h4>
                <div class="col-lg-6 position-relative align-self-center fitImage order-lg-first">
                    <img src="../assets/img/services/services-ai-operations.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 content order-lg-last">
                    <h3 class="titleInside">
                        AI Operations
                    </h3>
                    <h4 class="sub-titleInside">
                        AI-Powered Operational Excellence
                    </h4>
                    <p class="section-detail-size">
                        We provide a meticulously curated selection of AI operations projects offered by highly skilled specialists, guaranteeing exceptional quality and expertise. Our platform connects businesses with talented freelancers who excel in AI operations, empowering clients to optimize their operational processes using the power of artificial intelligence. Whether it's streamlining workflows, automating tasks, or implementing AI-driven solutions for efficiency improvements, our freelancers offer comprehensive AI operations services tailored to clients' specific needs. We prioritize seamless integration of AI technologies into existing operations, ensuring smooth transitions and maximum impact. By utilizing our platform, clients can confidently explore and acquire AI operations projects, unlocking the full potential of AI to drive operational excellence and propel their business forward with cutting-edge technology and expert guidance.
                    </p>
                </div>
            </div>

            <!--Ready to get started slide-->
            <div class="row Getready">
                <div class="col">
                    <h4 class="py-2 service-title-size">
                        Ready to Get Started
                    </h4>
                    <a class="btn btn-brand py-2" href="#">Select Service</a>
                </div>
            </div>
        </div>
    </section><!-- End why Us Section -->
</main>