@{
    ViewData["Title"] = "WhyAephy";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}

<link href="../assets/css/whyaephystylesheet.css" rel="stylesheet" />

<main id="main" class="main cls-fixed-common">
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">
        <div class="container">
            <!--Row 1-->
            <div class="row d-flex justify-content-center first-row" style="background-color:#d38b4e;overflow:hidden;">
                <div class="col-lg-6 order-3 order-lg-1 d-flex flex-column justify-content-center p-3" style="justify-content:center;align-items: center;">
                    <h2 data-aos="fade-up" class="service-title-size">
                            Achieve Hassle-Free Project Completion
                    </h2>
                        <p class="d-flex section-detail-size" data-aos="fade-up" data-aos-delay="100" style="color:#fff;">
                            Explore the uniqueness and benefits of our platform.
                        </p>
                    <div class="gy-2 mt-2" data-aos="fade-up" data-aos-delay="400" style="text-align:center;">
                        <a href="~/LandingPage/BrowseSolution" class="btn btn-white">Browse Solutions</a>
                    </div>
                </div>

                <div class="col-lg-1 order-2 order-lg-2">
                </div>

                <div class="col-lg-5 order-1 order-lg-3 hero-img" data-aos="zoom-out" style="margin-top: 0;padding-right: 0;">
                    <img src="../assets/img/whyaephy/why_aephy.jpg" class="img-fluid whyaephyhomeImage" alt="">
                </div>
            </div>

            <!--Row 2-->
            <div class="row gy-4 d-flex justify-content-center mt-4 second-row">
                <div class="col-4" style="justify-content:center;">
                    <a class="btn btn-choice section-title-size " href="#What">What</a>
                </div>

                <div class="col-4">
                    <a class="btn btn-choice section-title-size " href="#How">How</a>
                </div>

                <div class="col-4">
                    <a class="btn btn-choice section-title-size " href="#Why">Why</a>
                </div>
            </div>

            <!--Row 3-->
            <div class="row gy-4 d-flex justify-content-center third-row">
                <div class="col" style="justify-content:center;">
                    <div>
                        <h2 class="service-title-size">
                            Let's Get Started
                        </h2>
                    </div>
                    <div style="text-align:left;">
                        <p class="section-detail-size">
                            We offer a hassle-free way to get your projects completed by expert teams. Our process is simple, transparent, and designed to make your life easier.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Hero Section -->
    <!-- ======= What Section ======= -->
    <section id="What" class="What pt-4">
        <div class="container">
            <div class="section-header">
                <hr />
                <h3 class="justify-content-start align-items-center"><label style="background-color:#fff; padding:0 1.3em 0 1.3em;">What</label></h3>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-5 content">
                    @*<img src="../assets/img/logo1.png" class=" img-fluid" alt="">*@
                    <img src="~/assets/img/ephylink_no_background_blue.png" class="img-fluid"/>
                </div>
                <div class="col-lg-7 px-lg-5">
                    @*<img src="~/assets/img/opengigsimage.png" class="img-fluid" alt="">*@
                    <h2 data-aos="fade-up" class="service-title-size">
                        AI Project Hub: Unleashing the Power of AI through a Connected Network
                    </h2>
                    <p class="align-self-center border-black section-detail-size" style="text-align:left; color:#444444; padding:80px 0px 80px 0px;">
                        Our comprehensive platform serves as a central hub for all your project needs, offering a diverse range of AI projects provided by pre-screened and highly skilled freelancers. We provide a selection of pre-defined solutions ready to start, and the flexibility to personalize projects according to your specific requirements. Our network of experienced specialists ensures that you receive high-quality work delivered on time and within budget. With our platform, managing projects and collaborating seamlessly with your dedicated team is effortless, providing a hassle-free experience from start to finish. Explore the wide array of AI projects offered by our talented freelancers, unlocking the full potential of AI to achieve your project goals with ease and drive innovation in your business.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= How Section ======= -->
    <section id="How" class="How pt-0">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <hr />
                <h3 class="justify-content-start align-items-center"><label style="background-color:#fff; padding:0 1.3em 0 1.3em;">How</label></h3>
            </div>
            <div class="row gy-4">
                <div class="icon titleOutside">
                    <i class="bi bi-check-circle-fill"></i>
                    <label class="how-label">
                        Browse Solutions
                    </label>
                </div>

                <div class="col-md-6 col-xl-4 order-lg-1">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="card-img justify-content-lg-center">
                                <img src="../assets/img/whyaephy/ai_roadmap_development.jpg" alt="" class="img-fluid" data-aos="zoom-out">
                            </div>
                            <h3>
                                <a href="#" class="stretched-link section-title-size">
                                    AI Roadmap Development
                                </a>
                            </h3>
                            <p class="section-detail-size">
                                Develop a comprehensive AI strategy and roadmap tailored to your organization's specific needs and goals.
                            </p>
                            <div class="icon-image">
                                <i class="bi bi-shop-window"></i>
                                <label>Retail</label>
                                <i class="bi bi-credit-card"></i>
                                <label>Finance</label>
                            </div>
                        </div>
                        <div class="card-footer">

                            <div class="like">
                                <i class="bi bi-heart"></i>
                            </div>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->

                <div class="col-md-6 col-xl-4 order-lg-2 HideInSmall">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="card-img justify-content-lg-center">
                                <img src="../assets/img/whyaephy/ai_readiness_assesment.jpg" alt="" class="img-fluid" data-aos="zoom-out">
                            </div>
                            <h3>
                                <a href="#" class="stretched-link section-title-size ">
                                    AI Readiness Assessment
                                </a>
                            </h3>
                            <p class="section-detail-size">
                                Assess your organization's readiness for AI implementation and identify any gaps or areas of improvement.
                            </p>
                            <div class="icon-image">
                                <i class="bi bi-shop-window"></i>
                                <label>Retail</label>
                                <i class="bi bi-credit-card"></i>
                                <label>Finance</label>
                            </div>
                        </div>
                        <div class="card-footer">

                            <div class="like">
                                <i class="bi bi-heart"></i>
                            </div>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
                <div class="col-md-6 col-xl-4 order-lg-3" style="text-align:left">
                    <div class="icon titleInside">
                        <i class="bi bi-check-circle-fill"></i>
                        <label class="how-label">
                            Browse Solutions
                        </label>
                    </div>
                    <p class="section-detail-size">
                        We offer a wide range of pre-defined solutions that are ready to Go. These projects are clearly defined, and you can easily browse through them to find one that meets your requirements. Each project has a detailed scope, deliverables, timeline, and pricing, making it easy for you to choose the perfect project.
                    </p>
                </div>
                <!--/column -->
            </div>

            <!--Row 2 Personalize Project-->
            <div class="row justify-content-center" style="padding:50px 0;">
                <div class="row">
                    <div class="icon titleOutside">
                        <i class="bi bi-check-circle-fill"></i>
                        <label class="how-label">
                            Personalize Projects
                        </label>
                    </div>
                    <div class="col-md-6 p-3 order-lg-last fitImage">
                        <img src="~/assets/img/whyaephy/personalise_project.jpg" class="img-fluid whyAephyImg whyAephy-mobile-img" alt="Personalize Project" />
                    </div>
                    <div class="col-md-6 p-3 order-lg-first">
                        <div class="icon titleInside">
                            <i class="bi bi-check-circle-fill"></i>
                            <label class="how-label">
                                Personalize Projects
                            </label>
                        </div>
                        <p style="width:90%" class="section-detail-size">
                            If you require further customization, our team of experienced project managers is readily available to assist you. They will collaborate closely with you to personalize the project according to your specific needs. The platform provides a seamless communication channel and a suite of robust tools, ensuring effective conveyance of your requirements to the project managers while upholding trust and confidentiality. We offer flexibility in adjusting team size, budget, timeline, and other relevant factors to precisely align with your unique specifications, resulting in optimal outcomes.
                        </p>
                    </div>
                </div>
            </div>

            <!--Row 3 Personalize Project-->
            <div class="row pt-5">
                <div class="icon titleOutside">
                    <i class="bi bi-check-circle-fill"></i>
                    <label class="how-label">
                        Agreement & Purchase
                    </label>
                </div>
                <div class="col-md-6 p-3 order-lg-first fitImage">
                    <img src="~/assets/img/whyaephy/checkout_temp.jpg" class="whyAephy-mobile-img whyAephyImg img-fluid" />
                </div>
                <div class="col-md-6 p-3 px-lg-3 order-lg-last">
                    <div class="icon titleInside">
                        <i class="bi bi-check-circle-fill"></i>
                        <label class="how-label">
                            Agreement & Purchase
                        </label>
                    </div>
                    <p class="section-detail-size">
                        Once a predefined or custom project is ready for purchase, you will be presented with an overview of all the essential information, including the project's deliverables, timeline, pricing, and payment options. This allows you to review the details before proceeding. You can then choose between paying in milestones or paying in full in advance, providing you with flexibility and control over your preferred payment method. Once the required payment is made, your project will promptly commence within 2-4 days, ensuring a swift start to your project journey. Your payment will be securely held until the completion of each milestone or the entire project, based on your initial choice, offering you peace of mind throughout the entire process.
                    </p>
                </div>
            </div>

            <!--Row 4 Approve-->
            <div class="row pt-5">
                <div class="icon titleOutside">
                    <i class="bi bi-check-circle-fill"></i>
                    <label class="how-label">
                        Approve
                    </label>
                </div>
                <div class="col-md-6 p-3 order-lg-last fitImage">
                    <img src="~/assets/img/whyaephy/approve_v2(2).jpg" class="whyAephy-mobile-img whyAephyImg img-fluid" alt="" />

                </div>
                <div class="col-md-6 p-3 order-lg-first">
                    <div class="icon titleInside">
                        <i class="bi bi-check-circle-fill"></i>
                        <label class="how-label">
                            Approve
                        </label>
                    </div>
                    <p style="width:90%" class="section-detail-size">
                        Upon completion of each milestone or the entire project, as per your initial choice, you will have the opportunity to review the deliverables. Our network of specialists will diligently work to ensure that the deliverables meet your expectations and requirements. If you are satisfied with the work, you can proceed to approve the deliverables. Once approved, the corresponding payment will be released according to the agreed payment schedule. In the rare event that the deliverables do not meet your requirements, we have a transparent dispute resolution process in place to address any concerns and find a satisfactory resolution.
                    </p>
                </div>
            </div>

            <div class="row gy-4 pt-5 pb-5">
                <div class="col-lg-5 position-relative align-self-center order-lg-first order-first">
                    <div style="text-align:center;">
                        <img src="~/assets/img/join-us_2_blue.svg" class="img-fluid whyAephy-mobile-img" alt="Join Us" />

                    </div>
                </div>
                <div class="col-lg-7 content order-last order-lg-last pt-5">
                    @{
                        if (Context.Session.GetString("LoggedUser") != null)
                        {
                            <div style="text-align:center;">
                                <a class="btn btn-brand ms-lg-3 m-4" href="~/Home/Dashboard">Dashboard</a>
                            </div>
                        }
                        else
                        {
                            <div style="text-align:center;">
                                <h3>
                                    Join Us
                                </h3>
                            </div>
                            <div style="text-align:center;">
                                <a class="btn btn-brand ms-lg-3 m-4" href="~/Home/Login">Login</a>
                                <a class="btn btn-brand ms-lg-3 m-4" href="~/Home/Register">Sign Up</a>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    </section><!-- End Services Section -->

    <!-- ======= Why Section ======= -->
    <section id="Why" class="Why pt-0">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <hr />
                <h3 class="justify-content-start align-items-center"><label style="background-color:#fff; padding:0 1.3em 0 1.3em;">Why</label></h3>
            </div>
            <div class="row gy-4">
                <div id="whyaephyCarousel" class="carousel slide" data-interval="false">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="col-lg-3 col-md-6 cls-gigopening-m-carousel" data-aos="fade-up" data-aos-delay="100">
                                <div class="box">
                                    <div class="title border-bottom">Efficiency</div>
                                    <div class="icon-msg py-3">
                                        <i class="bi bi-sign-merge-right"></i>
                                    </div>
                                    <div class="description">
                                        Our platform streamlines the process of outsourcing projects, allowing businesses to save time and resources. By using our platform, you can easily manage your projects, communicate with your team, and track progress in real-time.
                                    </div>
                                </div>
                            </div><!-- End Card Item -->
                        </div>
                        <div class="carousel-item">
                            <div class="col-lg-3 col-md-6 cls-gigopening-m-carousel" data-aos="fade-up" data-aos-delay="100">
                                <div class="box even-box">
                                    <div class="title border-bottom">
                                        Quality Assurance
                                    </div>
                                    <div class="icon-msg py-3">
                                        <i class="bi bi-shield-check"></i>
                                    </div>
                                    <div class="description">
                                        We understand the importance of high-quality work. That's why all our freelancers are pre-screened and highly qualified. Clients only pay if project requirements have been met, providing quality assurance and peace of mind.
                                    </div>
                                </div>
                            </div><!-- End Card Item -->
                        </div>
                        <div class="carousel-item">
                            <div class="col-lg-3 col-md-6 cls-gigopening-m-carousel" data-aos="fade-up" data-aos-delay="100">
                                <div class="box">
                                    <div class="title border-bottom">
                                        Cost-Effectiveness
                                    </div>
                                    <div class="icon-msg py-3">
                                        <i class="bi bi-currency-dollar"></i>
                                    </div>
                                    <div class="description">
                                        We offer projects on our platform at the most competitive rates, allowing businesses to access high-quality solutions at a lower cost. Our pricing is transparent, and there are no hidden fees.
                                    </div>
                                </div>
                            </div><!-- End Card Item -->
                        </div>
                        <div class="carousel-item">
                            <div class="col-lg-3 col-md-6 cls-gigopening-m-carousel" data-aos="fade-up" data-aos-delay="100">
                                <div class="box even-box">
                                    <div class="title border-bottom">
                                        Safe and Secure
                                    </div>
                                    <div class="icon-msg py-3">
                                        <i class="bi bi-boxes"></i>
                                    </div>
                                    <div class="description">
                                        Data privacy and security are our top priorities. We use the latest encryption technologies to protect your data and maintain strict privacy policies to ensure that your information is never shared with third parties.
                                    </div>
                                </div>
                            </div><!-- End Card Item -->
                        </div>
                        <a class="carousel-control-prev bg-transparent w-aut cls-whyAephy-carousel" href="#whyaephyCarousel" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </a>
                        <a class="carousel-control-next bg-transparent w-aut cls-whyAephy-carousel" href="#whyaephyCarousel" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Services Section -->
   

</main>

