
@{
    ViewData["Title"] = "WhyAephy";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}

<link href="../assets/css/whyaephystylesheet.css" rel="stylesheet" />

<main id="main" class="main">
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">
        <div class="container">
            <!--Row 1-->
            <div class="row gy-4 d-flex justify-content-center first-row" style="background-color:#d38b4e">
                <div class="col-lg-6 order-3 order-lg-1 d-flex flex-column justify-content-center" style="justify-content:center;">
                    <h2 data-aos="fade-up">
                        The Ultimate Platform for Hassle-Free Project Completion: Discover How, Why, and What We Offer
                    </h2>
                    <div class="gy-2 mt-2" data-aos="fade-up" data-aos-delay="400" style="text-align:center;">
                        <a href="~/LandingPage/Browse" class="btn btn-white">Browse Solutions</a>
                    </div>
                </div>

                <div class="col-lg-1 order-2 order-lg-2">
                </div>

                <div class="col-lg-5 order-1 order-lg-3 hero-img" data-aos="zoom-out">
                    <img src="../assets/img/whyaephy/whyaephy-homepage.png" class="img-fluid mb-3 mb-lg-0" alt="">
                </div>
            </div>

            <!--Row 2-->
            <div class="row gy-4 d-flex justify-content-center mt-4 second-row">
                <div class="col-4" style="justify-content:center;">
                    <a class="btn btn-choice" href="#What">What</a>
                </div>

                <div class="col-4">
                    <a class="btn btn-choice" href="#How">How</a>
                </div>

                <div class="col-4">
                    <a class="btn btn-choice" href="#Why">Why</a>
                </div>
            </div>

            <!--Row 3-->
            <div class="row gy-4 d-flex justify-content-center third-row">
                <div class="col" style="justify-content:center;">
                    <div>
                        <h2>
                            Let's get started
                        </h2>
                    </div>
                    <div>
                        <p>
                            We offer a hassle-free way to get your projects completed by expert teams. Our process is simple, transparent, and designed to make your life easier.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Hero Section -->

    <!-- ======= What Section ======= -->
    <section id="What" class="What pt-4">
        <div class="container">
            <div class="section-header">
                <hr />
                <h3 class="justify-content-start align-items-center"><label style="background-color:#fff; padding:0 1.3em 0 1.3em;">What</label></h3>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-5 content">
                    <img src="../assets/img/logo1.png" class=" img-fluid" alt="">
                </div>
                <div class="col-lg-7 px-lg-5">
                    @*<img src="~/assets/img/opengigsimage.png" class="img-fluid" alt="">*@
                    <h2 data-aos="fade-up">
                        Achieve Your Goals with Ease: Discover the One-Stop-Shop for All Your Project Needs
                    </h2>
                    <p class="align-self-center border-black" style="text-align:left; color:#444444; padding:80px 0px 80px 0px;">
                        Our platform is a one-stop-shop for all your project needs. We offer a range of pre-defined solutions that are ready to start, along with the option to personalize the project according to your specific requirements. Our expert teams are highly skilled and experienced, ensuring that you receive high-quality work delivered on time and within budget. Our platform makes it easy to manage projects and communicate with your team, providing a hassle-free experience from start to finish. Try our platform today and discover how we can help you achieve your project goals with ease.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= Why Section ======= -->
    <section id="Why" class="Why pt-0">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <hr />
                <h3 class="justify-content-start align-items-center"><label style="background-color:#fff; padding:0 1.3em 0 1.3em;">Why</label></h3>
            </div>
            <div class="row gy-4">
                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="box">
                        <div class="title border-bottom">Efficiency</div>
                        <div class="icon-msg py-3">
                            <i class="bi bi-sign-merge-right"></i>
                        </div>
                        <div class="description">
                            Our platform streamlines the process of outsourcing projects, allowing businesses to save time and resources. By using our platform, you can easily manage your projects, communicate with your team, and track progress in real-time.
                        </div>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="box">
                        <div class="title border-bottom">
                            Quality assurance
                        </div>
                        <div class="icon-msg py-3">
                            <i class="bi bi-shield-check"></i>
                        </div>
                        <div class="description">
                            We understand the importance of high-quality work. That's why all our freelancers are pre-screened and highly qualified. Clients only pay if project requirements have been met, providing quality assurance and peace of mind.
                        </div>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="box">
                        <div class="title border-bottom">
                            Cost-effectiveness
                        </div>
                        <div class="icon-msg py-3">
                            <i class="bi bi-currency-dollar"></i>
                        </div>
                        <div class="description">
                            We offer projects on our platform at the most competitive rates, allowing businesses to access high-quality solutions at a lower cost. Our pricing is transparent, and there are no hidden fees.
                        </div>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="box">
                        <div class="title border-bottom">
                            Safe and secure
                        </div>
                        <div class="icon-msg py-3">
                            <i class="bi bi-boxes"></i>
                        </div>
                        <div class="description">
                            Data privacy and security are our top priorities. We use the latest encryption technologies to protect your data and maintain strict privacy policies to ensure that your information is never shared with third parties.
                        </div>
                    </div>
                </div><!-- End Card Item -->
            </div>
        </div>
    </section><!-- End Services Section -->

</main>

