<main id="main" class="main">
    <div class="row">
        <!-- Recent Sales -->
        <div class="col-12">
            <div class="card recent-sales overflow-auto">
                <div class="card-body">
                    <h5 class="card-title">Active Project List</h5>

                    <table class="table table-borderless datatable" id="ActiveProjectList">
                        <thead>
                            <tr>
                                <th scope="col">SolutionName</th>
                                <th scope="col">IndustryName</th>
                                <th scope="col">Milestone</th>
                                <th scope="col">ClientName</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="PaymentPopUp" tabindex="-1" aria-labelledby="PaymentPopUp" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Dispute Details</h4>
                    <a class="close" onclick="ResetPaymentForm();"><i class="bi bi-x-circle"></i></a>
                </div>
                <div class="modal-body p-0">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">

                                    <form class="row g-3 mt-3" name="PaymentForm">
                                        <input type="hidden" id="ContractId" value="0">
                                        <div class="col-12">
                                            <label for="PaymentStopReason" class="form-label">Payment Stop Reason</label>
                                            <div class="input-group">
                                                <textarea type="text" class="form-control" id="PaymentReason" name="paymentReason" rows="4" cols="50"></textarea>
                                            </div>
                                        </div>

                                        <div class="text-center">
                                            <button type="submit" class="btn btn-brand">Submit</button>
                                            <button type="reset" class="btn btn-secondary" onclick="ResetPaymentForm();">Reset</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    $(function () {
        GetActiveProjectList();
        $("form[name='PaymentForm']").validate({
            rules: {
                paymentReason: { required: true }

            },
            messages: {
                paymentReason: { required: "Please enter reason" }
            },
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function (form) {
                StopClientPayment()
            }
        });
    })

    function GetActiveProjectList() {
        $("#preloader").show();
        $.ajax({
            type: "Get",
            url: "@Url.Action("GetActiveProjectList", "Solutions")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                $('#ActiveProjectList').DataTable({
                    destroy: true,
                    data: result.Result,
                    "columns": [
                        { "data": "SolutionName" },
                        { "data": "IndustryName" },
                        { "data": "Milestone" },
                        { "data": "ClientName" },
                        {
                            "data": "ContractId",
                            "render": function (data, type, full, meta) { 
                                if (full.IsPaymentStop) {
                                    $("#btn-payment_" + full.ContractId).attr('disabled', true);
                                    $("#btn-payment_" + full.ContractId).css("cursor", "not-allowed");
                                    $("#btn-payment_" + full.ContractId).css("pointer-events", "all");
                                    return '<button class="btn btn-primary"  id=btn-payment_' + data + '>Stop Payment</a>';
                                    
                                } else {
                                    return '<button class="btn btn-primary"  id=btn-payment_' + data + ' onclick=OpenPaymentModalPopUp(' + data + ');>Stop Payment</a>';
                                }
                                

                            }
                        },
                    ]
                });

                $("#preloader").hide();
            },
            error: function (result) {
                $("#preloader").hide();
                showToaster("error", "Error !", "Failure");
            }
        });
    }

    function OpenPaymentModalPopUp(Id) {
        $("#ContractId").val(Id);
        $("#PaymentPopUp").modal('show');
    }

    function StopClientPayment() {

        var contractid = $("#ContractId").val();

        var data = {
            ContractId: contractid,
            StopPaymentReason: $("#PaymentReason").val(),
        };
        $("#preloader").show();
        $.ajax({
            type: "POST",
            url: "@Url.Action("StopClientPayment", "Solutions")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            success: function (result) {
                if (result.Message == "Payment Stop Successfully !") {
                    showToaster("success", "Success !", result.Message);
                    ResetPaymentForm();
                    $("#btn-payment_" + contractid).attr('disabled', true);
                }

                $("#preloader").hide();
            },
            error: function (result) {
                $("#preloader").hide();
                showToaster("error", "Error !", "Something went wrong !!");
            }
        });
    }

    function ResetPaymentForm() {
        $("#ContractId").val(0)
        $("#PaymentReason").val("");
        $("#PaymentPopUp").modal('hide');
    }
</script>