@{
    ViewData["Title"] = "- Users list";
}

<style>
    #solutionsList {
        width: 100% !important;
    }
</style>

<main id="main" class="main">
    <div class="row">
        <!-- Recent Sales -->
        <div class="col-12">
            <div class="card recent-sales overflow-auto">
                <div class="card-body">
                    <h5 class="card-title">User List</h5>

                    <table class="table table-borderless datatable" id="userList">
                        <thead>
                            <tr>
                                <th scope="col">FirstName</th>
                                <th scope="col">LastName</th>
                                <th scope="col">EmailAddress</th>
                                <th scope="col">UserRole</th>
                                <th scope="col">Level</th>
                                <th scope="col">Solution</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div><!-- End Recent Sales -->
    </div>


</main>

<div class="modal fade" id="userPopupModal" tabindex="-1" aria-labelledby="userPopupModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title main-title">Solutions List</h4>
                <a class="close" data-dismiss="#userPopupModal" onclick="closeUserPopupModal();"><i class="bi bi-x-circle"></i></a>
            </div>
            <div class="modal-body p-0">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body" style="margin:2rem;">
                                @*<h5 class="card-title">Solutions List</h5>*@

                                <table class="table table-borderless datatable" id="solutionsList">
                                    <thead>
                                        <tr>
                                            <th scope="col">Solution Id</th>
                                            <th scope="col">Solution Name</th>
                                            <th scope="col">Industry Name</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        GetUserList()
    });

    function GetUserList() {
        $("#preloader").show();
        $.ajax({
            type: "Get",
            url: "@Url.Action("GetUsers", "Users")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                $('#userList').DataTable({
                    destroy: true,
                    data: result.Result,
                    "columns": [

                        { "data": "FirstName" },
                        { "data": "LastName" },
                        { "data": "EmailAddress" },
                        { "data": "UserRole" },
                        { "data": "FreelancerLevel" },
                        { "data": "SolutionName" },
                        {
                            "data": "Id",
                            "render": function (data, type, row) {
                                if (row.SolutionID != 0) {
                                    return '<a class="btn btn-primary" onclick=SoutionsList("' + data + '")>View</a>';
                                }
                                else {
                                    return '';
                                }
                            }
                        },
                        {
                            "data": "Id",
                            "render": function (data, type, row) {
                                return '<a class="btn btn-danger" onclick=DeleteUser("' + data + '")>Delete</a>';
                            }
                        },

                    ]
                });
                $("#preloader").hide();
            },
            error: function (result) {
                //alert("failure");
                showToaster("error", "Error !", "Failure");
            }
        });
    }

    function SoutionsList(Id) {
        var ServiceData = {
            Id: Id,
        };
        $("#preloader").show();
        $.ajax({
            type: "POST",
            url: "@Url.Action("getFreelancerSolutionsById", "Users")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(ServiceData),
            success: function (result) {
                $('#userPopupModal').modal('show');
                $('#solutionsList').DataTable({
                    destroy: true,
                    data: result.Result,
                    "columns": [

                        { "data": "Id" },
                        { "data": "Title" },
                        {"data": "IndustryName" }
                    ]
                });
                $("#preloader").hide();
            },
            error: function (result) {
                $("#preloader").hide();
                showToaster("error", "Error !", "Something went wrong !!");
            }
        });
    }

    function DeleteUser(Id) {
        //if (confirm('Are you sure want to delete Record?')) {
        //    var ServiceData = {
        //        Id: Id,
        //    };
        //    $.ajax({
        //        type: "POST",
        //        url: "@Url.Action("UpdateUserIsDelete", "Users")",
        //        contentType: "application/json; charset=utf-8",
        //        dataType: "json",
        //        data: JSON.stringify(ServiceData),
        //        success: function (result) {
        //            //alert(result.Message)
        //            showToaster("success", "Success", result.Message);
        //            GetUserList()

        //        },
        //        error: function (result) {
        //            //alert("Error occured..");
        //            showToaster("error", "Error !", "Something went wrong !!");
        //        }
        //    });
        //}

        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then(function (t) {
            if (!t.isConfirmed) return;

            var ServiceData = {
                Id: Id,
            };

            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateUserIsDelete", "Users")",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(ServiceData),
                success: function (result) {
                    //alert(result.Message)
                    showToaster("success", "Success", result.Message);
                    GetUserList()

                },
                error: function (result) {
                    //alert("Error occured..");
                    showToaster("error", "Error !", "Something went wrong !!");
                }
            });
        });
    }

    function closeUserPopupModal() {
        $('#userPopupModal').modal('hide');
        $('#solutionsList').find("tr:gt(0)").remove();
    }
</script>