@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
}
<style>
        .progressContainer {
        position: relative;
        height: fit-content;
        margin: 0 auto;
        overflow: hidden;
        padding: 2rem;
        color: var(--font - title);
    }
</style>
<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center">
    <div id="preloader" style="display:none;"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <a href="/Home/Dashboard" class="logo d-flex align-items-center w-auto">
                        <img src="~/assets/img/ephylink_no_background_blue.png" />
                        @*<span class="d-none d-lg-block">NiceAdmin</span>*@
                    </a>
                </div><!-- End Logo -->

                <div class="card mb-3">

                    <div class="card-body">
                        <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4" style="padding:0;">Create an Account</h5>
                            <p class="text-center small">Enter your details to create account</p>
                        </div>

                        <form name="registration">
                            <input type="hidden" id="hidIsInvite" value="@Convert.ToString(ViewBag.IsInvited)" />
                            <div class="form-group cls-form">
                                <label for="Name">First Name</label>
                                <input type="text" class="form-control" name="firstname" id="FirstName">
                            </div>
                            <div class="form-group cls-form">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" name="lastname" id="LastName">
                            </div>
                            <div class="form-group cls-form">
                                <label for="email">Email Address</label>
                                <input type="email" class="form-control" name="email" id="EmalId">
                            </div>
                            <div class="form-group cls-form">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" name="password" id="Password">
                            </div>
                            <div class="form-group cls-form">
                                <label for="userType">Role</label>
                                <select class="form-select" aria-label="Default select example" name="role" id="userType" onchange="GetUserRole()">
                                    <option value="Client">Client</option>
                                    <option value="Freelancer">Freelancer</option>
                                </select>
                            </div>
                            <div class="form-group cls-form" style="display:none" id="freelancer-level">
                                <label for="freelancerLevel">Levels</label>
                                <select class="form-select" aria-label="Default select example" name="level" id="drp-freelancer-level">
                                    <option value="">Select Level</option>
                                    <option value="Experts">Experts</option>
                                    <option value="Associate">Associate</option>
                                    <option value="Project Manager">Project Manager</option>
                                </select>
                            </div>
                            <div class="form-group cls-form">
                                <div class="form-check">
                                    <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms">
                                    <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#" id="clsPrivacyPolicyModal" data-bs-toggle="modal" data-bs-target="#privacyPolicyModal">terms and conditions</a></label>
                                </div>
                            </div>
                            <button class="btn btn-brand w-100" type="submit">Create Account</button>
                        </form>
                        <p class="small mt-2">Already have an account? <a href="/Home/Login">Log in</a></p>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<!-- GuidelineModal Modal -->
    <div class="modal fade" id="privacyPolicyModal" tabindex="-1" aria-labelledby="privacyPolicyModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Terms & Conditions</h4>
                <a class="close" href="#" data-dismiss="#privacyPolicyModal" onclick="CloseprivacyPolicyModal();"><i class="bi bi-x-circle"></i></a>
                </div>
                <div class="modal-body p-0">
                    <div class="progressContainer d-flex flex-column">
                        <ol>
                            <li data-aos="fade-up" data-aos-delay="100" class="list-title-size">
                                <h3 class="list-title-size">Information Collection and Use</h3>
                                <p class="section-detail-size">
While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to, your name, email address, postal address, phone number, and other information ("Personal Information"). We collect this information for the purpose of providing the Site, identifying and communicating with you, responding to your requests/inquiries, and improving our services.
</p>
                            </li>
                            <li data-aos="fade-up" data-aos-delay="100" class="list-title-size">
                                <h3 class="list-title-size">Legal Basis for Processing</h3>
                            <p class="section-detail-size">
                                We process Personal Information under the following legal bases: your consent, the necessity of processing for the performance of a contract to which you are a party or to take steps at your request prior to entering into a contract, compliance with our legal obligations, the protection of your vital interests, or for our legitimate interests as long as those interests are not overridden by your interests or fundamental rights and freedoms
.                            </p>
                            </li>
                        <li data-aos="fade-up" data-aos-delay="100" class="list-title-size">
                            <h3 class="list-title-size">Log Data</h3>
                            <p class="section-detail-size">
                                We collect information that your browser sends whenever you visit our Site ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Site that you visit, the time and date of your visit, the time spent on those pages, and other statistics. We collect Log Data for the purpose of Site administration and improvement.
                            </p>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="100" class="list-title-size">
                            <h3 class="list-title-size">Third-Party Data Processors</h3>
                            <p class="section-detail-size">
                                We may employ third-party companies and individuals to facilitate our Site, to provide the Site on our behalf, to perform Site-related services and/or to assist us in analyzing how our Site is used. These third parties have access to your Personal Information only to perform specific tasks on our behalf and are obligated not to disclose or use your information for any other purpose.
                            </p>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="100" class="list-title-size">
                            <h3 class="list-title-size">Communications</h3>
                            <p class="section-detail-size">
                                We may use your Personal Information to contact you with newsletters, marketing or promotional materials, and other information that may be of interest to you. You may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send or by contacting us directly.
                            </p>
                        </li>
                        
                        <li data-aos="fade-up" data-aos-delay="100" class="list-title-size">
                            <h3 class="list-title-size">Cookies</h3>
                            <p class="section-detail-size">
                                Cookies are files with a small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive. Like many sites, we use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Site.
                            </p>
                        </li>
                        
                        <li data-aos="fade-up" data-aos-delay="100" class="list-title-size">
                            <h3 class="list-title-size">Data Transfers</h3>
                            <p class="section-detail-size">
                                We may transfer the information we collect about you to countries other than the country in which the information was originally collected. Those countries may not have the same data protection laws as the country in which you initially provided the information. When we transfer your information to other countries, we will protect the information as described in this Privacy Policy and in compliance with applicable legal requirements providing adequate protection for the transfer of information to countries outside the EEA
                            </p>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="100" class="list-title-size">
                            <h3 class="list-title-size">Data Storage and Security</h3>
                            <p class="section-detail-size">
                                The security of your Personal Information is important to us. We store and process your personal data in accordance with the high security standards set by the GDPR. However, remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.
                            </p>
                        </li>
                            <li data-aos="fade-up" data-aos-delay="100" class="list-title-size">
                            <h3 class="list-title-size">Your Rights</h3>
                                <h4 class="section-title-size">
                                Under the GDPR, you have numerous rights in relation to your Personal Data:
                            </h4>
                                <ul>
                                    <li class="section-detail-size">
                                        The right to be informed about the collection and use of your Personal Data.
                                    </li>
                                        <li class="section-detail-size">
                                        The right to access the Personal Data we hold about you.
                                    </li>
                                        <li class="section-detail-size">
                                        The right to rectification if any Personal Data we hold about you is inaccurate or incomplete.
                                    </li>
                                        <li class="section-detail-size">
                                        The right to be forgotten – i.e. the right to ask us to delete any personal data we hold about you.
                                    </li>
                                        <li class="section-detail-size">
                                        The right to restrict (i.e. prevent) the processing of your Personal Data.
                                    </li>
                                        <li class="section-detail-size">
                                        The right to data portability (obtaining a copy of your Personal Data to re-use with another service or organization).
                                    </li>
                                    <li class="section-detail-size">
                                        The right to object to us using your Personal Data for particular purposes.
                                    </li>
                                </ul>
                                <h5 class="section-title-size">
                                    If you wish to exercise any of these rights, please contact us using the contact information below.
                                </h5>
                            </li>
                        <li data-aos="fade-up" data-aos-delay="100" class="list-title-size">
                            <h3 class="list-title-size">Data Retention</h3>
                            <p class="section-detail-size">
                                We will retain your Personal Information for the period necessary to fulfill the purposes outlined in this Privacy Policy unless a longer retention period is required or permitted by law.
                            </p>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="100" class="list-title-size">
                            <h3 class="list-title-size">Children's Privacy</h3>
                            <p class="section-detail-size">
                                Our Site does not address anyone under the age of 16 ("Children"). We do not knowingly collect personally identifiable information from children under 16. If you are a parent or guardian and you are aware that your child has provided us with Personal Information, please contact us. If we discover that a child under 16 has provided us with Personal Information, we will delete such information from our servers immediately.
                            </p>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="100" class="list-title-size">
                            <h3 class="list-title-size">Changes to This Privacy Policy</h3>
                            <p class="section-detail-size">
                                This Privacy Policy is effective as of 25/05/2023 and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page.
                                We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically. Your continued use of the Service after we post any modifications to the Privacy Policy on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified Privacy Policy.
                                If we make any material changes to this Privacy Policy, we will notify you either through the email address you have provided us, or by placing a prominent notice on our website.
                            </p>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="100" class="list-title-size">
                            <h3 class="list-title-size">Contact Us</h3>
                            <p class="section-detail-size">
                                If you have any questions about this Privacy Policy, please contact us at contact@ephylink.com.com.
                            </p>
                        </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
    $(function () {
        $("form[name='registration']").validate({
            rules: {
                firstname: { required: true },
                lastname: { required: true },
                email: {
                    required: true,
                    email: true
                },
                username: { required: true },
                password: {
                    required: true,
                },
                role: { required: true },
                terms: {
                    required: true,
                },
                level : {required : true}
            },
            messages: {
                firstname: { required: "Please enter a firstname", },
                lastname: { required: "Please enter a lastname", },
                email: {
                    required: "Please enter email address",
                    email: "Please enter a valid email address"
                },
                username: { required: "Please enter user name" },
                password: {
                    required: "Please enter a password",
                },
                role: { required: "please select valid role" },
                terms: {
                    required: "Please check checkbox",
                },
                level: { required: "please select valid level" }
            },
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else if (element.parent('.form-check').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function (form) {
                SaveUserData()
            }
        });
    });

    function SaveUserData() {
        var Userdata = {
            FirstName: $("#FirstName").val(),
            LastName: $("#LastName").val(),
            Email: $("#EmalId").val(),
            Password: $("#Password").val(),
            TermsCondition: $('#acceptTerms').is(':checked'),
            UserType: $("#userType").val(),
            FreelancerLevel: $("#drp-freelancer-level").val(),
            IsInvited: $("#hidIsInvite").val()
        }
        $("#preloader").show();
        $.ajax({
            type: "POST",
            url: "@Url.Action("AddorEditUserData", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(Userdata),
            success: function (result) {
                $("#preloader").hide();
                if (result.Message == "User created successfully") {
                    //alert(result.Message)
                    showToaster("success", "Success", result.Message);

                    window.location.href = '/Home/Login'
                    ResetForm()
                }
                else {
                    //alert(result.Message)
                    showToaster("error", "Error !", result.Message);
                }

            },
            error: function (result) {
                $("#preloader").hide();
                //alert("Error !");
                showToaster("error", "Error !", "Something went wrong !!");
            }
        });
    }

    function ResetForm() {
        $("#FirstName").val("")
        $("#LastName").val("")
        $("#EmalId").val("")
        $("#UserName").val("")
        $("#Password").val("")
        $("#userType").val("client")
        $("#acceptTerms").prop('checked', false);
    }

    function GetUserRole(){
        var role =  $("#userType").val();
        if (role == "Freelancer"){
            $("#freelancer-level").show()
        }
        else{
            $("#freelancer-level").hide()
        }
    }

    function CloseprivacyPolicyModal() {
        $("#privacyPolicyModal").modal('hide')
	}
    function OpenprivacyPolicyModal() {
        $("#privacyPolicyModal").modal('show')
	}
</script>
