@{
    ViewData["Title"] = "Return Stripe Page";
}

<main id="main" class="main">
    <div class="text-center">
        <h1 class="display-4">Thank you</h1>
        <p>Stripe account is connected and Active and you can receive transfers.</p>
    </div>
</main>

<script>
    $(function () {
        GetUserStripeDetails()
    })

    function GetUserStripeDetails() {
        //$("#preloader").show();
        //$.ajax({
        //    type: "Get",
        //    url: "@Url.Action("GetUserStripeDetails", "Home")",
        //    contentType: "application/json; charset=utf-8",
        //    dataType: "json",
        //    success: function (result) {

        //        $("#preloader").hide();
        //    },
        //    error: function (result) {
        //        //alert("failure");
        //        showToaster("error", "Error !", "Failure");
        //        $("#preloader").hide();
        //    }
        //});
        window.location = "@Url.Action("GetUserStripeDetails", "Home")";
    }
</script>