
@{
    ViewData["Title"] = "- Industries";
}

<main id="main" class="main">
    <div class="row">
        <!-- Recent Sales -->
        <div class="col-12">
            <div class="card recent-sales overflow-auto">
                <div class="card-body">
                    <h5 class="card-title">Industries</h5>

                    <a class="btn btn-brand m-2" onclick="OpenAddIndustriesModalPopup();">Add Industry</a>

                    <table class="table table-borderless datatable" id="IndustriesList">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Industry Name</th>
                                <th scope="col">Active</th>
                                <th scope="col"></th>
                                @*<th scope="col"></th>*@
                            </tr>
                        </thead>
                        <tbody id="#list">

                        </tbody>
                       
                    </table>

                </div>
            </div>
        </div><!-- End Recent Sales -->
    </div>

    <div class="modal fade" id="addIndusriesModal" tabindex="-1" aria-labelledby="addIndusriesModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title main-title">Add Industry</h4>
                    <a class="close" data-dismiss="#addIndusriesModal" onclick="CloseAddIndustriesModalPopup();"><i class="bi bi-x-circle"></i></a>
                </div>
                <div class="modal-body p-0">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                  
                                    <form class="row g-3 mt-3" name="addIndustriesForm">
                                        <input type="hidden" id="IndustryId" value="0">
                                        <div class="col-12">
                                            <label for="IndustryName" class="form-label">Industry Name</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="IndustryName" name="IndustryName">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label for="Active" class="form-label">Status</label>
                                            <div class="col-12 d-flex">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="Active" name="Active">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-brand">Submit</button>
                                            <button type="reset" class="btn btn-secondary" onclick="ResetForm();">Reset</button>
                                        </div>
                                    </form><!-- Vertical Form -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    

</main>
<script>
    $(function () {
        $("form[name='addIndustriesForm']").validate({
            rules: {
                IndustryName: { required: true },
            },
            messages: {
                IndustryName: { required: "Please enter service name" },
            },
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function (form) {
                AddIndustry()
            }
        });
        GetServiceList();
    });

    function AddIndustry() {
        var IndustryData = {
            Id: $('#IndustryId').val(),
            IndustryName: $("#IndustryName").val(),
            Active: $("#Active").is(':checked')
        };
        $.ajax({
            type: "POST",
            url: "@Url.Action("AddIndustriesForm", "Lookup")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(IndustryData),
            success: function (result) {
                alert(result.Message)
                GetServiceList();
                CloseAddIndustriesModalPopup();
            },
            error: function (result) {
                alert("Error occured..");
            }
        });
    }

    function ResetForm() {
        $("#IndustryName").val("");
        $("#Active").prop('checked', false);
    }
    function CloseAddIndustriesModalPopup() {
        $('.main-title').html('Add Industry');
        $("#addIndusriesModal").modal('hide')
    }
    function OpenAddIndustriesModalPopup(){
        $("#IndustryId").val(0);
        $("#IndustryName").val("");
        $("#Active").prop('checked', false);
        $("#addIndusriesModal").modal('show')
    }
    function GetServiceList() {
        $.ajax({
            type: "Get",
            url: "@Url.Action("GetIndustries", "Lookup")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                $('#IndustriesList').DataTable({
                    destroy: true,
                    data: result.Result,
                    "columns": [
                        {
                            "data": "Id",
                            "render": function (data, type, full, meta) {
                                return '<a class="cls-industries" onclick=EditData("' + data + '");>'+ data +'</a>';
                            }
                        },
                        { "data": "IndustryName" },
                        {
                            "data": "Active",
                            "render": function (data, type, row) {
                                if (data == true) {
                                    return '<span class="badge bg-success">' + data + '  </span>'
                                }
                                else {
                                    return '<span class="badge bg-danger">' + data + '</span>'
                                }
                            }
                        },
                        {
                            "data": "Id",
                            "render": function (data, type, full, meta) {
                                return '<a href="#" class="btn btn-danger" onclick=DeleteData("' + data + '");>Delete</a>';
                            }
                        }

                    ]
                });
            },
            error: function (result) {
                alert("failure");
            }
        });
    }
    function EditData(Id){
        var industryData = {
            Id: Id,
            IndustryName: "",
            Active: true
        };
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetIndustriesRecord", "Lookup")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(industryData),
            success: function (result) {
                if (result.Message == "Success"){
                    OpenAddIndustriesModalPopup();
                    $('.main-title').html('Edit Industry');
                        var IndustryId = result.Result.Id;

                        $('#IndustryId').val(IndustryId);
                        $("#IndustryName").val(result.Result.IndustryName);
                    if (result.Result.Active) {
                            $("#Active").prop('checked', true);
                        }
                        else{
                            $("#Active").prop('checked', false);
                        }
                }
            },
            error: function (result) {
                alert("Error occured..")
            }
        });
    }
    function DeleteData(IndustryId){
        if(confirm('Are you sure wants to delete this record?')){
            var IndustryData = {
                Id: IndustryId,
                IndustryName: "",
                Active: true
            };
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteIndustry", "Lookup")",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(IndustryData),
                success: function (result) {
                    alert(result.Message)
                    if (result.Message == "Deleted Successfully") {
                        GetServiceList();
                    }
                },
                error: function (result) {
                    alert("Error occured..");
                }
            });
        }
    }
    function OpenSolutionModal(id){
        $("#addSolutionModal").modal('show')
        $('#drp-industries').val(id).trigger('chosen:updated');
        $("#drp-industries option:not(:selected)").not(id).each(function (index) {
            $(this).prop('disabled', true);
        });
        $('#drp-industries').trigger('chosen:updated');

    }
</script>
