@{
    ViewData["Title"] = "- Solution";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
    <div class="row">
        <!-- Recent Sales -->
        <div class="col-12">
            <div class="card recent-sales overflow-auto">

                <div class="card-body">
                    <h5 class="card-title">Solutions</h5>

                    <a class="btn btn-brand m-2" onclick="OpenAddIndustriesModalPopup();">Create Solution</a>

                    <table class="table table-borderless datatable" id="solutionList">
                        <thead>
                            <tr>
                                <th style="width:10%">Id</th>
                                <th style="width:10%">Title</th>
                             @*   <th style="width:10%">Sub Title</th>*@
                                <th style="width:30%">Description</th>
                                <th style="width:20%">Image</th>
                                <th style="width:10%">Services</th>
                                <th style="width:10%">Industries</th>
                                <th style="width:10%"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div><!-- End Recent Sales -->
    </div>


</main>
<script>
    $(function () {
        GetSolutionList()
    });
    function GetSolutionList() {
        $("#preloader").show();
        $.ajax({
            type: "Get",
            url: "@Url.Action("GetSolutionsList", "Solutions")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                $("#preloader").hide();
                $('#solutionList').DataTable({
                    destroy: true,
                    data: result.Result,
                    "columns": [
                        {
                            "data": "Id",
                            "render": function (data, type, row) {
                                return '<a class="cls-service" onclick=GetSolutionDataById(' + data + ')>' + data + '</a>';
                            }
                        },
                        { "data": "Title" },
                        //{ "data": "SubTitle" },
                        {
                            "data": "Description",
                            "render": function (data, type, row) {
                                var description = data.length > 35 ? data.substring(0, 35) + "..." : data;
                                return "<span title='" + data + "'>" + description + "</span>";
                            }
                        },
                        {
                            "data": "ImageUrlWithSas",
                            "render": function (data, type, row) {
                                return '<img src="' + data + '" alt="Image" height="70" width="150" />';
                            }
                        },
                        { "data": "Services" },
                        { "data": "Industries" },
                        {
                            "data": "Id",
                            "render": function (data, type, row) {
                                return '<a class="btn btn-danger btn-sm" style="color: white;" onclick=DeleteSolution("' + row.ImageUrlWithSas + '","' + row.ImagePath + '",' + row.Id + ')>Delete</a>';

                            }
                        }

                    ]
                });


            },
            error: function (result) {
                alert("failure");
            }
        });
    }
    function DeleteSolution(ImageUrlWithSas, ImagePath, Id) {

        if (confirm('Are you sure want to delete solution?')) {
            var ServiceData = {
                Id: Id,
                ImagePath: ImagePath,
                ImageUrlWithSas: ImageUrlWithSas

            };
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteSolutions", "Solutions")",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(ServiceData),
                success: function (result) {
                    alert(result.Message);
                    GetSolutionList();

                },
                error: function (result) {
                    alert("Error occured..");
                }
            });
        }
    }

    function OpenAddIndustriesModalPopup() {
        $("#addSolutionModal").modal('show')
    }

    function GetSolutionDataById(Id) {
        var ServiceData = {
            Id: Id,
        };
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetSolutiondataById", "Solutions")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(ServiceData),
            success: function (result) {
                if (result != null) {
                    $("#addSolutionModal").modal('show')
                    $("#solution-img").remove()
                    $("#SolutionId").val(result.Result.Solution.Id)
                    $("#SolutionTitle").val(result.Result.Solution.Title)
                    $("#Solution_SubTitle").val(result.Result.Solution.SubTitle)
                    $("#SolutionDescription").val(result.Result.Solution.Description)
                    $("#ImagePath").val(result.Result.Solution.ImagePath)
                    $("#solutionImagepreview").find("span").first().remove();
                    $('#solutionImagepreview').show();
                    var span = document.createElement('span');
                    span.innerHTML =
                        ['<img class="SolutionImage" src="', result.Result.Solution.ImageUrlWithSas, '" style="height:200px;width:200px;"/>']
                            .join('');
                    document.getElementById('solutionImagepreview').insertBefore(span, null);
                    var industryvalues = new Array();
                    var servicesvalues = new Array();

                    $.each(result.Result.IndustryResult, function (index, value) {
                        industryvalues.push(value.IndustryId)
                    });

                    $.each(result.Result.ServiceResult, function (index, value) {
                        servicesvalues.push(value.ServicesId)
                    });
                    $('#drp-services').val(servicesvalues).trigger('chosen:updated');
                    $('#drp-industries').val(industryvalues).trigger('chosen:updated');
                }

            },
            error: function (result) {
                alert("Error occured..");
            }
        });
    }

</script>